#mainmenu{padding:0; height:auto; width:1024px; background: #fff; padding-bottom: 5px; position: absolute;}

#presentationMenu{
	background:transparent url('../../shared_assets/img/menu-border.png') no-repeat 34px bottom;
}

#mainmenu ul#presentationMenu {
    margin:0 0 0 0px; 
    width:1800px;
    padding:10px 00px 0px 44px;
    float:left;
}

#mainmenu ul#presentationMenu li {
    display:inline-block;
    margin:0 0 10px 10px; 
    padding:10px 20px 4px; 
    font-family: OptimaBold;
    text-transform: capitalize;
    color:#fff;
    font-size:21px;
    background: #009B78;
}

#mainmenu ul#presentationMenu li sup {
	bottom:0;
	top:-10px;
}

/*
#mainmenu ul#presentationMenu li.selected:nth-child(2),#mainmenu ul#presentationMenu li:nth-child(2):active{color:transparent;background: url('../../shared_assets/img/home_selected.png') no-repeat scroll center center;}
*/

#mainmenu ul#presentationMenu li:active{background:#E8343B;}
#mainmenu ul#presentationMenu li.selected{background:#E8343B;}

/* menu button */
#mainmenu ul#presentationMenu li:nth-child(1) {
    border-radius: 0 0 0 25px;
    width: 128px;    
    text-align: center;
    text-indent: 20px;
}

#mainmenu ul#presentationMenu li:nth-child(1):active, #mainmenu ul#presentationMenu li.selected:nth-child(1) { background-position: bottom; }


/* home button */
#mainmenu ul#presentationMenu li:nth-child(3) {
    color:transparent;
    background: #009B78 url('../../shared_assets/img/home_img.png') no-repeat center;	
}


#mainmenu ul#presentationMenu li.selected:nth-child(3) { background: #E8343B url('../../shared_assets/img/home_img.png') no-repeat center; }



/*
#mainmenu .menu-border-left { width: 160px; height: 30px; background: url('../../shared_assets/img/menu_border_left.png') no-repeat; }
*/