<article id="glossary" class="slide">
        
        
    <h1 id="glossaryTitle"></h1>

    <a id="closeButton" class="popup-close" onclick="javascript:app.slidePopup.hide(); menu.close();"></a>

    <div class="agendascroller" id="glossaryscroller" style="margin-top:0px;">
        <div id="FingerScroll">
            <div id="chapters" class="chapters" style="float:left; min-width:2000px;">
                <ul id="chapterlist" class="chapterlist">
                </ul>
            </div>
        </div><!--FingerScoll-->
    </div>     

    <div id="upArrow"></div>
    <div id="downArrow"></div>
    <div id="gradient"></div>

    <div class="leftArrow"></div> 
    <div class="rightArrow"></div>  


</article>
