﻿<article id="questions_contents" class="slide">
    <div class="row">

        <div class="clearfix">
            <div class="green-box">
                <ul>
                    <li onclick="app.collection.scrollTo('Efficacy'); app.slideshow.scrollTo('questions_why_is_aspirin_used_acutely1');"><span class="glowGreen"></span>Why is Aspirin used acutely<br /> and life-long in ACS patients?</li>
                    <li onclick="app.collection.scrollTo('Efficacy'); app.slideshow.scrollTo('questions_which_patients_benefit');"><span class="glowGreen"></span>Which ACS patients will<br /> benefit from Aspirin?</li>
                    <li onclick="app.collection.scrollTo('Efficacy'); app.slideshow.scrollTo('questions_patients_undergoing_revascularization');"><span class="glowGreen"></span>What is the evidence for Aspirin’s<br /> role in patients undergoing<br /> revascularization for ACS?</li>
                    <li onclick="app.collection.scrollTo('Guidelines Recommendations'); app.slideshow.scrollTo('questions_current_position_of_aspirin');"><span class="glowGreen"></span>What is the current position of<br /> Aspirin in the main guidelines<br /> for ACS?</li>
                    <li onclick="app.collection.scrollTo('Guidelines Recommendations'); app.slideshow.scrollTo('questions_recommendations_in_acute_treatment');"><span class="glowGreen"></span>What are the recommendations<br /> for Aspirin in the acute treatment<br /> of ACS?</li>
                </ul>
            </div>

            <div class="green-box last">
                <ul>
                    <li onclick="app.collection.scrollTo('Guidelines Recommendations'); app.slideshow.scrollTo('questions_recommendations_prevent_recurrent_events');"><span class="glowGreen"></span>What are the recommendations for<br /> Aspirin to prevent recurrent events<br /> after ACS?</li>
                    <li onclick="app.collection.scrollTo('Guidelines Recommendations'); app.slideshow.scrollTo('questions_aspirin_for_noncardiac_surgery');"><span class="glowGreen"></span>Should patients continue Aspirin therapy when undergoing<br />non-cardiac surgery?</li>
                    <li onclick="app.collection.scrollTo('Safety'); app.slideshow.scrollTo('questions_risk_factors_for_bleeding');"><span class="glowGreen"></span>What are the main risk factors<br /> for bleeding in ACS?</li>
                    <li onclick="app.collection.scrollTo('Safety'); app.slideshow.scrollTo('questions_strategies_to_reduce_bleeding');"><span class="glowGreen"></span>What strategies can be used<br /> to reduce or manage bleeding<br /> complications in ACS patients?</li>
                    <li onclick="app.collection.scrollTo('Aspirin<sup>®</sup> Protect'); app.slideshow.scrollTo('questions_what_makes_aspirin_different');"><span class="glowGreen"></span>What makes Aspirin<sup>&reg;</sup> Protect<br /> different?</li>
                </ul>
            </div>
        </div>

    </div>
</article>


<!-- 
app.goTo('demo', 'chapter_4', 'third_slide'); 
app.collection.scrollTo(5);


app.goTo('Efficacy', 'questions_which_patients_benefit');"><span class=
app.goTo('Efficacy', 'questions_patients_undergoing_revascularization')
app.slideshow.scrollTo('questions_current_position_of_aspirin');"><span
app.slideshow.scrollTo('questions_recommendations_in_acute_treatment');
-->