﻿<article id="questions_what_makes_aspirin_different" class="slide">
    <div class="row">

        <h1>What makes Aspirin<sup>&reg;</sup> Protect different?</h1>

        <div class="main-box">

            <div class="section s1 clearfix">
                <span class="ico icon3"></span>
                <p>
                    <span class="aspirin-txt">Aspirin</span> is the most studied antiplatelet drug
                </p>
            </div>

            <div class="section s2 clearfix">
                <span class="ico icon2"></span>
                <p>
                    <span class="aspirin-txt">Aspirin</span> is recommended by all the guidelines for both 
                    acute and life-long treatment in ACS
                </p>
            </div>

            <div class="section s3 clearfix">
                <span class="ico icon1"></span>
                <p>
                    <span class="aspirin-txt">Aspirin<sup>&reg;</sup> Protect</span> is the original from Bayer
                </p>
            </div>

            <div class="section s4 clearfix">
                <span class="ico icon4"></span>
                <p class="twoline">
                    <span class="aspirin-txt">Aspirin<sup>&reg;</sup> Protect</span> 100 mg is the most
                    used medicine worldwide for the prevention of CVD and is trusted by physicians
                </p>
            </div>

            <div class="section s5 clearfix">
                <span class="ico icon5"></span>
                <p class="twoline">
                    <span class="aspirin-txt">Aspirin<sup>&reg;</sup> Protect’s</span> enteric coating
                    formulation gives additional benefits in terms of tolerability, which means improved compliance<sup>28</sup>
                </p>
            </div>
        </div>

        <a class="learn-more btn2" onclick="app.slidePopup.show('questions_what_makes_aspirin_different_popup');"><span>Learn more about enteric coating</span></a>


    </div>
</article>
