﻿<article id="questions_why_is_aspirin_used_acutely4" class="slide">
    <div class="row">

        <h1>Why is Aspirin used acutely and life-long <br />in ACS patients?</h1>

        <h3>No other antiplatelet monotherapy regimen has proved as effective as<br />
        <span class="aspirin-txt">Aspirin</span> alone in patients with ACS</h3>

        <div class="box clearfix">
            <div class="fl" style="width: 245px">
                <ul>
                    <li class="anim-elem"><span class="aspirin-txt">Aspirin</span> has been<br />
                    included as the<br />
                    essential background<br />
                    antiplatelet therapy<br />in all recent landmark ACS trials<sup>1,4–6</sup></li>
                </ul>
            </div>
            <div class="animation-box fl">
                <!--<img src="content/img/questions_why_is_aspirin_used_acutely4/full.png" />-->
                <div id="animQ4-an-anim"><ol>

                    <li id="animQ4-an-scene-0" >
                        <div class="animQ4-an-stage">
                            <div id="animQ4-an-obj-1"><div><img  height="65" width="84"  src="content/animations/questions_why_is_aspirin_used_acutely4/green_arrow.png"></div></div>
                            <div id="animQ4-an-obj-2"><div><img  height="65" width="84"  src="content/animations/questions_why_is_aspirin_used_acutely4/green_arrow.png"></div></div>
                            <div id="animQ4-an-obj-3"><div><img  height="54" width="160"  src="content/animations/questions_why_is_aspirin_used_acutely4/child_green.png"></div></div>
                            <div id="animQ4-an-obj-4"><span>+Clopidogrel</span></div>
                            <div id="animQ4-an-obj-5"><div><img  height="54" width="160"  src="content/animations/questions_why_is_aspirin_used_acutely4/child_blue.png"></div></div>
                            <div id="animQ4-an-obj-6"><span>CURE</span></div>
                            <div id="animQ4-an-obj-7"><div><img  height="65" width="84"  src="content/animations/questions_why_is_aspirin_used_acutely4/green_arrow.png"></div></div>
                            <div id="animQ4-an-obj-8"><div><img  height="65" width="84"  src="content/animations/questions_why_is_aspirin_used_acutely4/green_arrow.png"></div></div>
                            <div id="animQ4-an-obj-9"><div><img  height="54" width="160"  src="content/animations/questions_why_is_aspirin_used_acutely4/child_green.png"></div></div>
                            <div id="animQ4-an-obj-10"><span>+Prasugrel</span></div>
                            <div id="animQ4-an-obj-11"><div><img  height="54" width="160"  src="content/animations/questions_why_is_aspirin_used_acutely4/child_blue.png"></div></div>
                            <div id="animQ4-an-obj-12"><span>TRITON-TIMI 38</span></div>
                            <div id="animQ4-an-obj-13"><div><img  height="65" width="84"  src="content/animations/questions_why_is_aspirin_used_acutely4/green_arrow.png"></div></div>
                            <div id="animQ4-an-obj-14"><div><img  height="65" width="84"  src="content/animations/questions_why_is_aspirin_used_acutely4/green_arrow.png"></div></div>
                            <div id="animQ4-an-obj-15"><div><img  height="54" width="160"  src="content/animations/questions_why_is_aspirin_used_acutely4/child_green.png"></div></div>
                            <div id="animQ4-an-obj-16"><span>+Ticagrelor</span></div>
                            <div id="animQ4-an-obj-17"><div><img  height="54" width="160"  src="content/animations/questions_why_is_aspirin_used_acutely4/child_blue.png"></div></div>
                            <div id="animQ4-an-obj-18"><span>PLATO</span></div>
                            <div id="animQ4-an-obj-19"><div><img  height="53" width="532"  src="content/animations/questions_why_is_aspirin_used_acutely4/aspirin_btn.png"></div></div>
                            <div id="animQ4-an-obj-20"><span>ASPIRIN</span></div>
                        </div>
                    </li>

                </ol></div>
            </div>
        </div>

    </div>
</article>