﻿<article id="questions_recommendations_prevent_recurrent_events" class="slide">
    <div class="row">

        <h1>What are the recommendations for Aspirin<br /> to prevent recurrent events after ACS?</h1>
        <h3>Only <span class="aspirin-txt">Aspirin</span> is recommended as the life-long antiplatelet to<br /> protect from recurrent events</h3>

        <div class="accordion">
            <div class="acc-el">
                <div class="acc-header radius-top">
                    <h3 class="radius-top">DAPT for NSTE-ACS<sup>15,16,19,20</sup></h3>
                    <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update;<br /> 2012 CCS focused update; 2006 ACS Working Group guidelines)</span>
                    <span class="arrow" style="top: 46px;"></span>
                </div>
                <div class="acc-content">
                    <p>In medically managed NSTE-ACS patients, <span class="aspirin-txt">low-dose Aspirin</span> is recommended life-long plus a P2Y<sub>12</sub> receptor inhibitor for 12 months</p>
                </div>
            </div>

            <div class="acc-el">
                <div class="acc-header">
                    <h3>DAPT for STEMI<sup>17,18,20</sup></h3>
                    <span>(2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines;<br /> 2006 ACS Working Group guidelines)</span>
                    <span class="arrow" style="top: 46px;"></span>
                </div>
                <div class="acc-content">
                    <p>Antiplatelet therapy with <span class="aspirin-txt">low-dose Aspirin</span> (75–100 mg) is indicated life-long after STEMI<p>
                    <ul class="disc">
                        <li>DAPT (Aspirin and a P2Y<sub>12</sub> receptor inhibitor) is recommended in patients treated with PCI</li>
                        <li>The duration of P2Y<sub>12</sub> receptor inhibitor therapy after PCI should be approximately 12 months</li>
                    </ul>

                </div>
            </div>

            <div class="acc-el">
                <div class="acc-header">
                    <h3>Post-PCI DAPT<sup>15–20</sup></h3>
                    <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update; <br />
                    2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines; <br />
                    2012 CCS focused update; 2006 ACS Working Group guidelines)</span>
                    <span class="arrow" style="top: 54px;"></span>
                </div>
                <div class="acc-content">
                    <p>After PCI, <span class="aspirin-txt">low-dose Aspirin</span> is recommended life-long as part of an initial DAPT regimen<p>
                    <ul class="disc">
                        <li>If a bare metal stent is implanted, the P2Y<sub>12</sub> receptor inhibitor should be given for <span class="bold">up to 12 months</span></li>
                        <li>With a drug-eluting stent, the duration of P2Y<sub>12</sub> receptor inhibitor therapy should be <span class="bold">at least 12 months</span></li>
                    </ul>

                </div>
            </div>

            <div class="acc-el">
                <div class="acc-header">
                    <h3>Post-CABG DAPT<sup>18,21</sup></h3>
                    <span>(2012 ESC STEMI guidelines; 2011 ACCF/AHA guidelines for CABG)</span>
                    <span class="arrow" style="top: 38px;"></span>
                </div>
                <div class="acc-content radius-bottom">
                    <p>After PCI, <span class="aspirin-txt">low dose Aspirin</span> is recommended for life-long treatment<p>
                    <ul class="disc">
                        <li>In patients post-CABG it is reasonable to restart DAPT as soon as considered safe in relation to bleeding risk</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</article>

