﻿<article id="questions_why_is_aspirin_used_acutely3" class="slide">
    <div class="row">

        <h1>Why is Aspirin used acutely and life-long <br />in ACS patients?</h1>

        <h3 class="anim-elem">Life-long <span class="aspirin-txt">Aspirin</span> prevents recurrence of CV events</h3>

        <div class="animation-box">
            <div id="animQ3-an-anim">
                <ol>
                    <li id="animQ3-an-scene-0" >
                        <div class="animQ3-an-stage">
                            <div id="animQ3-an-obj-1"><span>Aspirin versus patients not receiving Aspirin<sup>2</sup></span></div>
                            <div id="animQ3-an-obj-2"><div><img  height="161" width="755"  src="content/animations/questions_why_is_aspirin_used_acutely3/graph.png"></div></div>
                            <div id="animQ3-an-obj-3"><span>Reduction in risk (%)</span></div>
                            <div id="animQ3-an-obj-4"><span>Serious Vascular Events</span></div>
                            <div id="animQ3-an-obj-5"><div><img  height="101" width="62"  src="content/animations/questions_why_is_aspirin_used_acutely3/bar1.png"></div></div>
                            <div id="animQ3-an-obj-6"><span>21%</span></div>
                            <div id="animQ3-an-obj-7"><span>P<0.00001</span></div>
                            <div id="animQ3-an-obj-8"><span>Major Coronary Events</span></div>
                            <div id="animQ3-an-obj-9"><div><img  height="97" width="62"  src="content/animations/questions_why_is_aspirin_used_acutely3/bar2.png"></div></div>
                            <div id="animQ3-an-obj-10"><span>20%</span></div>
                            <div id="animQ3-an-obj-11"><span>P<0.00003</span></div>
                            <div id="animQ3-an-obj-12"><span>Non-fatal MI</span></div>
                            <div id="animQ3-an-obj-13"><div><img  height="139" width="62"  src="content/animations/questions_why_is_aspirin_used_acutely3/bar3.png"></div></div>
                            <div id="animQ3-an-obj-14"><span>29%</span></div>
                            <div id="animQ3-an-obj-15"><span>P<0.00003</span></div>
                            <div id="animQ3-an-obj-16"><span>Vascular Death</span></div>
                            <div id="animQ3-an-obj-17"><div><img  height="64" width="62"  src="content/animations/questions_why_is_aspirin_used_acutely3/bar4.png"></div></div>
                            <div id="animQ3-an-obj-18"><span>13%</span></div>
                            <div id="animQ3-an-obj-19"><span>P<0.003</span></div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>


        <p class="bottom-legend anim-elem">
            MI = Myocardial infarction; Serious vascular events defined as MI, stroke, or death 
            from a vascular cause and death from an unknown cause; Major coronary events 
            defined as myocardial infarction, coronary death, or sudden death.
        </p>
    </div>
</article>