﻿<article id="questions_recommendations_in_acute_treatment" class="slide">
    <div class="row">

        <h1 class="flicker">What are the recommendations for Aspirin in<br /> the acute treatment of ACS?</h1>
        <h3 class="flicker"><span class="aspirin-txt">Aspirin</span> is the integral acute therapy for patients with ACS and<br /> should be given as soon as possible unless contraindicated</h3>

        <div class="accordion">
            <div class="acc-el">
                <div class="acc-header radius-top">
                    <h3>Medically managed<sup>15,16</sup></h3>
                    <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update)</span>
                    <span class="arrow" style="top: 35px;"></span>
                </div>
                <div class="acc-content">
                    <p><span class="aspirin-txt">Aspirin</span> should be administered to NSTE-ACS patients as soon as possible after hospital presentation</p>
                </div>
            </div>

            <div class="acc-el">
                <div class="acc-header">
                    <h3>Primary PCI<sup>15-18</sup></h3>
                    <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update; 2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                    <span class="arrow" style="top: 40px;"></span>
                </div>
                <div class="acc-content">
                    <p><span class="aspirin-txt">Aspirin</span> (150&ndash;300 mg or 162&ndash;325 mg) should be given before primary PCI</p>
                </div>
            </div>

            <div class="acc-el">
                <div class="acc-header">
                    <h3>Fibrinolytic reperfusion in STEMI<sup>17,18</sup></h3>
                    <span>(2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                    <span class="arrow" style="top: 35px;"></span>
                </div>
                <div class="acc-content">
                    <p><span class="aspirin-txt">Aspirin</span> (150&ndash;300 mg or 162&ndash;325 mg) should be administered to patients who receive fibrinolytic therapy</p>
                </div>
            </div>

            <div class="acc-el">
                <div class="acc-header">
                    <h3>CABG<sup>15-18</sup></h3>
                    <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update; 2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                    <span class="arrow" style="top: 40px;"></span>
                </div>
                <div class="acc-content radius-bottom">
                    <p><span class="aspirin-txt">Aspirin</span> therapy should not be withheld before CABG</p>
                </div>
            </div>
        </div><!-- end accordion -->

        <div class="learnMore-box">
            <a class="learn-more" onclick="app.slidePopup.show('questions_recommendations_in_acute_treatment_popup');">
                <span>Learn more<br /> about other<br /> antithrombotics<br /> in ACS</span>
            </a>
        </div>


    </div>
</article>

<!-- onclick="app.slidePopup.show('questions_recommendations_in_acute_treatment_popup');" -->