﻿<article id="questions_which_patients_benefit" class="slide">
    <div class="row">

        <h1>Which ACS patients will benefit from Aspirin?</h1>

        <h3><span class="aspirin-txt">Aspirin</span> delivers efficacy benefits across the full spectrum of ACS diagnosis</h3>

        
        <div class="box clearfix">
            <!--<img src="content/img/questions_which_patients_benefit/full.png" />
            <span id="open">open</span>-->
            
            <div class="fl learn-box">
                <a class="learn-more" onclick="app.slidePopup.show('questions_which_patients_benefit_popup');"><span>Learn more<br />about<br /> Aspirin<br /> studies</span></a>
            </div>

            <div class="animation-box">
                <div class="fl option-box">
                    <a class="btn-options left-btn glowGreen" id="NSTE-ACS"><span class="bold">NSTE-ACS</span></a>

                    <div id="aniQ5left-an-anim"><ol>
                        <li id="aniQ5left-an-scene-0" >
                            <div class="aniQ5left-an-stage">
                                <div id="aniQ5left-an-obj-1"><div><img  height="105" width="168"  src="content/animations/questions_which_patients_benefit/arrow.png"></div></div>
                                <div id="aniQ5left-an-obj-2"><span class="bold"><span class="redtext">50–70%</span><br />reduction in CV events in all NSTE-ACS</span></div>
                                <div id="aniQ5left-an-obj-3"><div><img  height="200" width="251"  src="content/animations/questions_which_patients_benefit/block.png"></div></div>
                                <div id="aniQ5left-an-obj-4"><span>Numerous studies have<br /> consistently demonstrated<br /> the protective effect of <span class="bold">Aspirin</span><br /> in patients with NSTE-ACS<br /> compared with placebo.<sup>7–11</sup><br /> Acute treatment with <span class="bold">Aspirin</span><br /> has been shown to reduce cardiovascular events in patients<br /> with <span class="bold">unstable angina by 30-43%</span>.
                                </span></div>
                            </div>
                        </li>
                    </ol></div>
                </div>

                <div class="fl option-box">
                    <a class="btn-options right-btn glowGreen" id="stemi"><span class="bold">STEMI</span></a>

                    <div id="aniQ5right-an-anim"><ol>
                        <li id="aniQ5right-an-scene-0" >
                            <div class="aniQ5right-an-stage">
                                <div id="aniQ5right-an-obj-1"><div><img  height="105" width="168"  src="content/animations/questions_which_patients_benefit/arrow.png"></div></div>
                                <div id="aniQ5right-an-obj-2"><span class="bold"><span class="redtext">23%</span><br /> reduction in<br /> risk of vascular<br /> death</span></div>
                                <div id="aniQ5right-an-obj-3"><div><img  height="200" width="251"  src="content/animations/questions_which_patients_benefit/block.png"></div></div>
                                <div id="aniQ5right-an-obj-4"><span>In ISIS-2, after 5 weeks,<br /> <span class="bold">Aspirin</span> reduced the risk<br /> of vascular death by <span class="bold">23%</span><br /> compared to placebo.<sup>1</sup><br /> Non-fatal MI and stroke were<br /> reduced by <span class="bold">49%</span> and <span class="bold">46%</span><br /> with <span class="bold">Aspirin</span> treatment.<br /> The early survival benefits<br /> lasted up to 10 years.<sup>3</sup></span></div>
                            </div>
                        </li>
                    </ol></div>
                </div>
            </div><!-- end animation-box -->

        </div>

        <p class="bottom-legend">
            CV = Cardiovascular; MI = Myocardial infarction; NSTE-ACS = Non-ST-elevation acute coronary syndromes; <br />
            STEMI = ST-elevation myocardial infarction.
        </p>

    </div>
</article>


