﻿<article id="questions_recommendations_in_acute_treatment_popup" class="slide">
    <div class="row">
        <div id="closePopup" onclick="app.slidePopup.hide();"><span>Close</span>X</div>

            <div class="accordion">
                <div class="acc-el">
                    <div class="acc-header radius-top">
                        <h3>NSTE-ACS patients<sup>15,16</sup></h3>
                        <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update)</span>
                        <span class="arrow" style="top: 35px;"></span>
                    </div>
                    <div class="acc-content">
                        <ul class="disc">
                            <li>A loading dose followed by a daily maintenance dose of a P2Y<sub>12</sub> receptor inhibitor (either clopidogrel, ticagrelor or prasugrel) should be considered in patients unsuitable for <span class="aspirin-txt">Aspirin</span></li>
                            <li>Two P2Y<sub>12</sub> receptor inhibitors should not be used together as dual antiplatelet therapy (DAPT)</li>
                        </ul>
                    </div>
                </div>

                <div class="acc-el">
                    <div class="acc-header">
                        <h3>Medically managed<sup>15,16</sup></h3>
                        <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update)</span>
                        <span class="arrow" style="top: 35px;"></span>
                    </div>
                    <div class="acc-content">
                        <ul class="disc">
                            <li>
                                Clopidogrel or ticagrelor (loading dose followed by daily maintenance dose) should be added to <span class="aspirin-txt">Aspirin</span>
                                and anticoagulant therapy as soon as possible after admission
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="acc-el">
                    <div class="acc-header">
                        <h3>Primary PCI<sup>15-18</sup></h3>
                        <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update; 2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                        <span class="arrow" style="top: 40px;"></span>
                    </div>
                    <div class="acc-content">
                        <ul class="disc">
                            <li>
                                A P2Y<sub>12</sub> receptor inhibitor should be added to <span class="aspirin-txt">Aspirin</span> for primary PCI plus an injectable anticoagulant
                            </li>
                            <li>
                                A GP IIb/IIIa inhibitor can be considered depending on bleeding risk
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="acc-el">
                    <div class="acc-header">
                        <h3>Fibrinolytic reperfusion in STEMI<sup>17,18</sup></h3>
                        <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update; 2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                        <span class="arrow" style="top: 40px;"></span>
                    </div>
                    <div class="acc-content">
                        <ul class="disc">
                            <li>
                                Clopidogrel should be added to <span class="aspirin-txt">Aspirin</span> for primary PCI plus an injectable anticoagulant
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="acc-el">
                    <div class="acc-header">
                        <h3>CABG<sup>15-18</sup></h3>
                        <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update; 2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                        <span class="arrow" style="top: 40px;"></span>
                    </div>
                    <div class="acc-content radius-bottom">
                        <ul class="disc">
                            <li>
                                Clopidogrel therapy should be discontinued at least 5 days before planned CABG
                            </li>
                            <li>
                                Prasugrel should be discontinued at least 7 days before planned CABG
                            </li>
                            <li>
                                Ticagrelor should be discontinued at least 5 days before planned CABG
                            </li>
                            <li>
                                IV GP IIb/IIIa inhibitor therapy should be discontinued 4 hours before CABG
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end accordion -->


    </div>
</article>