﻿<article id="questions_which_patients_benefit_popup" class="slide">
    <div class="row">
        <div id="closePopup" onclick="app.slidePopup.hide();"><span>Close</span>X</div>

        <h3>
            Death or MI at the end of study medication in four randomized trials of Aspirin<br /> 
            versus control in patients with NSTE-ACS
        </h3>

        <div class="animation-box">

            <div id="aniQ5popup-an-anim">
                <ol>
                    <li id="aniQ5popup-an-scene-0" >
                        <div class="aniQ5popup-an-stage">
                            <div id="aniQ5popup-an-obj-1"><span class="bold">VA '83 = VA Co-op<br /> Study (1983)</span></div>
                            <div id="aniQ5popup-an-obj-2"><span class="bold">Cairns '85 = Cairns<br /> et al (1985)</span></div>
                            <div id="aniQ5popup-an-obj-3"><span class="bold">Theroux '88 =<br /> Théroux et al (1988)</span></div>
                            <div id="aniQ5popup-an-obj-4"><span class="bold">RISC '90 =<br /> RISC Study (1990)</span></div>
                            <div id="aniQ5popup-an-obj-30"><span class="bold">All</span></div>
                            <div id="q5-push">
                                <div id="aniQ5popup-an-obj-5"><div><img  height="9" width="49"  src="content/animations/questions_which_patients_benefit/size-line.png"></div></div>
                                <div id="aniQ5popup-an-obj-6"><span class="bold">Size</span></div>
                                <div id="aniQ5popup-an-obj-7"><div><img  height="9" width="444"  src="content/animations/questions_which_patients_benefit/study-line.png"></div></div>
                                <div id="aniQ5popup-an-obj-8"><span class="bold">Death or MI at end study medication</span></div>
                                <div id="aniQ5popup-an-obj-9"><div><img  height="9" width="134"  src="content/animations/questions_which_patients_benefit/axis-x.png"></div></div>
                                <div id="aniQ5popup-an-obj-10"><span>0%</span></div>
                                <div id="aniQ5popup-an-obj-11"><span>10%</span></div>
                                <div id="aniQ5popup-an-obj-12"><span>20%</span></div>
                                <div id="aniQ5popup-an-obj-13"><span>Incidence<br>
                                6.2 vs 12.2%</span></div>
                                <div id="aniQ5popup-an-obj-14"><span class="bold">1266</span></div>
                                <div id="aniQ5popup-an-obj-15"><span class="bold">555</span></div>
                                <div id="aniQ5popup-an-obj-16"><span class="bold">479</span></div>
                                <div id="aniQ5popup-an-obj-17"><span class="bold">796</span></div>
                                <div id="aniQ5popup-an-obj-18"><div><img  height="21" width="24"  src="content/animations/questions_which_patients_benefit/g.png"></div></div>
                                <div id="aniQ5popup-an-obj-19"><div><img  height="21" width="24"  src="content/animations/questions_which_patients_benefit/r.png"></div></div>
                                <div id="aniQ5popup-an-obj-20"><span>Aspirin</span></div>
                                <div id="aniQ5popup-an-obj-21"><span>Controls</span></div>
                                <div id="aniQ5popup-an-obj-22"><div><img  height="16" width="69"  src="content/animations/questions_which_patients_benefit/r1.png"></div></div>
                                <div id="aniQ5popup-an-obj-23"><div><img  height="16" width="35"  src="content/animations/questions_which_patients_benefit/g1.png"></div></div>
                                <div id="aniQ5popup-an-obj-24"><div><img  height="16" width="100" src="content/animations/questions_which_patients_benefit/r2.png"></div></div>
                                <div id="aniQ5popup-an-obj-25"><div><img  height="16" width="81"  src="content/animations/questions_which_patients_benefit/g2.png"></div></div>
                                <div id="aniQ5popup-an-obj-26"><div><img  height="16" width="43"  src="content/animations/questions_which_patients_benefit/r3.png"></div></div>
                                <div id="aniQ5popup-an-obj-27"><div><img  height="16" width="17"  src="content/animations/questions_which_patients_benefit/g3.png"></div></div>
                                <div id="aniQ5popup-an-obj-28"><div><img  height="16" width="114" src="content/animations/questions_which_patients_benefit/r4.png"></div></div>
                                <div id="aniQ5popup-an-obj-29"><div><img  height="16" width="49"  src="content/animations/questions_which_patients_benefit/g4.png"></div></div>
                            
                                <div id="aniQ5popup-an-obj-31"><span class="bold">3096</span></div>
                                <div id="aniQ5popup-an-obj-32"><div><img  height="16" width="82"  src="content/animations/questions_which_patients_benefit/r5.png"></div></div>
                                <div id="aniQ5popup-an-obj-33"><div><img  height="16" width="43"  src="content/animations/questions_which_patients_benefit/g5.png"></div></div>
                                <div id="aniQ5popup-an-obj-34"><span>Across the four studies,<br /> <span class="aspirin-txt">Aspirin</span> therapy reduced<br /> the rate of vascular<br /> events by <span class="aspirin-txt">53%</span></span></div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div> 

        </div>

        <p class="bottom-legend">
            MI = Myocardial infarction.<br /><br />
            Adapted from Bassand et al 2007<sup>12</sup>
        </p>

    </div>
</article>