﻿<article id="questions_risk_factors_for_bleeding_popup" class="slide">
    <div class="row">
        <div id="closePopup" onclick="app.slidePopup.hide();"><span>Close</span>X</div>

        <h3>
            Risk of bleeding requiring hospitalization associated<br />with various antithrombotic regimens after first MI<sup>26</sup>
        </h3>

        <div class="box clearfix">
            <div class="animation-box fl">
                <div id="aniQrisk-popup-an-anim">
                    <ol>
                        <li id="aniQrisk-popup-an-scene-0" >
                            <div class="aniQrisk-popup-an-stage">
                                <div class="aspirin-highlight glowGreen"></div>
                                <div id="aniQrisk-popup-an-obj-1"><div><img  height="354" width="521"  src="content/animations/questions_risk_factors_for_bleeding_popup/drops.png"></div></div>
                                <div id="aniQrisk-popup-an-obj-2"></div>
                                <div id="aniQrisk-popup-an-obj-3"><div><img  height="354" width="521"  src="content/animations/questions_risk_factors_for_bleeding_popup/graph.png"></div></div>
                                <div id="aniQrisk-popup-an-obj-4"><span>2.6</span></div>
                                <div id="aniQrisk-popup-an-obj-5"><span>3.7</span></div>
                                <div id="aniQrisk-popup-an-obj-6"><span>4.3</span></div>
                                <div id="aniQrisk-popup-an-obj-7"><span>4.6</span></div>
                                <div id="aniQrisk-popup-an-obj-8"><span>5.1</span></div>
                                <div id="aniQrisk-popup-an-obj-9"><span>12.0</span></div>
                                <div id="aniQrisk-popup-an-obj-10"><span>12.3</span></div>
                                <div id="aniQrisk-popup-an-obj-11"><span>N=40,812<br />
                                &ge;30 years with<br>
                                first MI</span></div>
                                <div id="aniQrisk-popup-an-obj-12"><span>Annual incidence of bleeding (%)</span></div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div><!-- end animation box -->

            <ul class="fr">
                <li>
                    Compared with <span class="aspirin-txt">Aspirin</span><br />
                    alone, dual and triple     
                    therapy are associated      
                    with an increased risk<br />     
                    of bleeding in patients    
                    with acute MI<sup>12</sup>
                </li>
            </ul>
        </div>

        <p class="bottom-legend">MI = Myocardial infarction; VKA = Vitamin K antagonist.</p>

    </div>
</article>