﻿<article id="questions_risk_factors_for_bleeding" class="slide">
    <div class="row">

        <h1>What are the main risk factors for bleeding in ACS?</h1>

        <h3>Several independent factors can increase the risk of bleeding in ACS patients<sup>25</sup></h3>

        <div class="animation-box">
            <table>
                <thead>
                    <tr>
                        <th>Variables</th>
                        <th>&#37; increase risk of<br />bleeding</th>
                        <th>P-value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mean arterial pressure (per 20 mmHg decrease)</td>
                        <td>11&#37;</td>
                        <td>0.0016</td>
                    </tr>
                    <tr>
                        <td>Age (per 10-year increase)</td>
                        <td>28&#37;</td>
                        <td><0.0001</td>
                    </tr>
                    <tr>
                        <td>Female sex</td>
                        <td>43&#37;</td>
                        <td><0.0001</td>
                    </tr>
                    <tr>
                        <td>History of renal insufficiency</td>
                        <td>49&#37;</td>
                        <td><0.0004</td>
                    </tr>
                    <tr>
                        <td>History of bleeding</td>
                        <td>183&#37;</td>
                        <td><0.0001</td>
                    </tr>
                   
                    <tr>
                        <td colspan="3" class="padding-top"></td>
                    </tr>
                    <tr>
                        <td>Thrombolytics only</td>
                        <td>43&#37;</td>
                        <td>0.0017</td>
                    </tr>
                    <tr>
                        <td>GP IIb/IIIa blockers</td>
                        <td>93&#37;</td>
                        <td><0.0001</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="padding-top"></td>
                    </tr>
                    <tr>
                        <td>Thrombolytics and GP IIb/IIIa blockers</td>
                        <td>138&#37;</td>
                        <td><0.0001</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="padding-top"></td>
                    </tr>
                    <tr>
                        <td>Other vasodilators</td>
                        <td>35&#37;</td>
                        <td>0.00068</td>
                    </tr>
                    <tr>
                        <td>Percutaneous coronary intervention</td>
                        <td>63&#37;</td>
                        <td><0.0001</td>
                    </tr>
                    <tr>
                        <td>IV inotropic agents</td>
                        <td>106&#37;</td>
                        <td><0.0001</td>
                    </tr>
                    <tr>
                        <td>Right-heart catheterization</td>
                        <td>148&#37;</td>
                        <td><0.0001</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

        <div class="learnMore-box">
            <a class="learn-more"  onclick="app.slidePopup.show('questions_risk_factors_for_bleeding_popup');">
                <span>Learn more<br /> about bleeding<br /> risk and<br/> antithrombotic<br /> therapy</span>
            </a>
        </div>



        <div class="popup-box">
            <div class="animation-box">
                <!--<img src="content/animations/questions_risk_factors_for_bleeding/full_popup.png" />-->
            </div>

            <ul>
                <li>Compared with <span class="aspirin-txt">Aspirin</span><br />
                alone, dual and triple<br />
                therapy is associated<br /> 
                with an increased risk<br />
                of bleeding in patients<br />
                with acute MI<span>13</span></li>
            </ul>

            <p class="legend-bottom">VKA = vitamin K antagonist; MI=myocardial infarction</p>
        </div>

    </div>
</article>



<!--<div id="aniQrisk-an-anim">
                <ol>
                    <li id="aniQrisk-an-scene-0" >
                        <div class="aniQrisk-an-stage">
                            <div id="aniQrisk-an-obj-2"><div><img  height="382" width="639"  src="content/animations/questions_risk_factors_for_bleeding/graph.png"></div></div>
                            <div id="aniQrisk-an-obj-3"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-4"><div><img  height="1" width="20" src="content/animations/questions_risk_factors_for_bleeding/l1.png"></div></div>
                            <div id="aniQrisk-an-obj-5"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-6"><div><img  height="1" width="24" src="content/animations/questions_risk_factors_for_bleeding/l2.png"></div></div>
                            <div id="aniQrisk-an-obj-7"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-8"><div><img  height="1" width="24" src="content/animations/questions_risk_factors_for_bleeding/l3.png"></div></div>
                            <div id="aniQrisk-an-obj-9"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-10"><div><img  height="1" width="105"  src="content/animations/questions_risk_factors_for_bleeding/l4.png"></div></div>
                            <div id="aniQrisk-an-obj-11"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-12"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-13"><div><img  height="1" width="33" src="content/animations/questions_risk_factors_for_bleeding/l6.png"></div></div>
                            <div id="aniQrisk-an-obj-14"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-15"><div><img  height="1" width="38" src="content/animations/questions_risk_factors_for_bleeding/l7.png"></div></div>
                            <div id="aniQrisk-an-obj-16"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-17"><div><img  height="1" width="42" src="content/animations/questions_risk_factors_for_bleeding/l8.png"></div></div>
                            <div id="aniQrisk-an-obj-18"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-19"><div><img  height="1" width="63" src="content/animations/questions_risk_factors_for_bleeding/l9.png"></div></div>
                            <div id="aniQrisk-an-obj-20"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-21"><div><img  height="1" width="38" src="content/animations/questions_risk_factors_for_bleeding/l10.png"></div></div>
                            <div id="aniQrisk-an-obj-22"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-23"><div><img  height="1" width="59" src="content/animations/questions_risk_factors_for_bleeding/l11.png"></div></div>
                            <div id="aniQrisk-an-obj-24"><div><img  height="9" width="9"  src="content/animations/questions_risk_factors_for_bleeding/s.png"></div></div>
                            <div id="aniQrisk-an-obj-25"><div><img  height="1" width="38" src="content/animations/questions_risk_factors_for_bleeding/l12.png"></div></div>
                        </div>
                    </li>
                </ol>
            </div>-->