﻿<article id="questions_current_position_of_aspirin" class="slide">
    <div class="row">

        <h1>What is the current position of Aspirin in the main guidelines for ACS?</h1>
        <h3><span class="aspirin-txt">Aspirin</span> is the cornerstone antiplatelet therapy in ACS recommended by all <br />major guidelines for acute and long-term therapy</h3>

        <div class="accordion line1">
            <div class="acc-el">
                <div class="acc-header radius-top">
                    <h3>Acute therapy<sup>15-18</sup></h3>
                    <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update;<br />
                     2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                    <span class="arrow" style="top: 46px;"></span>
                </div>
                <div class="acc-content">
                    <p><span class="aspirin-txt">Aspirin</span> is recommended by all major guidelines for the treatment 
                    of ACS during the acute phase, regardless of the chosen reperfusion strategy</p>
                </div>
            </div>
            <div class="acc-el">
                <div class="acc-header">
                    <h3>Life-long therapy<sup>15-18</sup></h3>
                    <span>(2011 ESC NSTE-ACS guidelines; 2012 ACCF/AHA UA/NSTEMI focused update;<br /> 2013 ACCF/AHA STEMI guidelines; 2012 ESC STEMI guidelines)</span>
                    <span class="arrow" style="top: 46px;"></span>
                </div>
                <div class="acc-content radius-bottom">
                    <p><span class="aspirin-txt">Low-dose Aspirin</span> is the only antiplatelet therapy recommended for 
                    indefinite (life-long) use to prevent recurrent MI and death</p>
                </div>
            </div>
        </div>
    </div>
</article>

