﻿<div id="closeRefs2"><span>Close</span>X</div>

<div class="refs">

    <h1>References</h1>
    
    <div class="tabs-wrap">
        <div class="tab primary-bg active">1 - 8</div>
        <div class="tab secondary-bg">9 - 16</div>
        <div class="tab secondary-bg">17 - 23</div>
        <div class="tab secondary-bg">24 - 28</div>

        <div class="panel primary-panel">
            <ul class="ref" id="refsPage1">
                <li><span>1.</span> Randomised trial of intravenous streptokinase, oral aspirin, both, or neither among 17,187 cases of suspected acute myocardial infarction:<br /> ISIS-2. ISIS-2 (Second International Study of Infarct Survival) Collaborative Group. <em>Lancet</em>. 1988;2:349–60. </li>
                <li><span>2.</span> Antithrombotic Trialists’ (ATT) Collaboration, Baigent C, Blackwell L, et al. Aspirin in the primary and secondary prevention of vascular disease: collaborative meta-analysis of individual participant data from randomised trials. <em>Lancet</em>. 2009;373:1849–60.</li>
                <li><span>3.</span> Baigent C, Collins R, Appleby P, et al. ISIS-2: 10 year survival among patients with suspected acute myocardial infarction in randomised comparison of intravenous streptokinase, oral aspirin, both, or neither. The ISIS-2 (Second International Study of Infarct Survival) Collaborative Group. <em>BMJ</em>. 1998;316:1337–43. </li>
                <li><span>4.</span> Yusuf S, Zhao F, Mehta SR, et al. Effects of clopidogrel in addition to aspirin in patients with acute coronary syndromes without ST-segment elevation. <em>N Engl J Med</em>. 2001;345:494–502.  </li>
                <li><span>5.</span> Wiviott SD, Braunwald E, McCabe CH, et al. Prasugrel versus clopidogrel in patients with acute coronary syndromes. <em>N Engl J Med</em>. 2007;357:2001–15.</li>
                <li><span>6.</span> Wallentin L, Becker RC, Budaj A, et al. Ticagrelor versus clopidogrel in patients with acute coronary syndromes. <em>N Engl J Med</em>. 2009;361:<br />1045–57. </li>
                <li><span>7.</span> Cairns JA, Gent M, Singer J, et al. Aspirin, sulfinpyrazone, or both in unstable angina. Results of a Canadian multicenter trial. <em>N Engl J Med</em>. 1985;313:1369–75.</li>
                <li><span>8.</span> Cohen M, Adams PC, Parry G, et al. Combination antithrombotic therapy in unstable rest angina and non-Q-wave infarction in nonprior aspirin users. Primary end points analysis from the ATACS trial. Antithrombotic Therapy in Acute Coronary Syndromes Research Group. <em>Circulation</em>. 1994;89:81–8. </li>
            </ul>
            
            <ul class="ref" id="refsPage2">
                <li><span>9.</span> Théroux P, Ouimet H, McCans J, et al. Aspirin, heparin, or both to treat acute unstable angina. <em>N Engl J Med</em>. 1988;319:1105–11.</li>
                <li><span>10.</span> Lewis HD, Davis JW, Archibald DG, et al. Protective effects of aspirin against acute myocardial infarction and death in men with unstable angina. Results of a Veterans Administration Cooperative Study. <em>N Engl J Med</em>. 1983;309:396–403.</li>
                <li><span>11.</span> Risk of myocardial infarction and death during treatment with low dose aspirin and intravenous heparin in men with unstable coronary artery disease. The RISC Group. <em>Lancet</em>. 1990;336:827–30. </li>
                <li><span>12.</span> Bassand J-P, Hamm CW, Ardissino D, et al. Guidelines for the diagnosis and treatment of non-ST-segment elevation acute coronary syndromes. <em>Eur Heart J</em>. 2007;28:1598–660. </li>
                <li><span>13.</span> Njaman W, Miyauchi K, Kasai T, et al. Impact of aspirin treatment on long-term outcome (over 10 years) after percutaneous coronary intervention. <em>Int Heart J</em>. 2006;47:37–45. </li>
                <li><span>14.</span> Cao L, Silvestry S, Zhao N, et al. Effects of preoperative aspirin on cardiocerebral and renal complications in non-emergent cardiac surgery patients: a sub-group and cohort study. <em>PloS one</em>. 2012;7:e30094. </li>
                <li><span>15.</span> Hamm CW, Bassand JP, Agewall S, et al. ESC Guidelines for the management of acute coronary syndromes in patients presenting without persistent ST-segment elevation: The Task Force for the management of acute coronary syndromes (ACS) in patients presenting without persistent ST-segment elevation of the European Society of Cardiology (ESC). <em>Eur Heart J</em>. 2011;32:2999–3054.</li>
                <li><span>16.</span> Jneid H, Anderson JL, Wright RS, et al. 2012 ACCF/AHA focused update of the guideline for the management of patients with unstable angina/non-ST-elevation myocardial infarction (updating the 2007 guideline and replacing the 2011 focused update): A report of the American College of Cardiology Foundation/American Heart Association Task Force on Practice Guidelines. <em>J Am Coll Cardiol</em>. 2012;60:645–81.</li>
            </ul>
            
            <ul class="ref" id="refsPage3">
                <li><span>17.</span> O'Gara PT, Kushner FG, Ascheim DD, et al 2013 ACCF/AHA Guideline for the Management of ST-Elevation Myocardial Infarction.<br />A Report of the American College of Cardiology Foundation/American Heart Association Task Force on Practice Guidelines. <em>J Am Coll Cardiol</em>. 2013;61:e78–e140.</li>
                <li><span>18.</span> Steg PG, James SK, Atar D, et al. ESC Guidelines for the management of acute myocardial infarction in patients presenting with ST-segment elevation. <em>Eur Heart J</em>. 2012;33:2569–619.</li>
                <li><span>19.</span> 2012 Focused Update on the Canadian Cardiovascular Society Guidelines for the use of Antiplatelet Therapy. Available at: <a target="_blank" href="http://www.ccsguidelineprograms.ca/index.php?option=com_content&view=article&id=141&Itemid=82#AP">http://www.ccsguidelineprograms.ca/index.php?option=com_content&view=article&id=141&Itemid=82#AP</a>. Accessed July 2013.</li>
                <li><span>20.</span> Acute Coronary Syndrome Guidelines Working Group. Guidelines for the management of acute coronary syndromes 2006. <em>Med J Aust</em>. 2006;184(8 Suppl):S1–32.</li>
                <li><span>21.</span> Hillis LD, Smith PK, Anderson JL, et al. 2011 ACCF/AHA guideline for coronary artery bypass graft surgery: executive summary: <br />A Report of the American College of Cardiology Foundation/American Heart Association Task Force on Practice Guidelines. <em>J Thorac Cardiovasc Surg</em>. 2012;143:4–34. </li>
                <li><span>22.</span> Ferraris VA, Saha SP, Oestreich JH, et al. 2012 update to the Society of Thoracic Surgeons guideline on use of antiplatelet drugs in patients having cardiac and noncardiac operations. <em>Ann Thorac Surg</em>. 2012;94:1761–81.</li>
                <li><span>23.</span> Gerstein NS, Schulman PM, Gerstein WH, et al. Should more patients continue aspirin therapy perioperatively?: clinical impact of aspirin withdrawal syndrome. <em>Ann Surg</em>. 2012;255:811–9. </li>
            </ul>
            
            <ul class="ref" id="refsPage4">
                <li><span>24.</span> Oscarsson A, Gupta A, Fredrikson M, et al. To continue or discontinue aspirin in the perioperative period: a randomized, controlled clinical trial. <em>Br J Anaesth</em>. 2010;104:305–12. </li>
                <li><span>25.</span> Steg PG, Huber K, Andreotti F, et al. Bleeding in acute coronary syndromes and percutaneous coronary interventions: position paper by the Working Group on Thrombosis of the European Society of Cardiology. <em>Eur Heart J</em>. 2011;32:1854–64.  </li>
                <li><span>26.</span> Sørensen R, Hansen ML, Abildstrom SZ, et al. Risk of bleeding in patients with acute myocardial infarction treated with different combinations of aspirin, clopidogrel, and vitamin K antagonists in Denmark: a retrospective analysis of nationwide registry data. <em>Lancet</em>. 2009;374:1967–74. </li>
                <li><span>27.</span> Darius H. Aspirin protect. Anwendungsbeobachtung dokumentiert gute Verträglichkeit. <em>Pharm Ztg</em>. 2006;34:3090–8.</li>
                <li><span>28.</span> Banoob DW, McCloskey WW, Webster W. Risk of gastric injury with enteric- versus nonenteric-coated aspirin. <em>Ann Pharmacother</em>. 2002;<br />36:163–6. </li>
            </ul>
        </div>
    </div>

</div>






