﻿<article id="spc" class="slide">
   <div class="row">
        <div class="large-12 columns">
            
            <h1>Prescribing Information</h1>

            <p><strong>Name of the drug:</strong> AspirinCardio<sup>&reg;</sup>. <strong>Dosage form and strength:</strong> Enteric-coated tablets with 100 mg acetylsalicylic acid, RX. <strong>Active ingredients:</strong> 
            1 enteric-coated tablet contains: 100 mg acetylsalicylic acid. <strong>Product characteristics and indication:</strong> Acetylsalicylic acid inhibits platelet aggregation by 
            blocking thromboxane A2 synthesis in platelets. Its mechanism of action is based on irreversible inhibition of cyclooxygenase (COX-1). This inhibitory 
            effect is especially pronounced in platelets, because platelets are unable to resynthesize this enzyme. Acetylsalicylic acid is also thought to have 
            other inhibitory effects on platelets. Thus, it is used for various vascular indications. Acetylsalicylic acid belongs to the group of acidic non-steroidal 
            anti-inflammatory drugs with analgesic, antipyretic and anti-inflammatory properties. Higher oral doses are used for the relief of pain and in minor 
            febrile conditions, such as colds or influenza, for the reduction of temperature and relief of the joint and muscle pains, and in acute and chronic 
            inflammatory disorders such as rheumatoid arthritis, osteoarthritis, and ankylosing spondylitis. <strong>Acetylsalicylic acid is indicated for the following 
            cardiovascular uses:</strong> For reducing the risk of mortality in patients with a suspected acute myocardial infarction. For reducing the risk of morbidity 
            and mortality in patients with previous myocardial infarction. For secondary prevention of stroke. For reducing the risk of transient ischemic attacks 
            (TIA) and stroke in patients with TIA. For reducing the risk of morbidity and death in patients with stable and unstable angina pectoris. For prevention 
            of thromboembolism after vascular surgery or interventions, e.g. PTCA, CABG, carotid endarterectomy, arteriovenous shunts. For prophylaxis of deep vein 
            thrombosis and lung embolism after longer-term immobilization, e.g. after major surgery. For reducing the risk of first myocardial infarction in people 
            with cardiovascular risk factors, e.g. diabetes mellitus, hyperlipidaemia, hypertension, obesity, smoking, old age. <strong>Warnings and other precautionary 
            measures:</strong> Particularly careful medical supervision is required: in cases of hypersensitivity to other analgesic/anti-inflammatory/ antirheumatic 
            drugs or other allergenic substances; by patients with other allergies (e.g. with skin reactions, itching, nettle rash); by patients with bronchial 
            asthma, hay fever, swelling of the nasal mucosa (nasal polyps), chronic respiratory tract diseases; in concomitant therapy with anticoagulant drugs; 
            with a history of gastro intestinal ulcers or gastrointestinal bleeding; with impaired liver or kidney function; by patients who are about to 
            undergo surgery (including minor surgery such as dental extractions): the bleeding tendency can be increased. <strong>Product license holder:</strong> Bayer VitalGmbH, 
            51368 Leverkusen, Germany. <strong>SPC last reviewed:</strong> September 2009. As indications and brand names differ country wise, please refer to the local label.</p>

        </div>

    </div>

    <p class="code">G.GM.ASP-CARD.10.2013.0077</p>


</article>
