<article id="splash" class="slide">

    <h1 class="primary-color primary title">Why <span>Aspirin<sup>&reg;</sup> Protect</span> for</h1>
    <h1 class="secondary-color title-1">the treatment of acute coronary</h1>
    <h1 class="secondary-color title-2">syndrome and life-long</h1>
    <h1 class="secondary-color title-3">prevention of recurrent events?</h1>

    <!--<h2 class="color01">
        Today's Prevention.<br />
        Tomorrow's Protection
    </h2>-->
</article>
