@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../fonts/HelveticaNeueLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../fonts/HelveticaNeueMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OptimaBold";
    src: url("../fonts/OptimaBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueRoman";
    src: url("../fonts/HelveticaNeueRoman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
	font: 62.5%/1em HelveticaNeueLight, sans-serif; 
	color:#000000;
	position:relative;
	width:1024px; 
	height:768px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
article{
	background: transparent url('../../shared_assets/img/bg.png') no-repeat  0 0;	
}
.slide{
	padding-top:70px;
}

/*.slide-popup.displaying { z-index: 99999999999999999999; }*/
.slide-popup .row { position: relative; padding: 0; }
.slide-popup .slide {
    width: 900px;
    height: 612px;
    border: #009B78 solid 5px;
    -webkit-border-radius: 20px;
    background: white;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px #999;
    margin: 74px 0 94px 68px;
    /*z-index: 99999999999999999999;*/
}



/*#region ============== HELPERS ==============*/
.temp{
	padding:3em 2em;
	border:2px dashed #00A785;	
	border-radius:20px;
	text-align:center;
}

.centered{
	margin:0 auto;
}

.fixedWidth600{
	width:600px;
}
.v-aligned{
	position:relative;
	top:20%;
}
.h-aligned{
	text-align:center;
}
.quoted{
	padding:0 28px;
	background:url('../../shared_assets/img/quotes_opening.png') no-repeat 0 0;
}

.quoted:after{
	background:url('../../shared_assets/img/quotes_closing.png') no-repeat;
	width:25px;
	height:22px;
	content:" ";
	display:inline-block;
}
.img-placeholder{
	width:100%;
	height:350px;
	border-radius: 6px;
	border: 3px solid #009B78;
	background:#E6E6E6;	
	color:Black;
}
.img-placeholder p{
	color:#666;
	text-align:center;
	position:relative;
	top:40%;
	font-size:2.4em;
	text-transform:uppercase;
}
.photo-holder{
	width:180px;
	height:200px;
	background:#E6E6E6;	
	color:white;
}
.photo-holder p{
	text-align:center;
	position:relative;
	top:43%;
	font-size:24px;
	text-transform:uppercase;
	margin:0;
}

.photo-caption{
	color:#fff;
	padding:12px 14px 6px;
	text-align:center;
	font-size:20px;
	line-height:20px;
	background:#009B78;
	border-radius:8px;
	display:inline-block;
	width:320px;
}

.tabs-wrap .tab{
	border-radius: 8px 8px 0 0;
	display:inline-block;
	padding:14px 10px 8px;
	font-size:20px;
	line-height:25px;
	color:#fff;
	box-shadow:3px 0 2px #666;		
	margin:0 10px 0 0;
}

.tabs-wrap .tab.primary-bg.active, .tabs-wrap .tab.secondary-bg.active, .tabs-wrap .tab.third-bg.active, .tabs-wrap .tab.forth-bg.active{background: #E8343B;}

.tabs-wrap .tab.primary-bg{
	background:#009B78;
}

.tabs-wrap .tab.secondary-bg{
	background:#009B78;
}

.tabs-wrap .tab.third-bg{
	background:#009B78;
}

.tabs-wrap .tab.forth-bg{
	background:#009B78;
}

.tabs-wrap .panel {
	background:#D9F0EB;
	border-radius:0 8px 8px 8px;
	box-shadow:3px 3px 4px #666;	
	color:#000;
	padding:10px;
	font-size:18px;
	height:380px;
}

.primary-panel{}
.secondary-panel{}

.tabs-wrap .panel h6{
	margin:4px 0 16px;
	font-size:18px;
}

.tabs-wrap .panel b{
	color:#000;
}

.tabs-wrap .panel li {
	margin:5px 0;
	font-size:18px;
	background:url('../../shared_assets/img/bullet.png') no-repeat 0px 9px;
}

.tabs-wrap .panel p {
	margin:5px 0;
	font-size:18px;
}

.interactive-list{
	margin:3em 0;
	padding:0;
}
.interactive-list li.last{
	margin-right:0;	
}
.interactive-list li{
	margin-right:28px;	
	padding:25px 0;
	width:130px;
	text-align:center;
	font-size:40px;
	border-radius:12px;
	color:#fff;
	border:3px white solid;		
	display:inline-block;
	float:left;
	font-weight:bold;
}

.interactive-list.green li{
	background: #67c3af; /* Old browsers */
	background: -moz-linear-gradient(top,  #67c3af 1%, #16ac8a 49%, #01a782 51%, #02ba90 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#67c3af), color-stop(49%,#16ac8a), color-stop(51%,#01a782), color-stop(100%,#02ba90)); /* Chrome,Safari4+  */
	background: -webkit-linear-gradient(top,  #67c3af 1%,#16ac8a 49%,#01a782 51%,#02ba90 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #67c3af 1%,#16ac8a 49%,#01a782 51%,#02ba90 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #67c3af 1%,#16ac8a 49%,#01a782 51%,#02ba90 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #67c3af 1%,#16ac8a 49%,#01a782 51%,#02ba90 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c3af', endColorstr='#02ba90',GradientType=0 ); /* IE6-9 */
}

.caption{
	font-size:12px;
	line-height:14px;
}
.swish{position:absolute; bottom:0px; left:0px; /* background:url('../../shared_assets/img/bottomSwish.png') no-repeat; */ width:1024px; height:195px; z-index:100;display:none; /*z-index:999999;*/}

.indicators .indicator {
	margin-bottom:6px;
}

.indicators div.indicator.active {
background: #E8343B;
}

.primary-color{
	color:#009B78;
}

.secondary-color {
	color: #E8343B;
}
.color01{
	color:#fff;
}

.redtext { color: #E8343B; }

.lnkPopup{
	padding:9px 5px 4px;	
}
a.btnMore{
	width:39px;
	height:39px;
	display:block;
	background: transparent url('../../shared_assets/img/btnMore.png') no-repeat 0 0;
	border-radius:19px;
}

.rounded{
	border-radius:20px;
}

.bordered-box{
	border:3px solid #ccc;
	background:#fff;
}
.bordered-box.green{
	border:3px solid #009B78;
}
.anim-wrap{
	width:100%;
	padding:10px;
}
.no-opacity{
	opacity:0;
	transition: all .2s;	
	-webkit-transition: all .2s; /* Safari */
}
.opacity{
	opacity:1;	
	transition: all .2s;	
	-webkit-transition: all .2s; /* Safari */
}

.bold { font-weight: bold; }

strong { font-weight: bold; font-size: 18px; }
em { font-style: italic; }
.aspirin-txt { color: #009B78; font-weight: bold; }

/*#endregion*/

/*#region ============== GENERAL (HEADING AND FONTS) ==============*/

article { -webkit-backface-visibility: hidden; -webkit-perspective: 1000; }

.row{
	padding:38px 0 0 0;
}
.row .row{
	padding:0 0 0 0;
}


h1 {    
    font-size:3.6em; 
	color:#009B78;
    line-height:1.2;      
    font-weight:normal;
    margin:0 0 30px; 
    padding:0;
    font-family:HelveticaNeueLight;
    -webkit-transform: translate3d(0,0,0);
}

h1 sup{font-size:20px; position:relative; top:-0.7em; line-height:20px;}
h1 sup.big{font-size:28px;}
h1 sup.apostrophe{font-size: 40px;position: relative;bottom: 0px;left: 8px;}

h2{font-size:3.2em; line-height:1.8em;font-family:HelveticaNeueMedium; font-weight:normal;  margin: 0 0 8px;}
h2 sup{font-size:14px; position:relative; bottom:15px;}
h2 sup a{color:#7680BE;}

h3 { font-size: 24px; color: #009B78; line-height: 1.2; font-weight: normal; margin: 0 0 5px;}
sup{padding:0 0 0 0; position:relative; display:inline-block; font-size:16px;}
sup a{text-decoration:none; color:#000000; padding:6px 1px 6px 6px; position:relative; left:-6px; margin:0 0 0 0;}


.row > h3 sup { top: -16px; font-size: 14px; }

h6 { font-size: 2.2em; line-height:28px; color: #000; font-weight: normal; margin: 0 0 20px;font-family:HelveticaNeueMedium;}
h6 sup{padding:0 0 0 0; position:relative; display:inline-block; font-size:1.2em;}
h6 sup a{text-decoration:none; color:#000000; padding:6px 1px 6px 6px; position:relative; left:-6px; margin:0 0 0 0;}

.fl {float: left; }
.fr { float: right; }

p{line-height:26px; font-size:20px; margin:10px 0 10px 0; color:#000;/*color:#000*/}
p sup{font-size:13px; position:relative; bottom:6px;line-height:13px;}
span sup{font-size:12px;}

p.bottom-legend { font-size: 14px; padding: 0; line-height: 1; margin: 30px 0 0; }

a{font-size:2em;}
li a{font-size:1em;} 
p a{font-size:0.5em;}

ul { margin: 0 0 10px 0; padding:0;}
li{line-height:26px; font-size:20px; background:url('../../shared_assets/img/bullet-green.png') no-repeat 0px 7px; padding:2px 0 4px 35px; margin:10px 0; list-style:none;color:#000;}
li:first-child{margin-top:0}

li sup{font-size:13px; position:relative; bottom:10px;line-height:11px;}
li span sup{font-size:14px; position:relative; bottom:6px;}

ul.ref { margin: 24px 0px 0px; }
ul.ref li, .lightboxRef li { background: none; font-size: 14px; position: relative; line-height: 1.5; padding: 0px; margin:8px 0; }
ul.ref span, .lightboxRef span { color: #000; font-size: 14px;  margin-right: 10px; }


ul.ref span { position: absolute; left: 0px; }
ul.ref li { padding-left: 30px; }

ul li ul  li{
	font-size:1em;
	/*font-style:italic;	*/
	margin:10px 0;
}

#thumbs ul { margin: 0px; }

table td{line-height:1.4em; font-size:18px;}
table td sup{font-size:16px; position:relative; bottom:6px;}

ul.disc li { background: none; list-style: disc; padding: 0; }

/*#endregion*/

/*#region ============== ARROWS ==============*/

#arrows{width:90px; height:35px; /*background: url('../../shared_assets/img/arrow-navback.png') no-repeat;*/ margin:0px auto 0 auto; position:relative; top:-25px;}
.arrow-up{width: 0; height: 0;	border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff;	top:12px; left:20px;	position:absolute;opacity:0.7}
.arrow-down{width: 0;	height: 0;	border-left: 10px solid transparent;	border-right: 10px solid transparent; border-top: 10px solid #fff;	top:12px; left:50px; position:absolute;opacity:0.7}
.arrow-right{width: 0;	height: 0; border-top: 10px solid transparent;	border-bottom: 10px solid transparent; border-left: 10px solid #fff; top:8px; right:20px; position:absolute;opacity:0.7}
.arrow-left {width: 0;	height: 0;	border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right:10px solid #fff; top:7px;	left:20px; position:absolute; display: none;opacity:0.7}

.arrow-up.move-left { left: 20px; } 

#footer-logo {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.content{padding:100px 0 0 100px; width:800px;}
.container {width: 930px; left:0px; position:relative; z-index:999; top:18px;}
/*#endregion*/

.bgVideo{width:550px; height:434px; background:url('../../shared_assets/img/bgVideo.png') no-repeat; padding:58px 0 0 58px; position:relative;} 

/*#region ============== ANIMATIONS ==============*/
@-webkit-keyframes pushHere01 {
from { -webkit-box-shadow: 0 0 2px #666666; }
50% { -webkit-box-shadow: 0 0 10px #666666; }
99% { -webkit-box-shadow: 0 0 2px #666666; }
to { } /* equals `100% {}` Leave it empty to fix the flicker */
}

@-webkit-keyframes pushHere {
from { -webkit-box-shadow: 0 0 2px #8ec640; }
50% { -webkit-box-shadow: 0 0 18px #8ec640; }
99% { -webkit-box-shadow: 0 0 2px #8ec640; }
to { } /* equals `100% {}` Leave it empty to fix the flicker */
}

@-webkit-keyframes pushHereWhite {
from { -webkit-box-shadow: 0 0 2px #FFFFFF; }
50% { -webkit-box-shadow: 0 0 18px #FFFFFF; }
99% { -webkit-box-shadow: 0 0 2px #FFFFFF; }
to { } /* equals `100% {}` Leave it empty to fix the flicker */
}

@-webkit-keyframes pushHereBlue {
from { -webkit-box-shadow: 0 0 2px #0099B1; }
50% { -webkit-box-shadow: 0 0 18px #0099B1; }
99% { -webkit-box-shadow: 0 0 2px #0099B1; }
to { } /* equals `100% {}` Leave it empty to fix the flicker */
}

@-webkit-keyframes pushHereGreen {
from { -webkit-box-shadow: 0 0 2px #009B78; }
50% { -webkit-box-shadow: 0 0 18px #009B78; }
to { -webkit-box-shadow: 0 0 2px #009B78; }
}



@-webkit-keyframes boxUp
{
    from { -webkit-transform: translate3d(0px, 100px, 0px); }
    to { -webkit-transform: translate3d(0px, 0px, 0px); }
}


@-webkit-keyframes showIcons
{
    from { -webkit-transform: scale(0); opacity: 0; }
    50% { -webkit-transform: scale(1.5); opacity: 1; }
    to { -webkit-transform: scale(1); opacity: 1; }
}

@-webkit-keyframes showText
{
    from { opacity: 0; left:85px; }
    to { opacity: 1; left:75px; }
}

@-webkit-keyframes showLearnBtn
{
    from { opacity: 0; left:-200px; }
    to { opacity: 1; left:0px; }
}

@-webkit-keyframes flashing
{
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1; }
}



.animation-box.boxUp {
    -webkit-animation-name: boxUp;
    -webkit-animation-duration:1s;
    -webkit-animation-fill-mode: both;
}

.flashing
{
    -webkit-animation-name: flashing;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 0; 
    -webkit-perspective: 1000;
}


.glow01{-webkit-animation-name: pushHere01;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: infinite;
-webkit-transform: translate3d(0, 0, 0);
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 0; 
-webkit-perspective: 1000;
}

.glowGreen {
    -webkit-animation-name: pushHereGreen;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 0; 
    -webkit-perspective: 1000;
}

.glowWhite{-webkit-animation-name: pushHereWhite;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;}

.glowDef{-webkit-animation-name: pushHereDef;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;}
/*#endregion*/


@-webkit-keyframes scaleInHalfSec 
{
    from { -webkit-transform: scale(0); }
    to { -webkit-transform: scale(1); }
}

@-webkit-keyframes hideIn1sec 
{
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes showInQuarter {
    from { opacity: 0; }
    to { opacity: 1; }
}


@-webkit-keyframes textFlash 
{
    from { opacity: 0; }
    50% { opacity: 1; }
    to { opacity: 0; }
}



.anim-elem {
    -webkit-animation-name: showInQuarter;
    -webkit-animation-duration:0.25s;
    -webkit-animation-fill-mode:both;
    opacity: 0;
}


.big-circle {
    width: 189px;
    height: 193px;
    display: block;
    background: #009866;
    border-radius: 100px;
    border: 2px solid #66C3AE;
    margin-top: 35px;
    position: relative;
    text-align: center;
}

.big-circle.placebo { background: #E7353C; border-color: #f09094; }


.btn-options { width: 247px; height: 33px; background: url('../../shared_assets/img/btn-option.png') no-repeat top; display: inline-block; text-decoration: none; }
.btn-options:active, .btn-options.active { background-position: bottom; }
.btn-options span { padding-top: 14px; display: block; color: #fff; text-align: center; }



/* Icon circle */

.ico { 
    width: 67px;
    height: 67px;
    background: url('../../shared_assets/img/icon-circle.png') no-repeat;
    display: inline-block;
    border: 2px solid white;
    border-radius: 75px;
    box-shadow: 1px 1px 5px #aaa;
}

.ico.icon1 { background-position: 0px 0px; }
.ico.icon2 { background-position: 0px -63px; }
.ico.icon3 { background-position: 0px -126px; }
.ico.icon4 { background-position: 0px -189px; }
.ico.icon5 { background-position: 0px -252px; }
.ico.icon6 { background-position: 0px -315px; }
.ico.icon7 { background-position: 0px -378px; }




/*#region ============== POPUP ==============*/
#allReferences {
	display:none;
}
#lightboxOverlay {
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:768px;
	background:#ffffff;
	opacity:0.7;
	z-index:9999999999;
}
#refsOff {
	width:210px;
	height:90px;
	position:absolute;
	right:00px;
	bottom:5px;
	z-index:9999999999;
	display:none;
}
#popup-wrap {
	display:none;
}
#popup-refs {
	display:none;
}
.popup-box {
	display:none;
	padding: 20px;
	position: relative;
}
#popup-wrap .popup-box {
	display:block;
}

#popup-wrap h1 {
	font-size:24px;
}

#popup-wrap h2 {
	font-size:18px;
color: #009B78;
line-height: 1em;
font-weight: normal;
margin: 0 0 10px;
padding: 0;
font-family: HelveticaNeueMedium;
-webkit-transform: translate3d(0,0,0);
}

#popup-wrap h1 sup{
	font-size:14px;
}

#popup-wrap .row {
	width:850px;
}
#openRefs {
	width:200px;
	height:70px;
	position:absolute;
	right:0px;
	bottom:10px;
}
#popup-wrap,.lightboxRef, .popup {
	width:900px;
	border:#009B78 solid 5px;
	-webkit-border-radius:20px;
	position:absolute;
	z-index:9999999999999999999999999999999999999999999999999999;
	top:50%;
	left:50%;
	margin:-150px 0 0 -450px;
	background:#fff;
	padding-bottom:30px;
	-webkit-box-shadow:0 0 10px #999;
	display:none;
}

.popup .row { position: relative; }

#popup-refs{position:absolute; z-index:9999999999999999999999999999999999999999999999999999;}


.lightboxRef h1 {
	margin:20px 0 0 20px;
	padding:0 0 0 0;
}
#popup-wrap {
	margin:0 0 0 -450px;
}
#closePopup, #closeRefs, #closeRefs2 {
	
	position:absolute;
	top:10px;
	right:10px;
	z-index:99999999999999999999999999999999999999999999999999999;
	color:transparent;
	font-size:0;
	width:39px;
	height:39px;
	display:inline-block;
	background: transparent url('../../shared_assets/img/btnMore.png') no-repeat 0 0;
	border-radius:19px;
	transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
}

#closeRefs2{top:20px;}
	
#closePopup:active,#closeRefs:active, #closeRefs2:active {
	background: transparent url('../../shared_assets/img/btnMore.png') no-repeat 0 -39px;
}
#closePopup span,#closeRefs span {
	color:#000;
	position:absolute;
	bottom:-9px;
	left:22px;
	font-size:14px;
   -webkit-transform: rotate(-45deg);
	display:none;
}
.RefPopup {
	margin:10px 50px 0 20px;
}
.RefPopup li {
	margin:0 0 8px 20px;
	padding-left:14px;
	font-size:14px;
	position:relative;
	line-height:1.3em;
	list-style:none;
}
.RefPopup li span {
	color:#000;
	font-weight:normal;
	width:30px;
	position:absolute;
	left:-20px;
	top:0px;
}
.RefPopup li strong {
	display:inline-block;
	width:30px;
	position:absolute;
	left: -30px;
}






/************* Accordions *************/


.radius-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.radius-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.accordion { margin-top: 20px; width: 760px; position: relative; z-index: 999999999999; }
.accordion .acc-el { margin-bottom: 1px; }
.accordion .acc-header { background: #009B78; margin: 0; padding: 15px; position: relative; }
.accordion .acc-header h3 { font-size: 21px; color: #fff; font-weight: bold; }
.accordion .acc-header h3 sup { font-size: 12px; top: -15px; }
.accordion .acc-header span { display: block; font-size: 12px; color: #fff; font-weight: bold; line-height: 1.2; font-style: italic; width: 650px; }
.accordion .acc-header .arrow {
    width: 8px; 
    height: 8px; 
    position: absolute; 
    background: url('../../shared_assets/img/accordion-arrow.png') no-repeat top; 
    right: 15px; 
    top: 28px; 
}

.accordion .acc-header.active .arrow { background-position: bottom; }
.accordion .acc-content { background: #D1E4DC; color: #4D4D4D; display: none; margin: 0; padding: 15px; }
.accordion .acc-content p, .accordion .acc-content ul li { font-size: 16px; }
.accordion .acc-content p, .accordion .acc-content ul { margin: 0; }
.accordion .acc-content ul li { margin: 0 0 0 20px }





/************* Accessibility ***************/	

/* clearing */ 
.clear{clear:both; height:1px; margin:0; padding:0; font-size: 15px; line-height: 1px;}
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;} 
* html>body .clearfix{display: inline-block; width:100%;}
* html .clearfix {/* Hides from IE-mac \*/ height: 1%; /* End hide from IE-mac */ }

/* accessibility */ 
.accessibility { position: absolute; top: -999em; left: -999em;}
/*#endregion*/

/*#region ============== NAV MENU ==============*/
/*#openRefs{
	bottom:150px;
	border: 1px solid red
}*/
/*#presentationMenu{-webkit-transform: translate3d(-3px, 0px, 0px) !important;}*/
/*#endregion*/

/*#region ============== ACCORDION ==============*/

/*
#thumbs { -webkit-overflow-scrolling: touch; }
#thumbs ul li  { position: relative; -webkit-transform: translate3d(0,0,0); }
*/

#accordion h3{
	font-size:16px;
	line-height:20px;
	color:#fff;
	background:#009B78;
	padding: 12px 30px 12px 20px;
	position:relative;
}
#accordion h3:first-child{
	border-radius:17px 17px 0 0;
}
#accordion h3.last{
	border-radius: 0 0 17px 17px;
}
#accordion h3.last.ui-state-active{
	border-radius: 0;
}
#accordion h3 sup{
	font-size:12px;
	top:-0.8em;
}
#accordion h3 .arrow{
	width: 0;	height: 0;	border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #fff; 
	border-bottom: 0px solid #fff; top:50%; right:10px; position:absolute; margin:-5px 0 0 0;
	transition:border 0.5s linear;
}

#accordion h3.ui-state-active .arrow{
	width: 0; height: 0;	border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff;	border-top: 0px solid #fff; 
}
#accordion, #accordion *
{
	-webkit-transform: translate3d(0,0,0);
}
#accordion div{
	background:#D2E5DD;	
	font-size:14px;	
	color:#000;
	position:relative;		
}
#accordion .grade{
	float:right;
	margin:0 60px 0 0;
}
#accordion ul,#accordion p{
	margin:0;
}
#accordion ul{margin:4px 0 0 15px;}
#accordion li{
	margin: 5px 0 0px 0;
	color:#000;	
	background:url('../../shared_assets/img/bulletAccordion.png') no-repeat 0px 7px;
	padding:0 0 0 15px;
}
#accordion li,#accordion p{
	font-size:16px;
}

#accordion .desc{
	width:700px;
	display:inline-block;
}

#accordion .active:last-child{
	border-radius: 0 0 6px 6px;
}
/*#endregion*/





/* Learn more */
.learn-more {
    width: 186px;
    height: 170px;
    background: url('../../shared_assets/img/btn_more.gif') no-repeat top;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 14px;
}

.learn-more span { display: block; line-height: 1.2; padding-top: 36px; font-weight: bold; }



a.patientButton{background:url('../../shared_assets/img/button.png') no-repeat top left; padding:14px 0px 9px 0px; color:#fff; width:200px; text-align:center; vertical-align:middle;
color: white;
display: block;
margin: 20px 0 0 50px;
position: absolute;
bottom: 10px;
right:20px;
font-size:16px;}

a.greenButton{background:url('../../shared_assets/img/button.png') no-repeat top left; padding:14px 0px 9px 0px; color:#fff; width:200px; text-align:center; vertical-align:middle;
color: white;
display: block;
margin: 20px 0 0 0px;
position: relative;
font-size:16px;}

a.patientButton:active{}


ul#position, ul#position2, ul#position3, ul#position4{margin:20px auto 20px auto; width:65px;}
ul#position li, ul#position2 li, ul#position3 li, ul#position4 li{width:10px; height:10px; float:left; margin:0 5px 0 5px; background:#ccc; -webkit-border-radius: 5px; padding:0 0 0 0;}
ul#position li.on, ul#position2 li.on, ul#position3 li.on, ul#position4 li.on{background:#E8343B;}


ul#positionA, ul#positionB, ul#positionC, ul#positionD{margin:20px auto 20px auto; width:65px;}
ul#positionA li, ul#positionB li, ul#positionC li, ul#positionD li{width:10px; height:10px; float:left; margin:0 5px 0 5px; background:#ccc; -webkit-border-radius: 5px; padding:0 0 0 0;}
ul#positionA li.on, ul#positionB li.on, ul#positionC li.on, ul#positionD li.on{background:#E8343B;}



.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height:320px;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
    background:#d9f0eb;
    height:320px;
}
#mySwipe, #mySwipe2, #mySwipe3, #mySwipe4, #mySwipeA, #mySwipeB, #mySwipeC, #mySwipeD{position:relative; z-index:9;}

.prevArrow{width:60px; height:31px; background:url('../../shared_assets/img/prevArrow.png') no-repeat top center; border:none; position:absolute; bottom:10px; left:150px; z-index:999;}
.prevArrow:active{background-position:center -31px;}

.nextArrow{width:60px; height:31px; background:url('../../shared_assets/img/nextArrow.png') no-repeat top center; border:none; position:absolute; bottom:10px; right:150px; z-index:999;}
.nextArrow:active{background-position:center -31px;}
           

.disableSwipe{width:640px; height:340px; position:absolute; top:55px; left:17px; z-index:99;}








#play{
		position: absolute;
		top:50%;
		left:50%;
		margin-left: -49px;
		margin-top: -49px;
	}
	#progressbar{
		position: absolute;
		top:0px;
		width:70%;
		height:100%;
		display:none;
		background-color:#000;
		left:51px;
	}
	#seeker{
		position:absolute;
		top:50%;
		width:100%;
		height:2px;
		background-color:#ea0003;
		-webkit-transition: all .2s ease-out;
	}
	#controls {
		position: absolute;
		width:640px;
		bottom:21px;
		height:50px;
		overflow:hidden;
		background:#000;
		left:120px;
	}
	#footerplay{
		width:51px;
	}
	#footerpause{
		display:none;
	}
	#fullscreen{
	    background:url('../../content/img/fullscreen.png') no-repeat center center;
	    position:absolute;
	    right:0px;
	    top:0px;
	    width:41px;
	    height:51px;
	    display:none;
	}
