﻿






/* el_numero_uno_page1 */

#button{text-align:center; width:700px; margin:20px 0 0 0;}

#orangeButton{width:131px; height:131px; background:url('../../content/img/orangeButton.png') no-repeat left top; margin:0 auto;}
#orangeButton:active{background-position:0px -131px;}





/** Dosing **/
    #dosing{width:1024px; height:768px; background:url('../../content/img/bgIntro.jpg') no-repeat;}
	#dosing .card{width:919px; height:607px; background:url('../../content/img/introPage.png') no-repeat; margin:0 0 0 -70px; position:relative; top:0px;}
	#dosing .card p{text-align:center; position:relative; top:40px; font-size:16px; line-height:1.3em;}
	#dosing .card img{margin:80px 0 0 120px;}
    #dosing .content .card p{color:#FF6633;}
    #dosing .content .card p:last-child{color:#0099CC;}

/** Real word needs **/
    #real_world_needs{width:1024px; height:768px;}
	#real_world_needs h1{-webkit-transform:rotate(4deg); margin:0 0 0 100px; position:relative; top:60px;} 
	
	
/** Compliance Intro page **/
.introPage{width:388px; height:468px; background:url('../../content/img/introPaper.png') no-repeat;}
.introPage h3{color:#009ab1; -webkit-transform:rotate(-5deg); padding:27px 0 0 53px;}
.introPage p{color:#000000; -webkit-transform:rotate(-5deg); padding:0px 0 0 58px; font-family:RubysHand; font-size:32px; line-height:1.1em;}
.introImage1{width:500px; height:511px; background:url('../../content/img/introImage1.png') no-repeat; position:absolute; top:-19px; right:-30px;}
.introImage1 p{color:#000000; -webkit-transform:rotate(4deg); position:absolute; bottom:95px; left:90px; font-family:RubysHand; font-size:60px; line-height:1.1em;}
	
.introImage2{width:500px; height:511px; background:url('../../content/img/introImage2.png') no-repeat; position:absolute; top:-19px; right:-30px;}
.introImage2 p{color:#000000; -webkit-transform:rotate(4deg); position:absolute; bottom:95px; left:110px; font-family:RubysHand; font-size:60px; line-height:1.1em;}
	
.introImage3{width:500px; height:511px; background:url('../../content/img/introImage3.png') no-repeat; position:absolute; top:-19px; right:-30px;}
.introImage3 p{color:#000000; -webkit-transform:rotate(4deg); position:absolute; bottom:95px; left:110px; font-family:RubysHand; font-size:60px; line-height:1.1em;}
	
.introImage4{width:500px; height:511px; background:url('../../content/img/introImage4.png') no-repeat; position:absolute; top:-19px; right:-30px;}
.introImage4 p{color:#000000; -webkit-transform:rotate(4deg); position:absolute; bottom:95px; left:70px; font-family:RubysHand; font-size:60px; line-height:1.1em;}

.tab_content .info{margin:0 0 0 50px;}
.tab_content h4{-webkit-transform:rotate(-90deg); position:absolute; background:#a3d6e2; color:#fff; bottom:290px; left:-290px; padding:10px 0 10px 20px; font-size:30px; width:610px;}


	





	


	

	
	






/*

#ovulation_inhibition2{width:1024px; height:768px;}
	#ovulation_inhibition2 .left{width:310px; float:left; margin-top:20px;}
	#ovulation_inhibition2 .right{width:504px; float:right; margin-top:30px}
	#ovulation_inhibition2 h1{margin-bottom:20px;}
	

	
	
#ovulation_inhibition4{width:1024px; height:768px;}
	#ovulation_inhibition4 .left{width:230px; float:left; margin-top:20px;}
	#ovulation_inhibition4 .right{width:504px; float:right; margin-top:30px}
	#ovulation_inhibition4 h1{margin-bottom:20px;}
	#ovulation_inhibition4 #graph09bAN-sObj-stage{margin:0 auto;}
	
#ovulation_inhibition5{width:1024px; height:768px;}
	#ovulation_inhibition5 .left{width:230px; float:left; margin-top:20px;}
	#ovulation_inhibition5 .right{width:504px; float:right; margin-top:30px}
	#ovulation_inhibition5 h1{margin-bottom:20px;}
	#ovulation_inhibition5 #graph09cAN-sObj-stage{margin:0 auto;}



	
#efficacy_in_adolescents4{width:1024px; height:768px;}
	#efficacy_in_adolescents4 .left{width:230px; float:left;}
	#efficacy_in_adolescents4 .right{width:504px; float:right;}
	#efficacy_in_adolescents4 h1{margin-bottom:20px;}
	#efficacy_in_adolescents4 .graphPage16Container{width: 512px; height: 246px;  position: absolute; left: 310px; top: 285px;}
	#efficacyGraph5_butt1 {cursor: e-resize;position: absolute; left: 97px; top: 78px;}
	#efficacyGraph5_butt2 {cursor: e-resize;position: absolute; left: 165px; top: 148px;}
	#efficacy_in_adolescents4 .center{margin:0 0 0 50px;}
	





	
	

	
	

	
	

	
	

	
	
#acne2{width:1024px; height:768px;}
	#acne2 .left{width:330px; float:left; margin-top:20px;}
	#acne2 .right{width:460px; float:right; margin-top:30px;}
	#acne2 ul.tabs {top:140px;}
	#acne2 h1{margin-bottom:20px;}
	
	

	
	
#symptoms_21_7_vs_24_72{width:1024px; height:768px;}
	#symptoms_21_7_vs_24_72 .left{width:230px; float:left;}
	#symptoms_21_7_vs_24_72 .right{width:504px; float:right;}
	#symptoms_21_7_vs_24_72 ul.tabs {top:140px;}
	#symptoms_21_7_vs_24_72 .bgVideo{margin:0 auto;}
	
	
#satisfaction{width:1024px; height:768px;}
	#satisfaction .left{width:230px; float:left;}
	#satisfaction .right{width:504px; float:right;}
	#satisfaction .introPage p{color:#000000; -webkit-transform:rotate(-5deg); padding:0px 0 0 65px; font-family:RubysHand; font-size:32px; line-height:1.1em;}
	#satisfaction ul.tabs {top:20px;}
	#satisfaction h1{margin-bottom:20px;}

#world_users{width:1024px; height:768px;}
	#world_users .left{width:230px; float:left;}
	#world_users .right{width:504px; float:right;}
	#world_users ul.tabs {top:20px;}
	#world_users h1{margin-bottom:20px;}
	#world_users ul.lists li{width:350px; float:left; margin-right:50px;}
	#world_users .info img{margin:30px 0 0 100px;}
	
#bleeding{width:1024px; height:768px;}
	#bleeding .left{width:230px; float:left; margin-top:20px;}
	#bleeding .right{width:530px; float:right; margin-top:30px;}
	#bleeding ul.tabs {top:20px;}
	#bleeding h1{margin-bottom:20px;}
		
#bleeding2{width:1024px; height:768px;}
	#bleeding2 .left{width:230px; float:left;}
	#bleeding2 .right{width:504px; float:right;}
	#bleeding2 ul.tabs {top:20px;}
	#bleeding2 h1{margin-bottom:20px;}
	#bleeding2 #graph08AN-sObj-stage{margin:0 auto;}
	
	

	
	
	
#bleeding4{width:1024px; height:768px;}
	#bleeding4 .left{width:230px; float:left;}
	#bleeding4 .right{width:504px; float:right;}
	#bleeding4 ul.tabs {top:20px;}
	#bleeding4 h1{margin-bottom:20px; width:700px;}
	#bleeding4 p{width:700px;}
	#bleeding4 ul.lists li{width:700px;}
	*/

	
	

	
	
   
   
	
	
    #summary{width:1024px; height:768px;}
	#summary .summaryPage{background:url('../../content/img/summaryBg.png') no-repeat; width:604px; height:507px; position:relative; top:43px; left:86px; padding:85px 120px 0 190px;}


    #summary2{width:1024px; height:768px;}
	#summary2 .summaryPage{background:url('../../content/img/summaryBg.png') no-repeat; width:604px; height:507px; position:relative; top:43px; left:86px; padding:85px 120px 0 190px;}
	
	.summaryPage ul li{font-size:16px;}
	
	
    #ref1{width:1024px; height:768px;}
	#ref1 .refPage{background:url('../../content/img/referencesBg.png') no-repeat; width:767px; height:566px; position:relative; top:43px; left:86px; padding:20px 46px 0 100px;}
	#ref1 .refPage li{line-height:1.3em; font-size:16px; background:none; padding:0 0 0 0; margin:5px 0 7px 0; list-style:none;}
	
	
    #ref2{width:1024px; height:768px;}
	#ref2 .refPage{background:url('../../content/img/referencesBg.png') no-repeat; width:757px; height:566px; position:relative; top:43px; left:86px; padding:20px 46px 0 110px;}
	#ref2 .refPage li{line-height:1.3em; font-size:16px; background:none; padding:0 0 0 0; margin:5px 0 7px 0; list-style:none;}
	
	

    #ref3{width:1024px; height:768px;}
	#ref3 .refPage{background:url('../../content/img/referencesBg.png') no-repeat; width:757px; height:566px; position:relative; top:43px; left:86px; padding:20px 46px 0 110px;}
	#ref3 .refPage li{line-height:1.3em; font-size:16px; background:none; padding:0 0 0 0; margin:5px 0 7px 0; list-style:none;}
	



.bgVideo{width:550px; height:434px; background:url('../../content/img/bgVideo.png') no-repeat; padding:58px 0 0 58px;} 


ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
	-webkit-transform:rotate(-90deg);
	position:relative;
	left:-520px;
	top:-100px;
	z-index:999999;
}


.container {width: 930px; left:0px; position:relative; z-index:999; top:18px;}

.tab_container {
	border: 1px solid #999;
	border-left:none;
	clear: both;
	float: left; 
	width: 100%;
	background: #ffffff;
	position:relative;
	left:-33px;
	top:-34px;
	height:630px;
	z-index:999;
}

.tabIntro {
	padding: 20px;
	font-size: 1.2em;
	background:#a3d6e2;
	height:590px;
	position:relative;
	z-index:999;
}

/** drawbox-controls **/
#drawbox3-controls{height:0px;line-height:0px;font-size:0px;}


.landImg{display:block;}
.portImg{display:none;}





/*
	FOR THE MOVER
*/
#wrap, #wrap2{ width: 836px; position: relative; }
#small, #small2{ position: relative; width: 100%; }
#large{ background: white; position: relative; width: 1650px; top:150px; left:150px; }
#mover, #mover2{ position: absolute; top: 0; left: 0; width: 200px; height: 200px; overflow: hidden; z-index: 100; background: white; display: none;}
#overlay, #overlay2{ border: 3px solid #000; width: 194px; height: 194px; position: absolute; top: 0; left: 0; z-index: 200; }




#large2{ background: white; position: relative; width: 1491px; top:0px; left:0px; }
