.slideshows {
	width:1024px;
}
.slideshow {
  /* background-color:aqua; */

}

/* Bottom left and bottom right images of abstract plants and Yaz Metafolin accordingly */
.slideWrap {
    /*background: url('../../shared_assets/img/abstract.png'), url('../../shared_assets/img/yaz-image.png') ;*/
    background-position: -20px 450px, 790px 620px;
    background-repeat: no-repeat;
 }
  
.slide {
    -webkit-transform:translate3d(0,0,0);
}

@media only screen and (orientation:portrait){
   /* portrait styles here */
}
#slidescroller {
 
}
#rightscroller {
 
}



















