body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*background: url(../images/agenda/branding.png) no-repeat 0px 0px, url(../../content/images/app/body-background.jpg);*/
	/*background:url('../../../shared_assets/img/background.png') no-repeat;*/
background: transparent url('../../../shared_assets/img/bg.png') no-repeat 0 0;
}
@font-face {
  font-family: FoundrySans;
  src: url('../../../code/fonts/Foundry Sans OTF/fousanno.ttf');
}

@font-face {
  font-family: FoundrySansLight;
  src: url('../../../code/fonts/Foundry Sans OTF/fousanlt.ttf');
}
@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../../../code/fonts/HelveticaNeueLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueRoman";
    src: url("../../../code/fonts/HelveticaNeueRoman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../../../code/fonts/HelveticaNeueMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OptimaBold";
    src: url("../../../code/fonts/OptimaBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1{font-size:30px;font-family: HelveticaNeueRoman, Arial; line-height:1em; font-weight:normal; color:#009B78; margin:0 0 20px 0px; padding:20px 0px 4px 0px;-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;}


p{text-align:center; font-size: 16px; line-height:17px;text-align:left;color: #555555; font-family: FoundrySansLight}

.container {
	overflow: hidden;
	height: 743px;
}





.contentRight{width:440px; float:right; margin:180px 0 0 0;}
.contentRight .buttonCreate, .contentRight .buttonPlay, .buttonCreate2{/*width:350px; background:url('../images/agenda/buttonCreate.png') no-repeat top left; color:#ffffff; font-size:20px; font-family:Helvetica;
                            text-decoration:none; display:block; text-align:center; height:48px;*/
    display: block;
    height: 32px;
    width: 320px;
    padding: 12px 16px 2px 14px;
    font-family: FoundrySans;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #009B78;
    text-align: center;
    text-decoration: none;
}
	
.contentRight .buttonCreate:active{background:#E8343A; color:#FFFFFF;}
.contentRight .buttonCreate.selected{background:#E8343A; color:#FFFFFF;}
 .contentRight .buttonPlay{background:#009B78 url('../images/agenda/buttonArrows.png') no-repeat 310px 10px;margin-bottom:5px;}
                            
.contentRight .buttonPlayOpen{background-position:310px -30px;}

/*                      
.contentRight .buttonPlay{background:url('../images/agenda/buttonPlay.png') no-repeat left -47px; color:#ffffff; font-size:20px; font-family:Helvetica;
                            text-decoration:none; display:block; text-align:center; height:47px; margin:20px 0 0 0; position:relative; z-index:99;
                            display:block;}
                            
.contentRight .buttonPlayOpen{width:350px; background-position:left 0px; color:#ffffff; font-size:20px; font-family:Helvetica;
                            text-decoration:none; display:block; text-align:center; height:47px; margin:20px 0 0 0; position:relative; z-index:99;}


.buttonCreate2{width:350px; background:url('../images/agenda/buttonCreate2.png') no-repeat top left; color:#ffffff; font-size:20px; font-family:Helvetica;
                            text-decoration:none; display:block; text-align:center; height:48px; margin-bottom:30px;}*/



#FingerScroll{height:361px; position:absolute; left:0px; overflow-y:scroll; top:30px;}




#downArrow{width: 0;
	height: 0;
	border-right: 20px solid transparent;
	border-top: 20px solid #eeeeee;
	border-left: 20px solid transparent; 
	position:absolute; bottom:100px; left:50%; z-index:999999999999999;}
	
	
#upArrow{width: 0;
	height: 0;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #eeeeee;
	border-left: 20px solid transparent; 
	position:absolute; top:190px; left:50%; z-index:999999999999999;
}

#scrollGrad{width:984px; height:40px; position:absolute; bottom:204px; left:65px; background: url('../images/agenda/scrollGrad.png') no-repeat;}


.content{padding:0 77px;}


#presentations{border:#c5c7cd solid 1px; background:#dcdfe5; -webkit-border-radius: 5px; margin:-8px 0 0 1px; position:relative; z-index:9; padding:14px 14px;}

#presentations .presButtons{display:block; background:#fff; border:#c9c9c9 solid 1px; color:#555555; text-decoration:none; font-family:FoundrySans; padding:10px 0 10px 17px; margin:-36px 0 0 0;}

#presentations a.editButton{width:50px; height:30px; background:url('../images/agenda/buttonEdit.png') no-repeat 0 center; display:inline-block; left:670px; top:-35px; position:relative;}
#presentations a.deleteButton{width:50px; height:30px; background:url('../images/agenda/buttonDelete.png') no-repeat 0 center; display:inline-block; left:690px; top:-35px; position:relative;}



#presentations a:nth-last-child(3){-webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px;}
#presentations a:first-child{-webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; margin:0 0 0 0;}


.chapterlist{margin:20px 0 0 47px; width:786px;}

.chapterlist li
{
    display: block;
    background: #009B78 url('../images/agenda/buttonAdd.png') no-repeat 278px center;
    width: 297px;
    color: white;
    text-decoration: none;
    font-family: FoundrySans;
    padding: 7px 0 7px 17px;
    margin-top: 2px;
    font-size: 18px;
}

.chapterlist li.active{display:block; background:#E8343A url('../images/agenda/buttonMinus.png') no-repeat 278px center; width:297px; color:#fff; 
                       text-decoration:none; font-family:FoundrySans; padding:7px 0 7px 17px;float:right; clear:right;}
                      

.chapterlist li:last-child{-webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px;}

.chapterlist li:first-child{-webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px;}


.contentRight #innerButtons{border:#009B78 solid 0px;-webkit-border-radius:5px; width:320px; background:#009B78; margin:-8px 0 0 1px; position:relative; z-index:9; padding:28px 14px;}

.contentRight #innerButtons a{display:block; background:#fff url('../images/agenda/rightArrow.png') no-repeat 290px 13px; border:#c9c9c9 solid 1px; width:297px; color:#555555; text-decoration:none; font-family:FoundrySans; padding:10px 0 10px 17px; font-size: 18px;}

.contentRight #innerButtons a:active{color:#ffffff; background-color:#E8343A; background-position:290px -23px;}

.contentRight #innerButtons a:last-child{-webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px;}

.contentRight #innerButtons a:first-child{-webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px;}
                    
                    
#chapterlist { overflow: scroll; -webkit-overflow-scrolling: touch; }                       


#buttons{margin:30px 0px 0 765px; width:300px;}

#buttons a{-webkit-box-sizing:border-box;
    display:block;
	height: 36px;
	width:  220px;
    padding: 8px 16px 0 14px;
    font-family: FoundrySans;
	font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	background-image: -webkit-linear-gradient(bottom, #F36F34 25%, #F4753D 50%, #F6976C 82%, #FAC3AB 100%);
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(136,136,136, 1)),
		color-stop(1, rgba(136,136,136, 1))
	);*/
	text-align: center;
	text-decoration:none;
}

#buttons a:active{
	background-image: -webkit-linear-gradient(bottom, #F2682D 25%, #F3672C 50%, #F37D4B 82%, #F8A987 100%);
	background-image: -webkit-gradient(
		linear,
		lebuttons2ft top,
		left bottom,
		color-stop(0, rgba(155,155,155, 1)),
		color-stop(0.5, rgba(155,155,155, 1)),
		color-stop(0.5, rgba(120,120,120, 1)),
		color-stop(1, rgba(120,120,120, 1))
	);
	text-align: center;
	text-decoration:none;
}
.buttons2{margin-left:340px; width:800px;}

.buttons2 a{-webkit-box-sizing:border-box;
    float:left;
	height: 43px;
	width:  200px;
	margin-right: 10px;
    padding: 14px 18px 0 18px;
    font-family: FoundrySans;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(136,136,136, 1)),
		color-stop(1, rgba(136,136,136, 1))
	);
	text-align: center;
	text-decoration:none;
}

.buttons2 a:active{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(155,155,155, 1)),
		color-stop(0.5, rgba(155,155,155, 1)),
		color-stop(0.5, rgba(120,120,120, 1)),
		color-stop(1, rgba(120,120,120, 1))
	);
	text-align: center;
	text-decoration:none;
}

#buttonWrapper
{
    position: relative;
    z-index: 1;
    width: auto;
    
    overflow: hidden;
}


#innerButtons
{
    width: auto;   
}


.debugdiv {
	position: absolute;
	z-index: 2000;
	right: 20px;
	top: 20px;
	height:  100px;
	width: 300px;
	background-color: whitesmoke;
	font: 14px "Helvetica", Arial, Helvetica, Geneva, sans-serif;
	border-style: dashed;
	border-color: #ff220e;
	overflow: auto;
	padding: 5px 5px 5px 5px;
	display: none;
}
.agendatitle {
}
.agendascroller {
    position:absolute;
	left:  0px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-transition: all 0.5s ease-out;
}


.slidethumbs ul li.activeThumb:nth-child(2) span{background:url('../images/agenda/number1.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(3) span{background:url('../images/agenda/number2.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(4) span{background:url('../images/agenda/number3.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(5) span{background:url('../images/agenda/number4.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(6) span{background:url('../images/agenda/number5.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(7) span{background:url('../images/agenda/number6.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(8) span{background:url('../images/agenda/number7.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(9) span{background:url('../images/agenda/number8.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(10) span{background:url('../images/agenda/number9.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(11) span{background:url('../images/agenda/number10.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(12) span{background:url('../images/agenda/number11.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(13) span{background:url('../images/agenda/number12.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(14) span{background:url('../images/agenda/number13.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(15) span{background:url('../images/agenda/number14.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}
.slidethumbs ul li.activeThumb:nth-child(16) span{background:url('../images/agenda/number15.png') no-repeat right 0px; display:block; height:104px; position:absolute; top:0; right:0px; width:138px;}

#chapterlist li{position:relative; overflow:visible;}

#chapterlist li.active:nth-child(1) span{background:url('../images/agenda/number1a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(2) span{background:url('../images/agenda/number2a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(3) span{background:url('../images/agenda/number3a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(4) span{background:url('../images/agenda/number4a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(5) span{background:url('../images/agenda/number5a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(6) span{background:url('../images/agenda/number6a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(7) span{background:url('../images/agenda/number7a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(8) span{background:url('../images/agenda/number8a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(9) span{background:url('../images/agenda/number9a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(10) span{background:url('../images/agenda/number10a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(11) span{background:url('../images/agenda/number11a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(12) span{background:url('../images/agenda/number12a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(13) span{background:url('../images/agenda/number13a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(14) span{background:url('../images/agenda/number14a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}
#chapterlist li.active:nth-child(15) span{background:url('../images/agenda/number15a.png') no-repeat right 8px; display:block; height:30px; position:absolute; top:0; right:-30px; width:30px;}


#chapterlist li:active{color:#ffffff; background-color:#E8343A;}

.slidethumbs ul li{border:#555555 solid 1px;}
.slidethumbs ul li.chaptertitle{border:none;}
.slidethumbs ul li.activeThumb{
	height: 104px;
	width: 138px;
   }


.slidethumbs {
	width: 1024px;

	-webkit-transition: all 1s ease-out;

}
.slideitem {
	height: 104px;
	width: 138px;
   }
  
.sorted ul {
   position: relative;
   width: 180px;
   list-style: none;
   float: left;
   margin-top:0px;
   margin-left:20px;
 }
 .sorted ul:nth-child(4), .sorted ul:nth-child(8){ margin-right:65px;}
 
.sorted li{
	margin: 10px;
	position:relative;
}
.buttons ul {
	position:absolute;
	top:  150px;
	left: 320px;
}
.buttons.pageone ul {
	position:absolute;
	top:  250px;
	left: 320px;
}
.agenda1 li.react {
	background-color: #767579;
}
.agenda1 li {
	-webkit-box-sizing:border-box;
	height: 43px;
	width:  300px;
    padding: 14px 18px 0 18px;
    font-family: FoundrySans;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(136,136,136, 1)),
		color-stop(1, rgba(136,136,136, 1))
	);
	text-align: center;
}



.chapters ul {
	position:absolute;
	top: 0px;
	left: 0px;
}

.chaptertitle {
	
	height: 10px;
    padding: 14px 18px 20px 0px;
    font-family:FoundrySans;
    font-size: 14px;
    font-weight: bold;
    
  
    color: #555555;
	
	text-align: left;
}
.chapters li.react {
	background-color: #767579;
}
/*.unsorted li {
	-webkit-box-sizing:border-box;
	height: 43px;
	width: 250px;
    padding: 14px 18px 14px 18px;
    font-family: "FrutigerLTStd77BlackCondensed", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
	-webkit-transition: all 1s ease-out;
	background: url(../images/agenda/Checkbox.png) no-repeat 0px 0px, -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(136,136,136, 1)),
		color-stop(1, rgba(136,136,136, 1))
	);
	text-align: center;
}
.unsorted .active {
	background: url(../images/agenda/Checkbox_flagged.png) no-repeat 0px 0px, -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(136,136,136, 1)),
		color-stop(1, rgba(136,136,136, 1))
	);

}
.chapters .active{
	background: url(../images/agenda/Checkbox_flagged.png) no-repeat 0px 0px, -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(174,174,174, 1)),
		color-stop(0.5, rgba(136,136,136, 1)),
		color-stop(1, rgba(136,136,136, 1))
	);}
*/

.menuholder{width:1024px; height:46px; background: url(../images/agenda/blackBar.png) repeat-x 0px 0px; position:absolute; left:0px; top:0px;}

.menuholder ul {
	position:absolute;
	top: -9px;
	left: -30px;
	z-index: 100;
}

.menuholder li.react {
	background-color: #767579;
}

.menuholder li{list-style:none;}
.menuholder li.disabled{display:none;}

.menuholder li#return{width:50px; height:29px; background: transparent url(../images/agenda/menu.png) no-repeat scroll 0px 0px;}
.menuholder li#addslides{width:148px; height:48px; position: absolute;left: 250px;top: 620px;/*background: url('../images/agenda/buttonNext.png') no-repeat 0 0;position:absolute; left:241px; top:690px;*/ }
.menuholder li#previous{width:148px; height:48px; position: absolute;left: 80px;top: 620px;/*background: url('../images/agenda/previous.png') no-repeat 0 0; position:absolute; left:79px; top:690px;*/}
.menuholder li#save{width:148px; height:48px; position: absolute;left: 250px;top: 620px;/*background: url('../images/agenda/buttonNext.png') no-repeat 0 0;position:absolute; left:241px; top:690px;*/ }
.menuholder li#play{width:148px; height:48px; /*background: url('../images/agenda/buttonPlay2.png') no-repeat 0 0;*/ position:absolute; left:890px; top:620px;}

.menuholder li#addslides, .menuholder li#previous, .menuholder li#save, .menuholder li#play{color:#fff; text-transform:uppercase;line-height:48px;font-size:20px;font-family:FoundrySans;text-align:center;background-color:#009B78;-webkit-border-radius:10px;}
.menuholder li#addslides:active, .menuholder li#previous:active, .menuholder li#save:active, .menuholder li#play:active{background-color:#E8343A;color:#FFFFFF;}

#arrowRight{width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #eeeeee;
	position:absolute; top:330px; right:20px; display:none;}
	
#arrowLeft{width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:20px solid #eeeeee;
	position:absolute; top:330px; left:20px; display:none;}



.footer {
	position: absolute;
	width: 1024px;
	height: 87px;
	z-index: 5;
	/*background: transparent url('../images/agenda/footerBg.png') repeat-x  left top;*/
	bottom: 0;
	right: 0;

}

.footer img{margin:10px 0 0 290px; float:right;}

.savewindow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1200;
    display: none;
	
  	font-family: FoundrySans;
}
.errorwindow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1200;
    display: none;
	
  	font-family: FoundrySans;
}

input {
	width: 390px;
	height:  30px;
	border: 1px solid #ad9cc1;
	border-radius: 8px;
	background-color: white;
    font-family: FoundrySans;
	font-size: 16px;
	/*color: #311856;*/
	color: #000000;
	padding-left:10px;
	margin:10px 0 5px 25px;
}
.dialog {
	width: 500px;
	height:  220px;
	position: absolute;
	top: 250px;
	left: 250px;
}

.dialogTop{width:460px; background:url('../images/agenda/bgDialogTop.png') no-repeat top left; padding:15px 20px 70px 20px;}

.dialogBottom{width:500px; height:22px; background:url('../images/agenda/bgDialogBottom.png') no-repeat top left;}

.dialog h1{line-height:1.3em !important; text-align:center; color:#ffffff; font-size:16px; border:none; margin:3px 0 0 0;letter-spacing:0 !important;}

.dialog p{line-height:1.3em; font-size:14px; color:#ffffff; margin:30px 0 0 0; text-align:center;}


.button {
	height: 43px;
    padding: 16px 0 0 0;
    margin-left: 65px;
	margin-top: 15px;
    font-family: FoundrySans;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background:url('../images/agenda/Play-Save_btn_gray.png') no-repeat top left;
	overflow: hidden;
	float: left;
	display: block;
	text-align:center;
}
.save {
	width: 156px;
	margin-left: 60px;
}
.cancel {
	width: 156px;
	margin-left: 30px;
}
.ok
{
    width: 156px;
	margin-left: 150px;
}

#playYes{}
#playNo{}

.show {
	display: block;
}
.hide {
	display: none;
}

.secondary-color {
color: #E8343B;
}

.primary-color{
	color:#009B78;
}
.color01{
	color:#fff;
}
.home{background: transparent url('../../../shared_assets/img/home-bg.jpg') no-repeat 0 0;}

h1,.home #container h1{
	font-family:HelveticaNeueRoman;	
	-webkit-font-smoothing: antialiased;
	
}
.home #page h2,.home #container h2{
	font-family:OptimaBold;	
}
h1 {line-height:56px;}
h1 sup {font-size:16px; position:relative; top: -13px; left: -3px;}
h1 span{ font-size: 50px;}

h1.primary { font-size: 38px; position:absolute; top:110px; left: 210px;}
h1.title-1 { font-size: 36px; position: absolute; top: 170px; right: 166px; }
h1.title-2 { font-size: 36px; position: absolute; top: 215px; right: 223px; }
h1.title-3 { font-size: 36px; position: absolute; top: 260px; right: 54px; }


.home #page h2,.home #container h2 { font-size: 32px;position:absolute; top:470px;right:88px;line-height:36px;}

.home .contentRight,.home #container .contentRight{
	margin: 350px 0 0 0;
}
.home #page .title{


}
.left{float:left !important}
.right{float:right !important}




