﻿#questions_recommendations_prevent_recurrent_events h1 { margin-bottom: 10px; }
#questions_recommendations_prevent_recurrent_events .accordion { width: 750px; margin-top: 0px; }
#questions_recommendations_prevent_recurrent_events .acc-header h3 { margin: 8px 0 2px; }