﻿#questions_which_patients_benefit .row { position: relative; }

#questions_which_patients_benefit .option-box { width: 267px; }


#questions_which_patients_benefit a { display: block; color: #fff; text-decoration: none; text-align: center; }
#questions_which_patients_benefit li span sup { font-size: 11px; }

#questions_which_patients_benefit .bottom-legend { margin-top: 46px; }



/* Animation */



#questions_which_patients_benefit .learn-box { width: 200px; margin-top: 160px; opacity: 0; }
#questions_which_patients_benefit .learn-box.anim-elem { }


#questions_which_patients_benefit .animation-box { position: relative; margin-top: 20px; -webkit-transform: translate3d(0px, 100px, 0px); }


/* left */

#aniQ5left-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQ5left-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQ5left-an-anim>ol>li.run {
	display:block;
}
#aniQ5left-an-anim .aniQ5left-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQ5left-an-anim .aniQ5left-an-stage div {
	position:absolute;
}
.aniQ5left-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQ5left-an-anim .aniQ5left-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQ5left-an-anim .AN-Scene-Description {
	display:none;
}
#aniQ5left-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQ5left-an-anim .aniQ5left-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQ5left-an-anim {
	height:303px;
	width:260px;
	position:relative;
}
#aniQ5left-an-anim {
	background-color:none;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#aniQ5left-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	width:168px;
	height:105px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5left-an-obj-1-0 {
	0% {
		-webkit-transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ5left-an-obj-1-0 {
	0% {
		transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ5left-an-obj-1 {
	animation-name:ani-aniQ5left-an-obj-1-0;
	-webkit-animation-name:ani-aniQ5left-an-obj-1-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5left-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	opacity:1;
}
.restart.t-0 #aniQ5left-an-obj-1 {
	transform:translate3d(41px,-65px,0px);
	-webkit-transform:translate3d(41px,-65px,0px);
	opacity:0;
}
.restart #aniQ5left-an-obj-1 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5left-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	width:111px;
	height:98px;
	top:0;
	left:0;
	text-align:center;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ5left-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ5left-an-obj-2-0 {
	0% {
		transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ5left-an-obj-2 {
	animation-name:ani-aniQ5left-an-obj-2-0;
	-webkit-animation-name:ani-aniQ5left-an-obj-2-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5left-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	opacity:1;
}
.restart.t-0 #aniQ5left-an-obj-2 {
	transform:translate3d(68px,0px,0px);
	-webkit-transform:translate3d(68px,0px,0px);
	opacity:0;
}
.restart #aniQ5left-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5left-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	width:251px;
	height:200px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5left-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-aniQ5left-an-obj-3-0 {
	0% {
		transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		opacity:0;
	}
	100% {
		transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #aniQ5left-an-obj-3 {
	animation-name:ani-aniQ5left-an-obj-3-0;
	-webkit-animation-name:ani-aniQ5left-an-obj-3-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:1.75s;
	-webkit-animation-delay:1.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5left-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #aniQ5left-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	opacity:0;
}
.restart #aniQ5left-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5left-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	width:245px;
	height:182px;
	top:7px;
	left:0px;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ5left-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ5left-an-obj-4-0 {
	0% {
		transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ5left-an-obj-4 {
	animation-name:ani-aniQ5left-an-obj-4-0;
	-webkit-animation-name:ani-aniQ5left-an-obj-4-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.75s;
	-webkit-animation-delay:2.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5left-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	opacity:1;
}
.restart.t-0 #aniQ5left-an-obj-4 {
	transform:translate3d(2px,111px,0px);
	-webkit-transform:translate3d(2px,111px,0px);
	opacity:0;
}
.restart #aniQ5left-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5left-an-scene-0 .aniQ5left-an-stage {
	background-color: rgba(255,255,255,0);
}

/* end left */






/* right */

#aniQ5right-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQ5right-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQ5right-an-anim>ol>li.run {
	display:block;
}
#aniQ5right-an-anim .aniQ5right-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQ5right-an-anim .aniQ5right-an-stage div {
	position:absolute;
}
.aniQ5right-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQ5right-an-anim .aniQ5right-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQ5right-an-anim .AN-Scene-Description {
	display:none;
}
#aniQ5right-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQ5right-an-anim .aniQ5right-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQ5right-an-anim {
	height:303px;
	width:260px;
	position:relative;
}
#aniQ5right-an-anim {
	background-color:none;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#aniQ5right-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	width:168px;
	height:105px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5right-an-obj-1-0 {
	0% {
		-webkit-transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ5right-an-obj-1-0 {
	0% {
		transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ5right-an-obj-1 {
	animation-name:ani-aniQ5right-an-obj-1-0;
	-webkit-animation-name:ani-aniQ5right-an-obj-1-0;
	animation-duration:0.5032s;
	-webkit-animation-duration:0.5032s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5right-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	opacity:1;
}
.restart.t-0 #aniQ5right-an-obj-1 {
	transform:translate3d(41px,-65px,0px);
	-webkit-transform:translate3d(41px,-65px,0px);
	opacity:0;
}
.restart #aniQ5right-an-obj-1 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5right-an-obj-2 {
	transform:translate3d(70px,6px,0px);
	-webkit-transform:translate3d(70px,6px,0px);
	width:115px;
	height:82px;
	top:0;
	left:-5px;
	color:rgba(255,255,255,1);
	text-align:center;
	line-height:117%;
	font-size:15px;
}
@-webkit-keyframes ani-aniQ5right-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(70px,1px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(70px,6px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ5right-an-obj-2-0 {
	0% {
		transform:translate3d(70px,1px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(70px,6px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ5right-an-obj-2 {
	animation-name:ani-aniQ5right-an-obj-2-0;
	-webkit-animation-name:ani-aniQ5right-an-obj-2-0;
	animation-duration:0.2468s;
	-webkit-animation-duration:0.2468s;
	animation-delay:1.0032s;
	-webkit-animation-delay:1.0032s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5right-an-obj-2 {
	transform:translate3d(70px,6px,0px);
	-webkit-transform:translate3d(70px,6px,0px);
	opacity:1;
}
.restart.t-0 #aniQ5right-an-obj-2 {
	transform:translate3d(70px,1px,0px);
	-webkit-transform:translate3d(70px,1px,0px);
	opacity:0;
}
.restart #aniQ5right-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5right-an-obj-3 {
	transform:translate3d(0px,102px,0px);
	-webkit-transform:translate3d(0px,102px,0px);
	width:251px;
	height:200px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5right-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(0px,102px,0px) scale3d(0,0,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(0px,102px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-aniQ5right-an-obj-3-0 {
	0% {
		transform:translate3d(0px,102px,0px) scale3d(0,0,1);
		opacity:0;
	}
	100% {
		transform:translate3d(0px,102px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #aniQ5right-an-obj-3 {
	animation-name:ani-aniQ5right-an-obj-3-0;
	-webkit-animation-name:ani-aniQ5right-an-obj-3-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:1.75s;
	-webkit-animation-delay:1.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5right-an-obj-3 {
	transform:translate3d(0px,102px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(0px,102px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #aniQ5right-an-obj-3 {
	transform:translate3d(0px,102px,0px) scale3d(0,0,1);
	-webkit-transform:translate3d(0px,102px,0px) scale3d(0,0,1);
	opacity:0;
}
.restart #aniQ5right-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5right-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	width:223px;
	height:187px;
	top:7px;
	left:0px;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ5right-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(5px,111px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ5right-an-obj-4-0 {
	0% {
		transform:translate3d(5px,111px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ5right-an-obj-4 {
	animation-name:ani-aniQ5right-an-obj-4-0;
	-webkit-animation-name:ani-aniQ5right-an-obj-4-0;
	animation-duration:0.2532s;
	-webkit-animation-duration:0.2532s;
	animation-delay:2.75s;
	-webkit-animation-delay:2.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5right-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	opacity:1;
}
.restart.t-0 #aniQ5right-an-obj-4 {
	transform:translate3d(5px,111px,0px);
	-webkit-transform:translate3d(5px,111px,0px);
	opacity:0;
}
.restart #aniQ5right-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5right-an-scene-0 .aniQ5right-an-stage {
	background-color: rgba(255,255,255,0);
}

/* end right */