﻿#questions_why_is_aspirin_used_acutely1 .box { margin-top: 40px; position: relative; background: none; }



#questions_why_is_aspirin_used_acutely1 .circle-box { width: 230px; }
#questions_why_is_aspirin_used_acutely1 .big-circle span { color: white; font-size: 60px; position: absolute; top: 94px; left: 32px; -webkit-transition: all .5s; opacity: 0; }
#questions_why_is_aspirin_used_acutely1 .big-circle span.show { opacity: 1; }



#questions_why_is_aspirin_used_acutely1 .button-box { width: 165px; position: relative; }
#questions_why_is_aspirin_used_acutely1 .btn-green-big {
    display: block;
    background: #009866;
    border: 2px solid #66C3AE;
    border-radius: 10px;
    width: 145px;
    height: 105px;
    position: absolute;
}

#questions_why_is_aspirin_used_acutely1 .btn-green-big.active { background: #46c199; }

#questions_why_is_aspirin_used_acutely1 .btn-green-big.second { top: 155px; }


#questions_why_is_aspirin_used_acutely1 .btn-green-big p { display: block; text-align: center; color: #fff; margin: 0; }
#questions_why_is_aspirin_used_acutely1 .btn-green-big .btn-txt1 { font-size: 24px; line-height: 1.2; width: 125px; padding: 20px 0 0 15px }
#questions_why_is_aspirin_used_acutely1 .btn-green-big .btn-txt2 { font-size: 18px; line-height: 1.2; width: 141px; padding: 9px 0 0 0; }



#questions_why_is_aspirin_used_acutely1 .button-text-box { width: 450px; height: 256px; position: absolute; left: 400px; }


#questions_why_is_aspirin_used_acutely1 .button-text-box p { width: 450px; right: -100px; }
#questions_why_is_aspirin_used_acutely1 .button-text-box p.opacity { right: 0px; }
#questions_why_is_aspirin_used_acutely1 .button-text-box .p1 { position: absolute; top: 3px; }
#questions_why_is_aspirin_used_acutely1 .button-text-box .p2 { position: absolute; bottom: 15px; }


#questions_why_is_aspirin_used_acutely1 .bottom-legend { margin-top: 80px; }


