﻿#questions_contents .green-box {
    width: 400px; 
    padding: 20px; 
    border: 2px solid #009A78;
    border-radius: 10px; 
    float: left;
}

#questions_contents .green-box.last { float: right; }


#questions_contents .green-box li { background: none; position: relative; }

#questions_contents .green-box li span {
    background: url('../../shared_assets/img/bullet-green.png') no-repeat 0px 0px;
    width: 18px;
    height: 17px;
    position: absolute;
    top: 7px;
    left: 0px;
    border-radius: 30px;
}