﻿#questions_why_is_aspirin_used_acutely4 .box { margin-top: 30px; }













/* Animation */



#animQ4-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#animQ4-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#animQ4-an-anim>ol>li.run {
	display:block;
}
#animQ4-an-anim .animQ4-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#animQ4-an-anim .animQ4-an-stage div {
	position:absolute;
}
.animQ4-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#animQ4-an-anim .animQ4-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#animQ4-an-anim .AN-Scene-Description {
	display:none;
}
#animQ4-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#animQ4-an-anim .animQ4-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#animQ4-an-anim {
	height:302px;
	width:532px;
	position:relative;
}
#animQ4-an-anim {
	background:none;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#animQ4-an-obj-1 {
	transform:translate3d(39px,173px,0px);
	-webkit-transform:translate3d(39px,173px,0px);
	width:84px;
	height:65px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-1-0 {
	0% {
		-webkit-transform:translate3d(39px,223px,0px);
		opacity:0;
		-webkit-animation-timing-function:ease-out;
	}
	100% {
		-webkit-transform:translate3d(39px,173px,0px);
		opacity:1;
		-webkit-animation-timing-function:ease-out;
	}
}
@keyframes ani-animQ4-an-obj-1-0 {
	0% {
		transform:translate3d(39px,223px,0px);
		opacity:0;
		animation-timing-function:ease-out;
	}
	100% {
		transform:translate3d(39px,173px,0px);
		opacity:1;
		animation-timing-function:ease-out;
	}
}
.run.t-0 #animQ4-an-obj-1 {
	animation-name:ani-animQ4-an-obj-1-0;
	-webkit-animation-name:ani-animQ4-an-obj-1-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:1.0046s;
	-webkit-animation-delay:1.0046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-1 {
	transform:translate3d(39px,173px,0px);
	-webkit-transform:translate3d(39px,173px,0px);
	opacity:1;
	animation-timing-function:ease-out;
	-webkit-animation-timing-function:ease-out;
}
.restart.t-0 #animQ4-an-obj-1 {
	transform:translate3d(39px,223px,0px);
	-webkit-transform:translate3d(39px,223px,0px);
	opacity:0;
	animation-timing-function:ease-out;
	-webkit-animation-timing-function:ease-out;
}
.restart #animQ4-an-obj-1 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-2 {
	transform:translate3d(39px,53px,0px);
	-webkit-transform:translate3d(39px,53px,0px);
	width:84px;
	height:65px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(39px,103px,0px) scale3d(1,1,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(39px,53px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-2-0 {
	0% {
		transform:translate3d(39px,103px,0px) scale3d(1,1,1);
		opacity:0;
	}
	100% {
		transform:translate3d(39px,53px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-2 {
	animation-name:ani-animQ4-an-obj-2-0;
	-webkit-animation-name:ani-animQ4-an-obj-2-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.7546s;
	-webkit-animation-delay:2.7546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-2 {
	transform:translate3d(39px,53px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(39px,53px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-2 {
	transform:translate3d(39px,103px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(39px,103px,0px) scale3d(1,1,1);
	opacity:0;
}
.restart #animQ4-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-3 {
	transform:translate3d(1px,120px,0px);
	-webkit-transform:translate3d(1px,120px,0px);
	width:160px;
	height:54px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(0,1,1);
	}
	100% {
		-webkit-transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(1,1,1);
	}
}
@keyframes ani-animQ4-an-obj-3-0 {
	0% {
		transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(0,1,1);
	}
	100% {
		transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(1,1,1);
	}
}
.run.t-0 #animQ4-an-obj-3 {
	animation-name:ani-animQ4-an-obj-3-0;
	-webkit-animation-name:ani-animQ4-an-obj-3-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:1.5046s;
	-webkit-animation-delay:1.5046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-3 {
	transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(1,1,1);
	-webkit-transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(1,1,1);
}
.restart.t-0 #animQ4-an-obj-3 {
	transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(0,1,1);
	-webkit-transform:translate3d(1px,120px,0px) skew(0deg,0deg) scale3d(0,1,1);
}
.restart #animQ4-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-4 {
	transform:translate3d(34px,135px,0px);
	-webkit-transform:translate3d(34px,135px,0px);
	width:159px;
	height:32px;
	top:-2px;
	left:-3px;
	color:rgba(255,255,255,1);
	font-size:15px;
	letter-spacing:1px;
}
@-webkit-keyframes ani-animQ4-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(34px,135px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(34px,135px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-4-0 {
	0% {
		transform:translate3d(34px,135px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(34px,135px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-4 {
	animation-name:ani-animQ4-an-obj-4-0;
	-webkit-animation-name:ani-animQ4-an-obj-4-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.2546s;
	-webkit-animation-delay:2.2546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-4 {
	transform:translate3d(34px,135px,0px);
	-webkit-transform:translate3d(34px,135px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-4 {
	transform:translate3d(34px,135px,0px);
	-webkit-transform:translate3d(34px,135px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-5 {
	transform:translate3d(1px,0px,0px);
	-webkit-transform:translate3d(1px,0px,0px);
	width:160px;
	height:54px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-5-0 {
	0% {
		-webkit-transform:translate3d(1px,0px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(1px,0px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-5-0 {
	0% {
		transform:translate3d(1px,0px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		transform:translate3d(1px,0px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-5 {
	animation-name:ani-animQ4-an-obj-5-0;
	-webkit-animation-name:ani-animQ4-an-obj-5-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:3.2546s;
	-webkit-animation-delay:3.2546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-5 {
	transform:translate3d(1px,0px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(1px,0px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-5 {
	transform:translate3d(1px,0px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(1px,0px,0px) scale3d(0,1,1);
	opacity:0;
}
.restart #animQ4-an-obj-5 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-6 {
	transform:translate3d(62px,16px,0px);
	-webkit-transform:translate3d(62px,16px,0px);
	width:97px;
	height:29px;
	top:-2px;
	left:-2px;
	color:rgba(255,255,255,1);
	font-size:15px;
}
@-webkit-keyframes ani-animQ4-an-obj-6-0 {
	0% {
		-webkit-transform:translate3d(62px,16px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(62px,16px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-6-0 {
	0% {
		transform:translate3d(62px,16px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(62px,16px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-6 {
	animation-name:ani-animQ4-an-obj-6-0;
	-webkit-animation-name:ani-animQ4-an-obj-6-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:4.0046s;
	-webkit-animation-delay:4.0046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-6 {
	transform:translate3d(62px,16px,0px);
	-webkit-transform:translate3d(62px,16px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-6 {
	transform:translate3d(62px,16px,0px);
	-webkit-transform:translate3d(62px,16px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-6 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-7 {
	transform:translate3d(224px,173px,0px);
	-webkit-transform:translate3d(224px,173px,0px);
	width:84px;
	height:65px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-7-0 {
	0% {
		-webkit-transform:translate3d(224px,223px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(224px,173px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-7-0 {
	0% {
		transform:translate3d(224px,223px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(224px,173px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-7 {
	animation-name:ani-animQ4-an-obj-7-0;
	-webkit-animation-name:ani-animQ4-an-obj-7-0;
	animation-duration:0.2503s;
	-webkit-animation-duration:0.2503s;
	animation-delay:1.0043s;
	-webkit-animation-delay:1.0043s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-7 {
	transform:translate3d(224px,173px,0px);
	-webkit-transform:translate3d(224px,173px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-7 {
	transform:translate3d(224px,223px,0px);
	-webkit-transform:translate3d(224px,223px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-7 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-8 {
	transform:translate3d(224px,53px,0px);
	-webkit-transform:translate3d(224px,53px,0px);
	width:84px;
	height:65px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-8-0 {
	0% {
		-webkit-transform:translate3d(224px,103px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(224px,53px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-8-0 {
	0% {
		transform:translate3d(224px,103px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(224px,53px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-8 {
	animation-name:ani-animQ4-an-obj-8-0;
	-webkit-animation-name:ani-animQ4-an-obj-8-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.7546s;
	-webkit-animation-delay:2.7546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-8 {
	transform:translate3d(224px,53px,0px);
	-webkit-transform:translate3d(224px,53px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-8 {
	transform:translate3d(224px,103px,0px);
	-webkit-transform:translate3d(224px,103px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-8 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-9 {
	transform:translate3d(186px,120px,0px);
	-webkit-transform:translate3d(186px,120px,0px);
	width:160px;
	height:54px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-9-0 {
	0% {
		-webkit-transform:translate3d(186px,120px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(186px,120px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-9-0 {
	0% {
		transform:translate3d(186px,120px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		transform:translate3d(186px,120px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-9 {
	animation-name:ani-animQ4-an-obj-9-0;
	-webkit-animation-name:ani-animQ4-an-obj-9-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:1.5046s;
	-webkit-animation-delay:1.5046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-9 {
	transform:translate3d(186px,120px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(186px,120px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-9 {
	transform:translate3d(186px,120px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(186px,120px,0px) scale3d(0,1,1);
	opacity:0;
}
.restart #animQ4-an-obj-9 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-10 {
	transform:translate3d(226px,135px,0px);
	-webkit-transform:translate3d(226px,135px,0px);
	width:101px;
	height:26px;
	top:-2px;
	left:-3px;
	color:rgba(255,255,255,1);
	letter-spacing:1px;
	font-size:15px;
}
@-webkit-keyframes ani-animQ4-an-obj-10-0 {
	0% {
		-webkit-transform:translate3d(226px,135px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(226px,135px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-10-0 {
	0% {
		transform:translate3d(226px,135px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(226px,135px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-10 {
	animation-name:ani-animQ4-an-obj-10-0;
	-webkit-animation-name:ani-animQ4-an-obj-10-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.2546s;
	-webkit-animation-delay:2.2546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-10 {
	transform:translate3d(226px,135px,0px);
	-webkit-transform:translate3d(226px,135px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-10 {
	transform:translate3d(226px,135px,0px);
	-webkit-transform:translate3d(226px,135px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-10 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-11 {
	transform:translate3d(186px,-1px,0px);
	-webkit-transform:translate3d(186px,-1px,0px);
	width:160px;
	height:54px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-11-0 {
	0% {
		-webkit-transform:translate3d(186px,-1px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(186px,-1px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-11-0 {
	0% {
		transform:translate3d(186px,-1px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		transform:translate3d(186px,-1px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-11 {
	animation-name:ani-animQ4-an-obj-11-0;
	-webkit-animation-name:ani-animQ4-an-obj-11-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:3.2546s;
	-webkit-animation-delay:3.2546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-11 {
	transform:translate3d(186px,-1px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(186px,-1px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-11 {
	transform:translate3d(186px,-1px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(186px,-1px,0px) scale3d(0,1,1);
	opacity:0;
}
.restart #animQ4-an-obj-11 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-12 {
	transform:translate3d(214px,16px,0px);
	-webkit-transform:translate3d(214px,16px,0px);
	width:175px;
	height:36px;
	top:-3px;
	left:0;
	color:rgba(255,255,255,1);
	font-size:14px;
	letter-spacing:0px;
}
@-webkit-keyframes ani-animQ4-an-obj-12-0 {
	0% {
		-webkit-transform:translate3d(214px,16px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(214px,16px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-12-0 {
	0% {
		transform:translate3d(214px,16px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(214px,16px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-12 {
	animation-name:ani-animQ4-an-obj-12-0;
	-webkit-animation-name:ani-animQ4-an-obj-12-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:4.0046s;
	-webkit-animation-delay:4.0046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-12 {
	transform:translate3d(214px,16px,0px);
	-webkit-transform:translate3d(214px,16px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-12 {
	transform:translate3d(214px,16px,0px);
	-webkit-transform:translate3d(214px,16px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-12 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-13 {
	transform:translate3d(410px,172px,0px);
	-webkit-transform:translate3d(410px,172px,0px);
	width:84px;
	height:65px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-13-0 {
	0% {
		-webkit-transform:translate3d(410px,222px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(410px,172px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-13-0 {
	0% {
		transform:translate3d(410px,222px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(410px,172px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-13 {
	animation-name:ani-animQ4-an-obj-13-0;
	-webkit-animation-name:ani-animQ4-an-obj-13-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:1.0046s;
	-webkit-animation-delay:1.0046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-13 {
	transform:translate3d(410px,172px,0px);
	-webkit-transform:translate3d(410px,172px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-13 {
	transform:translate3d(410px,222px,0px);
	-webkit-transform:translate3d(410px,222px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-13 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-14 {
	transform:translate3d(410px,53px,0px);
	-webkit-transform:translate3d(410px,53px,0px);
	width:84px;
	height:65px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-14-0 {
	0% {
		-webkit-transform:translate3d(410px,103px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(410px,53px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-14-0 {
	0% {
		transform:translate3d(410px,103px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(410px,53px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-14 {
	animation-name:ani-animQ4-an-obj-14-0;
	-webkit-animation-name:ani-animQ4-an-obj-14-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.7546s;
	-webkit-animation-delay:2.7546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-14 {
	transform:translate3d(410px,53px,0px);
	-webkit-transform:translate3d(410px,53px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-14 {
	transform:translate3d(410px,103px,0px);
	-webkit-transform:translate3d(410px,103px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-14 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-15 {
	transform:translate3d(372px,120px,0px);
	-webkit-transform:translate3d(372px,120px,0px);
	width:160px;
	height:54px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-15-0 {
	0% {
		-webkit-transform:translate3d(372px,120px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(372px,120px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-15-0 {
	0% {
		transform:translate3d(372px,120px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		transform:translate3d(372px,120px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-15 {
	animation-name:ani-animQ4-an-obj-15-0;
	-webkit-animation-name:ani-animQ4-an-obj-15-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:1.5046s;
	-webkit-animation-delay:1.5046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-15 {
	transform:translate3d(372px,120px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(372px,120px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-15 {
	transform:translate3d(372px,120px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(372px,120px,0px) scale3d(0,1,1);
	opacity:0;
}
.restart #animQ4-an-obj-15 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-16 {
	transform:translate3d(408px,136px,0px);
	-webkit-transform:translate3d(408px,136px,0px);
	width:151px;
	height:31px;
	top:-2px;
	left:-3px;
	color:rgba(255,255,255,1);
	font-size:15px;
	letter-spacing:1px;
}
@-webkit-keyframes ani-animQ4-an-obj-16-0 {
	0% {
		-webkit-transform:translate3d(408px,136px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(408px,136px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-16-0 {
	0% {
		transform:translate3d(408px,136px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(408px,136px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-16 {
	animation-name:ani-animQ4-an-obj-16-0;
	-webkit-animation-name:ani-animQ4-an-obj-16-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.2546s;
	-webkit-animation-delay:2.2546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-16 {
	transform:translate3d(408px,136px,0px);
	-webkit-transform:translate3d(408px,136px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-16 {
	transform:translate3d(408px,136px,0px);
	-webkit-transform:translate3d(408px,136px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-16 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-17 {
	transform:translate3d(372px,0px,0px);
	-webkit-transform:translate3d(372px,0px,0px);
	width:160px;
	height:54px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ4-an-obj-17-0 {
	0% {
		-webkit-transform:translate3d(372px,0px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(372px,0px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-17-0 {
	0% {
		transform:translate3d(372px,0px,0px) scale3d(0,1,1);
		opacity:0;
	}
	100% {
		transform:translate3d(372px,0px,0px) scale3d(1,1,1);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-17 {
	animation-name:ani-animQ4-an-obj-17-0;
	-webkit-animation-name:ani-animQ4-an-obj-17-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:3.2546s;
	-webkit-animation-delay:3.2546s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-17 {
	transform:translate3d(372px,0px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(372px,0px,0px) scale3d(1,1,1);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-17 {
	transform:translate3d(372px,0px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(372px,0px,0px) scale3d(0,1,1);
	opacity:0;
}
.restart #animQ4-an-obj-17 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-18 {
	transform:translate3d(436px,16px,0px);
	-webkit-transform:translate3d(436px,16px,0px);
	width:149px;
	height:29px;
	top:-3px;
	left:-7px;
	color:rgba(255,255,255,1);
	font-size:15px;
}
@-webkit-keyframes ani-animQ4-an-obj-18-0 {
	0% {
		-webkit-transform:translate3d(436px,16px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(436px,16px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ4-an-obj-18-0 {
	0% {
		transform:translate3d(436px,16px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(436px,16px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ4-an-obj-18 {
	animation-name:ani-animQ4-an-obj-18-0;
	-webkit-animation-name:ani-animQ4-an-obj-18-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:4.0046s;
	-webkit-animation-delay:4.0046s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ4-an-obj-18 {
	transform:translate3d(436px,16px,0px);
	-webkit-transform:translate3d(436px,16px,0px);
	opacity:1;
}
.restart.t-0 #animQ4-an-obj-18 {
	transform:translate3d(436px,16px,0px);
	-webkit-transform:translate3d(436px,16px,0px);
	opacity:0;
}
.restart #animQ4-an-obj-18 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ4-an-obj-19 {
	transform:translate3d(0px,239px,0px);
	-webkit-transform:translate3d(0px,239px,0px);
	width:532px;
	height:53px;
	top:0;
	left:0;
}

#animQ4-an-obj-19.delay { -webkit-animation-delay: 4.5s; }


#animQ4-an-obj-20 {
	transform:translate3d(225px,250px,0px);
	-webkit-transform:translate3d(225px,250px,0px);
	width:178px;
	height:29px;
	top:3px;
	left:0;
	color:rgba(255,255,255,1);
	font-size:21px;
}
#animQ4-an-scene-0 .animQ4-an-stage {
	background-color: rgba(255,255,255,0);
}