﻿#questions_risk_factors_for_bleeding_popup .animation-box { margin-top: 20px; }

#questions_risk_factors_for_bleeding_popup ul.fr { width: 280px; }
#questions_risk_factors_for_bleeding_popup ul.fr li { margin-right: 30px; background-position: 0 3px; }

#questions_risk_factors_for_bleeding_popup .aspirin-highlight {
    width: 213px;
    height: 30px;
    z-index: 9999;
    top: 12px;
    left: 44px;
    display: none;
}


/* Animation */


#aniQrisk-popup-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQrisk-popup-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQrisk-popup-an-anim>ol>li.run {
	display:block;
}
#aniQrisk-popup-an-anim .aniQrisk-popup-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQrisk-popup-an-anim .aniQrisk-popup-an-stage div {
	position:absolute;
}
.aniQrisk-popup-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQrisk-popup-an-anim .aniQrisk-popup-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQrisk-popup-an-anim .AN-Scene-Description {
	display:none;
}
#aniQrisk-popup-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQrisk-popup-an-anim .aniQrisk-popup-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQrisk-popup-an-anim {
	height:354px;
	width:521px;
	position:relative;
}
#aniQrisk-popup-an-anim {
	background-color:rgba(255,255,255,1);
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#aniQrisk-popup-an-obj-1 {
	transform:translate3d(0px,0px,0px);
	-webkit-transform:translate3d(0px,0px,0px);
	width:521px;
	height:354px;
	top:0;
	left:0;
	display: none;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-1-0 {
	0% {
		-webkit-transform:translate3d(0px,0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(0px,0px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-1-0 {
	0% {
		transform:translate3d(0px,0px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(0px,0px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-1 {
	animation-name:ani-aniQrisk-popup-an-obj-1-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-1-0;
	animation-duration:0.7637s;
	-webkit-animation-duration:0.7637s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-1 {
	transform:translate3d(0px,0px,0px);
	-webkit-transform:translate3d(0px,0px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-1 {
	transform:translate3d(0px,0px,0px);
	-webkit-transform:translate3d(0px,0px,0px);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-1 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-2 {
	transform:translate3d(139px,10px,0px);
	-webkit-transform:translate3d(139px,10px,0px);
	width:340px;
	height:280px;
	border-top:0px solid rgba(1,14,13,1);
	border-right:0px solid rgba(1,14,13,1);
	border-bottom:0px solid rgba(1,14,13,1);
	border-left:0px solid rgba(1,14,13,1);
	background-color:rgba(255,255,255,1);
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(139px,10px,0px) scale3d(1,1,1);
		-webkit-transform-origin:100% 50%;
		-webkit-animation-timing-function:linear;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
	100% {
		-webkit-transform:translate3d(139px,10px,0px) scale3d(0,1,1);
		-webkit-transform-origin:100% 50%;
		-webkit-animation-timing-function:linear;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
}
@keyframes ani-aniQrisk-popup-an-obj-2-0 {
	0% {
		transform:translate3d(139px,10px,0px) scale3d(1,1,1);
		transform-origin:100% 50%;
		animation-timing-function:linear;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
	100% {
		transform:translate3d(139px,10px,0px) scale3d(0,1,1);
		transform-origin:100% 50%;
		animation-timing-function:linear;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
}
.run.t-0 #aniQrisk-popup-an-obj-2 {
	animation-name:ani-aniQrisk-popup-an-obj-2-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-2-0;
	animation-duration:3.25s;
	-webkit-animation-duration:3.25s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-2 {
	transform:translate3d(139px,10px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(139px,10px,0px) scale3d(0,1,1);
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	border-top:0px solid rgba(127,127,127,1);
	border-right:0px solid rgba(127,127,127,1);
	border-bottom:0px solid rgba(127,127,127,1);
	border-left:0px solid rgba(127,127,127,1);
}
.restart.t-0 #aniQrisk-popup-an-obj-2 {
	transform:translate3d(139px,10px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(139px,10px,0px) scale3d(1,1,1);
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	border-top:0px solid rgba(127,127,127,1);
	border-right:0px solid rgba(127,127,127,1);
	border-bottom:0px solid rgba(127,127,127,1);
	border-left:0px solid rgba(127,127,127,1);
}
.restart #aniQrisk-popup-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-3 {
	transform:translate3d(0px,0px,0px);
	-webkit-transform:translate3d(0px,0px,0px);
	width:521px;
	height:354px;
	top:0;
	left:0;
	border-top:0px solid rgba(255,255,255,1);
	border-right:0px solid rgba(255,255,255,1);
	border-bottom:0px solid rgba(255,255,255,1);
	border-left:0px solid rgba(255,255,255,1);
}
#aniQrisk-popup-an-obj-4 {
	transform:translate3d(232px,22px,0px);
	-webkit-transform:translate3d(232px,22px,0px);
	width:39px;
	height:20px;
	top:-7px;
	left:0;
	font-size:10px;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(237px,22px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(232px,22px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-4-0 {
	0% {
		transform:translate3d(237px,22px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(232px,22px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-4 {
	animation-name:ani-aniQrisk-popup-an-obj-4-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-4-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:4.7525s;
	-webkit-animation-delay:4.7525s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-4 {
	transform:translate3d(232px,22px,0px);
	-webkit-transform:translate3d(232px,22px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-4 {
	transform:translate3d(237px,22px,0px);
	-webkit-transform:translate3d(237px,22px,0px);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-5 {
	transform:translate3d(262px,63px,0px);
	-webkit-transform:translate3d(262px,63px,0px);
	width:31px;
	height:19px;
	top:-7px;
	left:0;
	font-size:10px;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-5-0 {
	0% {
		-webkit-transform:translate3d(267px,63px,0px) skew(5deg,0deg);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(262px,63px,0px) skew(0deg,0deg);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-5-0 {
	0% {
		transform:translate3d(267px,63px,0px) skew(5deg,0deg);
		opacity:0;
	}
	100% {
		transform:translate3d(262px,63px,0px) skew(0deg,0deg);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-5 {
	animation-name:ani-aniQrisk-popup-an-obj-5-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-5-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:5.005s;
	-webkit-animation-delay:5.005s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-5 {
	transform:translate3d(262px,63px,0px) skew(0deg,0deg);
	-webkit-transform:translate3d(262px,63px,0px) skew(0deg,0deg);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-5 {
	transform:translate3d(267px,63px,0px) skew(5deg,0deg);
	-webkit-transform:translate3d(267px,63px,0px) skew(5deg,0deg);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-5 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-6 {
	transform:translate3d(278px,107px,0px);
	-webkit-transform:translate3d(278px,107px,0px);
	width:21px;
	height:13px;
	top:-7px;
	left:0;
	font-size:10px;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-6-0 {
	0% {
		-webkit-transform:translate3d(283px,107px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(278px,107px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-6-0 {
	0% {
		transform:translate3d(283px,107px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(278px,107px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-6 {
	animation-name:ani-aniQrisk-popup-an-obj-6-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-6-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:5.255s;
	-webkit-animation-delay:5.255s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-6 {
	transform:translate3d(278px,107px,0px);
	-webkit-transform:translate3d(278px,107px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-6 {
	transform:translate3d(283px,107px,0px);
	-webkit-transform:translate3d(283px,107px,0px);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-6 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-7 {
	transform:translate3d(284px,148px,0px);
	-webkit-transform:translate3d(284px,148px,0px);
	width:35px;
	height:20px;
	top:-7px;
	left:0;
	font-size:10px;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-7-0 {
	0% {
		-webkit-transform:translate3d(289px,148px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(284px,148px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-7-0 {
	0% {
		transform:translate3d(289px,148px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(284px,148px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-7 {
	animation-name:ani-aniQrisk-popup-an-obj-7-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-7-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:5.5025s;
	-webkit-animation-delay:5.5025s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-7 {
	transform:translate3d(284px,148px,0px);
	-webkit-transform:translate3d(284px,148px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-7 {
	transform:translate3d(289px,148px,0px);
	-webkit-transform:translate3d(289px,148px,0px);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-7 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-8 {
	transform:translate3d(306px,192px,0px);
	-webkit-transform:translate3d(306px,192px,0px);
	width:31px;
	height:20px;
	top:-7px;
	left:0;
	font-size:10px;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-8-0 {
	0% {
		-webkit-transform:translate3d(311px,192px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(306px,192px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-8-0 {
	0% {
		transform:translate3d(311px,192px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(306px,192px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-8 {
	animation-name:ani-aniQrisk-popup-an-obj-8-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-8-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:5.755s;
	-webkit-animation-delay:5.755s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-8 {
	transform:translate3d(306px,192px,0px);
	-webkit-transform:translate3d(306px,192px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-8 {
	transform:translate3d(311px,192px,0px);
	-webkit-transform:translate3d(311px,192px,0px);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-8 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-9 {
	transform:translate3d(476px,232px,0px);
	-webkit-transform:translate3d(476px,232px,0px);
	width:32px;
	height:18px;
	top:-7px;
	left:0;
	font-size:10px;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-9-0 {
	0% {
		-webkit-transform:translate3d(481px,232px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(476px,232px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-9-0 {
	0% {
		transform:translate3d(481px,232px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(476px,232px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-9 {
	animation-name:ani-aniQrisk-popup-an-obj-9-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-9-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:6.005s;
	-webkit-animation-delay:6.005s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-9 {
	transform:translate3d(476px,232px,0px);
	-webkit-transform:translate3d(476px,232px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-9 {
	transform:translate3d(481px,232px,0px);
	-webkit-transform:translate3d(481px,232px,0px);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-9 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-10 {
	transform:translate3d(486px,275px,0px);
	-webkit-transform:translate3d(486px,275px,0px);
	width:24px;
	height:15px;
	top:-7px;
	left:0;
	font-size:10px;
}
@-webkit-keyframes ani-aniQrisk-popup-an-obj-10-0 {
	0% {
		-webkit-transform:translate3d(491px,275px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(486px,275px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-popup-an-obj-10-0 {
	0% {
		transform:translate3d(491px,275px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(486px,275px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-popup-an-obj-10 {
	animation-name:ani-aniQrisk-popup-an-obj-10-0;
	-webkit-animation-name:ani-aniQrisk-popup-an-obj-10-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:6.2575s;
	-webkit-animation-delay:6.2575s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-popup-an-obj-10 {
	transform:translate3d(486px,275px,0px);
	-webkit-transform:translate3d(486px,275px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-popup-an-obj-10 {
	transform:translate3d(491px,275px,0px);
	-webkit-transform:translate3d(491px,275px,0px);
	opacity:0;
}
.restart #aniQrisk-popup-an-obj-10 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-popup-an-obj-11 {
	transform:translate3d(365px,44px,0px);
	-webkit-transform:translate3d(365px,44px,0px);
	width:136px;
	height:84px;
	top:0;
	left:0;
	font-size:16px;
}
#aniQrisk-popup-an-obj-12 {
	transform:translate3d(141px,330px,0px);
	-webkit-transform:translate3d(141px,330px,0px);
	width:298px;
	height:37px;
	top:0;
	left:0;
	font-size:18px;
	letter-spacing:0px;
}
#aniQrisk-popup-an-scene-0 .aniQrisk-popup-an-stage {
	background-color: rgba(255,255,255,1);
}