﻿#questions_recommendations_in_acute_treatment .flicker { position: absolute; }
#questions_recommendations_in_acute_treatment h3.flicker { margin-top: 112px; }

#questions_recommendations_in_acute_treatment .radius-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#questions_recommendations_in_acute_treatment .radius-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#questions_recommendations_in_acute_treatment .accordion { margin-top: 190px; }


#questions_recommendations_in_acute_treatment .learnMore-box { position: absolute; top: 218px; right: 28px; }

#questions_recommendations_in_acute_treatment .learn-more span { font-size: 16px; padding-top: 45px; }