﻿
#questions_why_is_aspirin_used_acutely2 .fl { width: 225px; }
#questions_why_is_aspirin_used_acutely2 .fl ul { margin-top: 20px; }
#questions_why_is_aspirin_used_acutely2 .fl ul .li-2 { margin-top: 30px; }


#questions_why_is_aspirin_used_acutely2 .animation {
    float: left; margin-left: 20px; 
    border: 2px solid #009B78;
    border-radius: 10px;
    background: white; 
    height: 360px;
}



#questions_why_is_aspirin_used_acutely2 .bottom-legend { margin-top: 50px; }


/* Animations */

#questions_why_is_aspirin_used_acutely2 .li-1.anim-elem { -webkit-animation-delay: 2s; }
#questions_why_is_aspirin_used_acutely2 .li-2.anim-elem { -webkit-animation-delay: 5.5s; }


#animQ2-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#animQ2-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#animQ2-an-anim>ol>li.run {
	display:block;
}
#animQ2-an-anim .animQ2-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#animQ2-an-anim .animQ2-an-stage div {
	position:absolute;
}
.animQ2-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#animQ2-an-anim .animQ2-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#animQ2-an-anim .AN-Scene-Description {
	display:none;
}
#animQ2-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#animQ2-an-anim .animQ2-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#animQ2-an-anim {
	height:346px;
	width:640px;
	position:relative;
}
#animQ2-an-anim {
	background-color:rgba(255,255,255,1);
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
	border-radius: 10px;
}
#animQ2-an-obj-1 {
	transform:translate3d(-1px,0px,0px);
	-webkit-transform:translate3d(-1px,0px,0px);
	width:641px;
	height:346px;
	top:0;
	left:0;
}
#animQ2-an-obj-2 {
	transform:translate3d(199px,324px,0px);
	-webkit-transform:translate3d(199px,324px,0px);
	width:251px;
	height:26px;
	top:0;
	left:0;
	font-size:14px;
	opacity:1;
	letter-spacing:0px;
}
@-webkit-keyframes ani-animQ2-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(199px,324px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(199px,324px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ2-an-obj-2-0 {
	0% {
		transform:translate3d(199px,324px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(199px,324px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ2-an-obj-2 {
	animation-name:ani-animQ2-an-obj-2-0;
	-webkit-animation-name:ani-animQ2-an-obj-2-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:8.506s;
	-webkit-animation-delay:8.506s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ2-an-obj-2 {
	transform:translate3d(199px,324px,0px);
	-webkit-transform:translate3d(199px,324px,0px);
	opacity:1;
}
.restart.t-0 #animQ2-an-obj-2 {
	transform:translate3d(199px,324px,0px);
	-webkit-transform:translate3d(199px,324px,0px);
	opacity:0;
}
.restart #animQ2-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ2-an-obj-3 {
	transform:translate3d(23px,205px,0px);
	-webkit-transform:translate3d(23px,205px,0px);
	width:596px;
	height:114px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ2-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(23px,205px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(23px,205px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ2-an-obj-3-0 {
	0% {
		transform:translate3d(23px,205px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(23px,205px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ2-an-obj-3 {
	animation-name:ani-animQ2-an-obj-3-0;
	-webkit-animation-name:ani-animQ2-an-obj-3-0;
	animation-duration:0.5059s;
	-webkit-animation-duration:0.5059s;
	animation-delay:6.2591s;
	-webkit-animation-delay:6.2591s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ2-an-obj-3 {
	transform:translate3d(23px,205px,0px);
	-webkit-transform:translate3d(23px,205px,0px);
	opacity:1;
}
.restart.t-0 #animQ2-an-obj-3 {
	transform:translate3d(23px,205px,0px);
	-webkit-transform:translate3d(23px,205px,0px);
	opacity:0;
}
.restart #animQ2-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ2-an-obj-4 {
	transform:translate3d(19px,202px,0px);
	-webkit-transform:translate3d(19px,202px,0px);
	width:599px;
	height:123px;
	border-top:0px solid rgba(1,14,13,1);
	border-right:0px solid rgba(1,14,13,1);
	border-bottom:0px solid rgba(1,14,13,1);
	border-left:0px solid rgba(1,14,13,1);
	background-color:rgba(255,255,255,1);
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ2-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(19px,202px,0px) scale3d(1,1,1);
		-webkit-transform-origin:100% 50%;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
	100% {
		-webkit-transform:translate3d(19px,202px,0px) scale3d(0,1,1);
		-webkit-transform-origin:100% 50%;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
}
@keyframes ani-animQ2-an-obj-4-0 {
	0% {
		transform:translate3d(19px,202px,0px) scale3d(1,1,1);
		transform-origin:100% 50%;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
	100% {
		transform:translate3d(19px,202px,0px) scale3d(0,1,1);
		transform-origin:100% 50%;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
}
.run.t-0 #animQ2-an-obj-4 {
	animation-name:ani-animQ2-an-obj-4-0;
	-webkit-animation-name:ani-animQ2-an-obj-4-0;
	animation-duration:1s;
	-webkit-animation-duration:1s;
	animation-delay:7.0031s;
	-webkit-animation-delay:7.0031s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ2-an-obj-4 {
	transform:translate3d(19px,202px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(19px,202px,0px) scale3d(0,1,1);
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
	border-top:0px solid rgba(127,127,127,1);
	border-right:0px solid rgba(127,127,127,1);
	border-bottom:0px solid rgba(127,127,127,1);
	border-left:0px solid rgba(127,127,127,1);
}
.restart.t-0 #animQ2-an-obj-4 {
	transform:translate3d(19px,202px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(19px,202px,0px) scale3d(1,1,1);
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
	border-top:0px solid rgba(127,127,127,1);
	border-right:0px solid rgba(127,127,127,1);
	border-bottom:0px solid rgba(127,127,127,1);
	border-left:0px solid rgba(127,127,127,1);
}
.restart #animQ2-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ2-an-obj-5 {
	transform:translate3d(22px,183px,0px);
	-webkit-transform:translate3d(22px,183px,0px);
	width:120px;
	height:20px;
	top:0;
	left:0;
	font-size:14px;
	opacity:1;
}
@-webkit-keyframes ani-animQ2-an-obj-5-0 {
	0% {
		-webkit-transform:translate3d(22px,183px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(22px,183px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ2-an-obj-5-0 {
	0% {
		transform:translate3d(22px,183px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(22px,183px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ2-an-obj-5 {
	animation-name:ani-animQ2-an-obj-5-0;
	-webkit-animation-name:ani-animQ2-an-obj-5-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:6.0031s;
	-webkit-animation-delay:6.0031s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ2-an-obj-5 {
	transform:translate3d(22px,183px,0px);
	-webkit-transform:translate3d(22px,183px,0px);
	opacity:1;
}
.restart.t-0 #animQ2-an-obj-5 {
	transform:translate3d(22px,183px,0px);
	-webkit-transform:translate3d(22px,183px,0px);
	opacity:0;
}
.restart #animQ2-an-obj-5 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ2-an-obj-6 {
	transform:translate3d(22px,62px,0px);
	-webkit-transform:translate3d(22px,62px,0px);
	width:596px;
	height:114px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ2-an-obj-6-0 {
	0% {
		-webkit-transform:translate3d(22px,62px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(22px,62px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ2-an-obj-6-0 {
	0% {
		transform:translate3d(22px,62px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(22px,62px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ2-an-obj-6 {
	animation-name:ani-animQ2-an-obj-6-0;
	-webkit-animation-name:ani-animQ2-an-obj-6-0;
	animation-duration:0.7619s;
	-webkit-animation-duration:0.7619s;
	animation-delay:3s;
	-webkit-animation-delay:3s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ2-an-obj-6 {
	transform:translate3d(22px,62px,0px);
	-webkit-transform:translate3d(22px,62px,0px);
	opacity:1;
}
.restart.t-0 #animQ2-an-obj-6 {
	transform:translate3d(22px,62px,0px);
	-webkit-transform:translate3d(22px,62px,0px);
	opacity:0;
}
.restart #animQ2-an-obj-6 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ2-an-obj-7 {
	transform:translate3d(17px,59px,0px);
	-webkit-transform:translate3d(17px,59px,0px);
	width:602px;
	height:119px;
	border-top:0px solid rgba(1,14,13,1);
	border-right:0px solid rgba(1,14,13,1);
	border-bottom:0px solid rgba(1,14,13,1);
	border-left:0px solid rgba(1,14,13,1);
	background-color:rgba(255,255,255,1);
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ2-an-obj-7-0 {
	0% {
		-webkit-transform:translate3d(17px,59px,0px) scale3d(1,1,1);
		-webkit-transform-origin:100% 50%;
		-webkit-animation-timing-function:ease-in;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
	100% {
		-webkit-transform:translate3d(17px,59px,0px) scale3d(0,1,1);
		-webkit-transform-origin:100% 50%;
		-webkit-animation-timing-function:ease;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
}
@keyframes ani-animQ2-an-obj-7-0 {
	0% {
		transform:translate3d(17px,59px,0px) scale3d(1,1,1);
		transform-origin:100% 50%;
		animation-timing-function:ease-in;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
	100% {
		transform:translate3d(17px,59px,0px) scale3d(0,1,1);
		transform-origin:100% 50%;
		animation-timing-function:ease;
		border-top:0px solid rgba(127,127,127,1);
		border-right:0px solid rgba(127,127,127,1);
		border-bottom:0px solid rgba(127,127,127,1);
		border-left:0px solid rgba(127,127,127,1);
	}
}
.run.t-0 #animQ2-an-obj-7 {
	animation-name:ani-animQ2-an-obj-7-0;
	-webkit-animation-name:ani-animQ2-an-obj-7-0;
	animation-duration:1s;
	-webkit-animation-duration:1s;
	animation-delay:4.006s;
	-webkit-animation-delay:4.006s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ2-an-obj-7 {
	transform:translate3d(17px,59px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(17px,59px,0px) scale3d(0,1,1);
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
	animation-timing-function:ease;
	-webkit-animation-timing-function:ease;
	border-top:0px solid rgba(127,127,127,1);
	border-right:0px solid rgba(127,127,127,1);
	border-bottom:0px solid rgba(127,127,127,1);
	border-left:0px solid rgba(127,127,127,1);
}
.restart.t-0 #animQ2-an-obj-7 {
	transform:translate3d(17px,59px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(17px,59px,0px) scale3d(1,1,1);
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
	animation-timing-function:ease-in;
	-webkit-animation-timing-function:ease-in;
	border-top:0px solid rgba(127,127,127,1);
	border-right:0px solid rgba(127,127,127,1);
	border-bottom:0px solid rgba(127,127,127,1);
	border-left:0px solid rgba(127,127,127,1);
}
.restart #animQ2-an-obj-7 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ2-an-obj-8 {
	transform:translate3d(22px,39px,0px);
	-webkit-transform:translate3d(22px,39px,0px);
	width:134px;
	height:22px;
	top:0;
	left:0;
	font-size:14px;
	letter-spacing:0px;
	opacity:1;
}
@-webkit-keyframes ani-animQ2-an-obj-8-0 {
	0% {
		-webkit-transform:translate3d(22px,39px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(22px,39px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ2-an-obj-8-0 {
	0% {
		transform:translate3d(22px,39px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(22px,39px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ2-an-obj-8 {
	animation-name:ani-animQ2-an-obj-8-0;
	-webkit-animation-name:ani-animQ2-an-obj-8-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:3.006s;
	-webkit-animation-delay:3.006s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ2-an-obj-8 {
	transform:translate3d(22px,39px,0px);
	-webkit-transform:translate3d(22px,39px,0px);
	opacity:1;
}
.restart.t-0 #animQ2-an-obj-8 {
	transform:translate3d(22px,39px,0px);
	-webkit-transform:translate3d(22px,39px,0px);
	opacity:0;
}
.restart #animQ2-an-obj-8 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ2-an-obj-9 {
	transform:translate3d(191px,12px,0px);
	-webkit-transform:translate3d(191px,12px,0px);
	width:298px;
	height:47px;
	top:0;
	left:0;
	color:rgba(231,53,60,1);
	font-size: 19px;
}