﻿
#questions_what_makes_aspirin_different_popup { height: 450px; margin-top: 161px; }
#questions_what_makes_aspirin_different_popup .fl p { text-align: right; padding-top: 30px; }
#questions_what_makes_aspirin_different_popup .fr { width: 460px;}
#questions_what_makes_aspirin_different_popup .fr .box { margin-top: 30px; }
#questions_what_makes_aspirin_different_popup .fr sup.special { top: -1.4em; }

#questions_what_makes_aspirin_different_popup .section { position: relative; }
#questions_what_makes_aspirin_different_popup .section { margin-bottom: 20px; }
#questions_what_makes_aspirin_different_popup .section .ico { position: absolute; z-index: 9999999; -webkit-transform: scale(1); opacity: 1;  }
#questions_what_makes_aspirin_different_popup .section p { width: 470px; font-size: 18px; padding: 0 0 0 79px; line-height: 1.3; }






/* Animation */

#aniQdif-popup-an-anim > ol{list-style:none;margin:0;padding:0;}#aniQdif-popup-an-anim > ol > li{margin:0;padding:0;display:none;}#aniQdif-popup-an-anim > ol > li.run{display:block;}#aniQdif-popup-an-anim .aniQdif-popup-an-stage{overflow:hidden;margin:0;padding:0;}#aniQdif-popup-an-anim .aniQdif-popup-an-stage div{position:absolute;}.aniQdif-popup-an-stage *{margin:0;padding:0;font-smoothing:antialiased;-webkit-font-smoothing:antialiased;}#aniQdif-popup-an-anim .aniQdif-popup-an-stage img{position:absolute;top:0;left:0;}#aniQdif-popup-an-anim .AN-Scene-Description{display:none;}#aniQdif-popup-an-anim iframe{border:none;height:100%;width:100%}#aniQdif-popup-an-anim .aniQdif-popup-an-stage{position:absolute;top:0;left:0;width:100%;height:100%;}#aniQdif-popup-an-anim{height:400px;width:306px;position:relative;}#aniQdif-popup-an-anim{background-color:rgba(255,255,255,1);font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;font-size:12px;line-height:1.3;}#aniQdif-popup-an-obj-1{transform:translate3d(0px, 0px, 0px);-webkit-transform:translate3d(0px, 0px, 0px);width:306px;height:400px;top:0;left:0;}#aniQdif-popup-an-obj-2{transform:translate3d(194px, 75px, 0px);-webkit-transform:translate3d(194px, 75px, 0px);width:48px;height:22px;top:0;left:0;font-size:13px;}#aniQdif-popup-an-obj-3{transform:translate3d(122px, 311px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-31deg);-webkit-transform:translate3d(122px, 311px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-31deg);width:71px;height:20px;top:0;left:0;font-size:13px;}#aniQdif-popup-an-obj-4{transform:translate3d(0px, 0px, 0px);-webkit-transform:translate3d(0px, 0px, 0px);width:306px;height:400px;top:0;left:0;}#aniQdif-popup-an-obj-5{transform:translate3d(127px, 42px, 0px);-webkit-transform:translate3d(127px, 42px, 0px);width:74px;height:117px;top:0;left:0;}@-webkit-keyframes ani-aniQdif-popup-an-obj-5-0{0%{-webkit-transform:translate3d(127px, 42px, 0px);opacity:0;}87.3582%{-webkit-transform:translate3d(127px, 42px, 0px);opacity:0;}100%{-webkit-transform:translate3d(127px, 42px, 0px);opacity:1;}}@keyframes ani-aniQdif-popup-an-obj-5-0{0%{transform:translate3d(127px, 42px, 0px);opacity:0;}87.3582%{transform:translate3d(127px, 42px, 0px);opacity:0;}100%{transform:translate3d(127px, 42px, 0px);opacity:1;}}.run.t-0 #aniQdif-popup-an-obj-5{animation-name:ani-aniQdif-popup-an-obj-5-0;-webkit-animation-name:ani-aniQdif-popup-an-obj-5-0;animation-duration:2.0032s;-webkit-animation-duration:2.0032s;animation-delay:0s;-webkit-animation-delay:0s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}.t-0 #aniQdif-popup-an-obj-5{transform:translate3d(127px, 42px, 0px);-webkit-transform:translate3d(127px, 42px, 0px);opacity:1;}.restart.t-0 #aniQdif-popup-an-obj-5{transform:translate3d(127px, 42px, 0px);-webkit-transform:translate3d(127px, 42px, 0px);opacity:0;}.restart #aniQdif-popup-an-obj-5{animation-name:none !important;-webkit-animation-name:none !important;}#aniQdif-popup-an-obj-6{transform:translate3d(154px, 195px, 0px);-webkit-transform:translate3d(154px, 195px, 0px);width:38px;height:55px;top:0;left:0;}@-webkit-keyframes ani-aniQdif-popup-an-obj-6-0{0%{-webkit-transform:translate3d(154px, 195px, 0px);opacity:0;}90.9198%{-webkit-transform:translate3d(154px, 195px, 0px);opacity:0;}100%{-webkit-transform:translate3d(154px, 195px, 0px);opacity:1;}}@keyframes ani-aniQdif-popup-an-obj-6-0{0%{transform:translate3d(154px, 195px, 0px);opacity:0;}90.9198%{transform:translate3d(154px, 195px, 0px);opacity:0;}100%{transform:translate3d(154px, 195px, 0px);opacity:1;}}.run.t-0 #aniQdif-popup-an-obj-6{animation-name:ani-aniQdif-popup-an-obj-6-0;-webkit-animation-name:ani-aniQdif-popup-an-obj-6-0;animation-duration:2.7532s;-webkit-animation-duration:2.7532s;animation-delay:0s;-webkit-animation-delay:0s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}.t-0 #aniQdif-popup-an-obj-6{transform:translate3d(154px, 195px, 0px);-webkit-transform:translate3d(154px, 195px, 0px);opacity:1;}.restart.t-0 #aniQdif-popup-an-obj-6{transform:translate3d(154px, 195px, 0px);-webkit-transform:translate3d(154px, 195px, 0px);opacity:0;}.restart #aniQdif-popup-an-obj-6{animation-name:none !important;-webkit-animation-name:none !important;}#aniQdif-popup-an-obj-7{transform:translate3d(42px, 232px, 0px);-webkit-transform:translate3d(42px, 232px, 0px);width:68px;height:89px;top:0;left:0;}@-webkit-keyframes ani-aniQdif-popup-an-obj-7-0{0%{-webkit-transform:translate3d(42px, 232px, 0px);opacity:0;}100%{-webkit-transform:translate3d(42px, 232px, 0px);opacity:1;}}@keyframes ani-aniQdif-popup-an-obj-7-0{0%{transform:translate3d(42px, 232px, 0px);opacity:0;}100%{transform:translate3d(42px, 232px, 0px);opacity:1;}}.run.t-0 #aniQdif-popup-an-obj-7{animation-name:ani-aniQdif-popup-an-obj-7-0;-webkit-animation-name:ani-aniQdif-popup-an-obj-7-0;animation-duration:0.2695s;-webkit-animation-duration:0.2695s;animation-delay:4.0974s;-webkit-animation-delay:4.0974s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}.t-0 #aniQdif-popup-an-obj-7{transform:translate3d(42px, 232px, 0px);-webkit-transform:translate3d(42px, 232px, 0px);opacity:1;}.restart.t-0 #aniQdif-popup-an-obj-7{transform:translate3d(42px, 232px, 0px);-webkit-transform:translate3d(42px, 232px, 0px);opacity:0;}.restart #aniQdif-popup-an-obj-7{animation-name:none !important;-webkit-animation-name:none !important;}#aniQdif-popup-an-obj-8{transform:translate3d(117px, 61px, 0px);-webkit-transform:translate3d(117px, 61px, 0px);width:28px;height:19px;top:0;left:0;}@-webkit-keyframes ani-aniQdif-popup-an-obj-8-0{0%{-webkit-transform:translate3d(111px, 47px, 0px);-webkit-animation-timing-function:linear;opacity:0;}12.234%{-webkit-transform:translate3d(119.96789584313726px, 69.41973960784314px, 0px);-webkit-animation-timing-function:linear;opacity:0;}16.2766%{-webkit-transform:translate3d(123px, 77px, 0px);-webkit-animation-timing-function:linear;opacity:1;}20.4255%{-webkit-transform:translate3d(136px, 94px, 0px);-webkit-animation-timing-function:linear;opacity:1;}24.5213%{-webkit-transform:translate3d(158px, 107px, 0px);-webkit-animation-timing-function:linear;opacity:1;}28.5638%{-webkit-transform:translate3d(177px, 136px, 0px);-webkit-animation-timing-function:linear;opacity:1;}32.7128%{-webkit-transform:translate3d(181px, 165px, 0px);-webkit-animation-timing-function:linear;opacity:1;}36.7553%{-webkit-transform:translate3d(173px, 190px, 0px);-webkit-animation-timing-function:linear;opacity:1;}40.7447%{-webkit-transform:translate3d(149px, 225px, 0px);-webkit-animation-timing-function:linear;opacity:1;}44.6277%{-webkit-transform:translate3d(119px, 238px, 0px);-webkit-animation-timing-function:linear;opacity:1;}48.8298%{-webkit-transform:translate3d(87px, 230px, 0px);-webkit-animation-timing-function:linear;opacity:1;}52.8723%{-webkit-transform:translate3d(59px, 227px, 0px);-webkit-animation-timing-function:linear;opacity:1;}55.1596%{-webkit-transform:translate3d(41px, 231px, 0px);-webkit-animation-timing-function:linear;opacity:1;}59.8404%{-webkit-transform:translate3d(32px, 265px, 0px);-webkit-animation-timing-function:linear;opacity:1;}65.2128%{-webkit-transform:translate3d(38px, 309px, 0px);-webkit-animation-timing-function:linear;opacity:1;}71.4362%{-webkit-transform:translate3d(62px, 342px, 0px);-webkit-animation-timing-function:linear;opacity:1;}76.1702%{-webkit-transform:translate3d(100px, 329px, 0px);-webkit-animation-timing-function:linear;opacity:1;}80%{-webkit-transform:translate3d(143px, 310px, 0px);-webkit-animation-timing-function:linear;opacity:1;}84.3085%{-webkit-transform:translate3d(189px, 290px, 0px);-webkit-animation-timing-function:linear;opacity:1;}88.2979%{-webkit-transform:translate3d(216px, 290px, 0px);-webkit-animation-timing-function:linear;opacity:1;}92.3404%{-webkit-transform:translate3d(222px, 295px, 0px);-webkit-animation-timing-function:linear;opacity:0.75;}95.266%{-webkit-transform:translate3d(222px, 294px, 0px);-webkit-animation-timing-function:linear;opacity:0.5;}97.2872%{-webkit-transform:translate3d(222px, 290px, 0px);-webkit-animation-timing-function:linear;opacity:0.25;}100%{-webkit-transform:translate3d(232px, 304px, 0px);-webkit-animation-timing-function:linear;opacity:0;}}@keyframes ani-aniQdif-popup-an-obj-8-0{0%{transform:translate3d(111px, 47px, 0px);animation-timing-function:linear;opacity:0;}12.234%{transform:translate3d(119.96789584313726px, 69.41973960784314px, 0px);animation-timing-function:linear;opacity:0;}16.2766%{transform:translate3d(123px, 77px, 0px);animation-timing-function:linear;opacity:1;}20.4255%{transform:translate3d(136px, 94px, 0px);animation-timing-function:linear;opacity:1;}24.5213%{transform:translate3d(158px, 107px, 0px);animation-timing-function:linear;opacity:1;}28.5638%{transform:translate3d(177px, 136px, 0px);animation-timing-function:linear;opacity:1;}32.7128%{transform:translate3d(181px, 165px, 0px);animation-timing-function:linear;opacity:1;}36.7553%{transform:translate3d(173px, 190px, 0px);animation-timing-function:linear;opacity:1;}40.7447%{transform:translate3d(149px, 225px, 0px);animation-timing-function:linear;opacity:1;}44.6277%{transform:translate3d(119px, 238px, 0px);animation-timing-function:linear;opacity:1;}48.8298%{transform:translate3d(87px, 230px, 0px);animation-timing-function:linear;opacity:1;}52.8723%{transform:translate3d(59px, 227px, 0px);animation-timing-function:linear;opacity:1;}55.1596%{transform:translate3d(41px, 231px, 0px);animation-timing-function:linear;opacity:1;}59.8404%{transform:translate3d(32px, 265px, 0px);animation-timing-function:linear;opacity:1;}65.2128%{transform:translate3d(38px, 309px, 0px);animation-timing-function:linear;opacity:1;}71.4362%{transform:translate3d(62px, 342px, 0px);animation-timing-function:linear;opacity:1;}76.1702%{transform:translate3d(100px, 329px, 0px);animation-timing-function:linear;opacity:1;}80%{transform:translate3d(143px, 310px, 0px);animation-timing-function:linear;opacity:1;}84.3085%{transform:translate3d(189px, 290px, 0px);animation-timing-function:linear;opacity:1;}88.2979%{transform:translate3d(216px, 290px, 0px);animation-timing-function:linear;opacity:1;}92.3404%{transform:translate3d(222px, 295px, 0px);animation-timing-function:linear;opacity:0.75;}95.266%{transform:translate3d(222px, 294px, 0px);animation-timing-function:linear;opacity:0.5;}97.2872%{transform:translate3d(222px, 290px, 0px);animation-timing-function:linear;opacity:0.25;}100%{transform:translate3d(232px, 304px, 0px);animation-timing-function:linear;opacity:0;}}.run.t-0 #aniQdif-popup-an-obj-8{animation-name:ani-aniQdif-popup-an-obj-8-0;-webkit-animation-name:ani-aniQdif-popup-an-obj-8-0;animation-duration:6.1039s;-webkit-animation-duration:6.1039s;animation-delay:0.0065s;-webkit-animation-delay:0.0065s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}.t-0 #aniQdif-popup-an-obj-8{transform:translate3d(232px, 304px, 0px);-webkit-transform:translate3d(232px, 304px, 0px);animation-timing-function:linear;-webkit-animation-timing-function:linear;opacity:0;}.restart.t-0 #aniQdif-popup-an-obj-8{transform:translate3d(111px, 47px, 0px);-webkit-transform:translate3d(111px, 47px, 0px);animation-timing-function:linear;-webkit-animation-timing-function:linear;opacity:0;}.restart #aniQdif-popup-an-obj-8{animation-name:none !important;-webkit-animation-name:none !important;}#aniQdif-popup-an-obj-9{transform:translate3d(44px, 322px, 0px);-webkit-transform:translate3d(44px, 322px, 0px);width:34px;height:43px;top:0;left:0;}@-webkit-keyframes ani-aniQdif-popup-an-obj-9-0{0%{-webkit-transform:translate3d(44px, 322px, 0px);opacity:0;}100%{-webkit-transform:translate3d(44px, 322px, 0px);opacity:1;}}@keyframes ani-aniQdif-popup-an-obj-9-0{0%{transform:translate3d(44px, 322px, 0px);opacity:0;}100%{transform:translate3d(44px, 322px, 0px);opacity:1;}}.run.t-0 #aniQdif-popup-an-obj-9{animation-name:ani-aniQdif-popup-an-obj-9-0;-webkit-animation-name:ani-aniQdif-popup-an-obj-9-0;animation-duration:0.2954s;-webkit-animation-duration:0.2954s;animation-delay:4.2078s;-webkit-animation-delay:4.2078s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}.t-0 #aniQdif-popup-an-obj-9{transform:translate3d(44px, 322px, 0px);-webkit-transform:translate3d(44px, 322px, 0px);opacity:1;}.restart.t-0 #aniQdif-popup-an-obj-9{transform:translate3d(44px, 322px, 0px);-webkit-transform:translate3d(44px, 322px, 0px);opacity:0;}.restart #aniQdif-popup-an-obj-9{animation-name:none !important;-webkit-animation-name:none !important;}#aniQdif-popup-an-obj-10{transform:translate3d(210px, 287px, 0px);-webkit-transform:translate3d(210px, 287px, 0px);width:45px;height:29px;top:0;left:0;}@-webkit-keyframes ani-aniQdif-popup-an-obj-10-0{0%{-webkit-transform:translate3d(210px, 287px, 0px);opacity:0;}100%{-webkit-transform:translate3d(210px, 287px, 0px);opacity:1;}}@keyframes ani-aniQdif-popup-an-obj-10-0{0%{transform:translate3d(210px, 287px, 0px);opacity:0;}100%{transform:translate3d(210px, 287px, 0px);opacity:1;}}.run.t-0 #aniQdif-popup-an-obj-10{animation-name:ani-aniQdif-popup-an-obj-10-0;-webkit-animation-name:ani-aniQdif-popup-an-obj-10-0;animation-duration:0.25s;-webkit-animation-duration:0.25s;animation-delay:5.25s;-webkit-animation-delay:5.25s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}.t-0 #aniQdif-popup-an-obj-10{transform:translate3d(210px, 287px, 0px);-webkit-transform:translate3d(210px, 287px, 0px);opacity:1;}.restart.t-0 #aniQdif-popup-an-obj-10{transform:translate3d(210px, 287px, 0px);-webkit-transform:translate3d(210px, 287px, 0px);opacity:0;}.restart #aniQdif-popup-an-obj-10{animation-name:none !important;-webkit-animation-name:none !important;}

