﻿#questions_which_patients_benefit_popup .row { position: relative; padding: 0px; width: auto; }

#questions_which_patients_benefit_popup .row #closePopup { top: 0px; right: 0px; }


#questions_which_patients_benefit_popup li span sup { font-size: 8px; }


#questions_which_patients_benefit_popup .animation-box{
	margin-top:40px;
}
/* Animation */

#aniQ5popup-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQ5popup-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQ5popup-an-anim>ol>li.run {
	display:block;
}
#aniQ5popup-an-anim .aniQ5popup-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQ5popup-an-anim .aniQ5popup-an-stage div {
	position:absolute;
}
.aniQ5popup-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQ5popup-an-anim .aniQ5popup-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQ5popup-an-anim .AN-Scene-Description {
	display:none;
}
#aniQ5popup-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQ5popup-an-anim .aniQ5popup-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQ5popup-an-anim {
	height:346px;
	width:686px;
	position:relative;
}
#aniQ5popup-an-anim {
	background-color:rgba(255,255,255,1);
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}

#aniQ5popup-an-anim #q5-push { margin-left: 35px; }

#aniQ5popup-an-obj-1 {
	transform:translate3d(6px,49px,0px);
	-webkit-transform:translate3d(6px,49px,0px);
	width:125px;
	height:21px;
	top:0;
	left:0;
	font-size:14px;
	line-height: 1;
}
#aniQ5popup-an-obj-2 {
	transform:translate3d(6px,88px,0px);
	-webkit-transform:translate3d(6px,88px,0px);
	width:130px;
	height:27px;
	top:0;
	left:0;
	font-size:14px;
	line-height: 1;
}
#aniQ5popup-an-obj-3 {
	transform:translate3d(5px,128px,0px);
	-webkit-transform:translate3d(5px,128px,0px);
	width:138px;
	height:34px;
	top:0;
	left:0;
	font-size:14px;
	line-height: 1;
}
#aniQ5popup-an-obj-4 {
	transform:translate3d(6px,168px,0px);
	-webkit-transform:translate3d(6px,168px,0px);
	width:128px;
	height:24px;
	top:0;
	left:0;
	font-size:14px;
	line-height: 1;
}
#aniQ5popup-an-obj-5 {
	transform:translate3d(122px,21px,0px);
	-webkit-transform:translate3d(122px,21px,0px);
	width:49px;
	height:9px;
	top:0;
	left:0;
}
#aniQ5popup-an-obj-6 {
	transform:translate3d(134px,-1px,0px);
	-webkit-transform:translate3d(134px,-1px,0px);
	width:76px;
	height:18px;
	top:0;
	left:0;
	font-size:14px;
}
#aniQ5popup-an-obj-7 {
	transform:translate3d(190px,21px,0px);
	-webkit-transform:translate3d(190px,21px,0px);
	width:444px;
	height:9px;
	top:0;
	left:0;
}
#aniQ5popup-an-obj-8 {
	transform:translate3d(293px,-1px,0px);
	-webkit-transform:translate3d(293px,-1px,0px);
	width:265px;
	height:18px;
	top:0;
	left:0;
	font-size:14px;
}
#aniQ5popup-an-obj-9 {
	transform:translate3d(189px,279px,0px);
	-webkit-transform:translate3d(189px,279px,0px);
	width:134px;
	height:9px;
	top:0;
	left:0;
}
#aniQ5popup-an-obj-10 {
	transform:translate3d(189px,291px,0px);
	-webkit-transform:translate3d(189px,291px,0px);
	width:20px;
	height:19px;
	top:0;
	left:0;
	font-size:10px;
}
#aniQ5popup-an-obj-11 {
	transform:translate3d(247px,291px,0px);
	-webkit-transform:translate3d(247px,291px,0px);
	width:34px;
	height:16px;
	top:0;
	left:0;
	font-size:10px;
}
#aniQ5popup-an-obj-12 {
	transform:translate3d(313px,291px,0px);
	-webkit-transform:translate3d(313px,291px,0px);
	width:31px;
	height:16px;
	top:0;
	left:0;
	font-size:10px;
}
#aniQ5popup-an-obj-13 {
	transform:translate3d(207px,312px,0px);
	-webkit-transform:translate3d(207px,312px,0px);
	width:97px;
	height:37px;
	top:0;
	left:0;
	text-align:center;
	font-size:14px;
	line-height:120%;
}
#aniQ5popup-an-obj-14 {
	transform:translate3d(136px,51px,0px);
	-webkit-transform:translate3d(136px,51px,0px);
	width:66px;
	height:30px;
	top:0;
	left:0;
	font-size:14px;
}
#aniQ5popup-an-obj-15 {
	transform:translate3d(143px,91px,0px);
	-webkit-transform:translate3d(143px,91px,0px);
	width:71px;
	height:24px;
	top:0;
	left:0;
	font-size:14px;
}
#aniQ5popup-an-obj-16 {
	transform:translate3d(144px,131px,0px);
	-webkit-transform:translate3d(144px,131px,0px);
	width:41px;
	height:16px;
	top:0;
	left:0;
	font-size:14px;
}
#aniQ5popup-an-obj-17 {
	transform:translate3d(144px,171px,0px);
	-webkit-transform:translate3d(144px,171px,0px);
	width:37px;
	height:16px;
	top:0;
	left:0;
	font-size:14px;
}
#aniQ5popup-an-obj-18 {
	transform:translate3d(541px,51px,0px);
	-webkit-transform:translate3d(541px,51px,0px);
	width:24px;
	height:21px;
	top:0;
	left:0;
}
#aniQ5popup-an-obj-19 {
	transform:translate3d(541px,87px,0px);
	-webkit-transform:translate3d(541px,87px,0px);
	width:24px;
	height:21px;
	top:0;
	left:0;
}
#aniQ5popup-an-obj-20 {
	transform:translate3d(579px,50px,0px);
	-webkit-transform:translate3d(579px,50px,0px);
	width:69px;
	height:30px;
	top:0;
	left:0;
	font-size:18px;
}
#aniQ5popup-an-obj-21 {
	transform:translate3d(578px,88px,0px);
	-webkit-transform:translate3d(578px,88px,0px);
	width:71px;
	height:24px;
	top:0;
	left:0;
	font-size:18px;
}
#aniQ5popup-an-obj-22 {
	transform:translate3d(190px,46px,0px);
	-webkit-transform:translate3d(190px,46px,0px);
	width:69px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-22-0 {
	0% {
		-webkit-transform:translate3d(190px,46px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
		width:100px;
		height:100px;
	}
	100% {
		-webkit-transform:translate3d(190px,46px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
		width:69px;
		height:16px;
	}
}
@keyframes ani-aniQ5popup-an-obj-22-0 {
	0% {
		transform:translate3d(190px,46px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
		width:100px;
		height:100px;
	}
	100% {
		transform:translate3d(190px,46px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
		width:69px;
		height:16px;
	}
}
.run.t-0 #aniQ5popup-an-obj-22 {
	animation-name:ani-aniQ5popup-an-obj-22-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-22-0;
	animation-duration:0.2465s;
	-webkit-animation-duration:0.2465s;
	animation-delay:1.0123s;
	-webkit-animation-delay:1.0123s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-22 {
	transform:translate3d(190px,46px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,46px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
	width:69px;
	height:16px;
}
.restart.t-0 #aniQ5popup-an-obj-22 {
	transform:translate3d(190px,46px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,46px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
	width:100px;
	height:100px;
}
.restart #aniQ5popup-an-obj-22 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-23 {
	transform:translate3d(190px,62px,0px);
	-webkit-transform:translate3d(190px,62px,0px);
	width:35px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-23-0 {
	0% {
		-webkit-transform:translate3d(190px,62px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,62px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-23-0 {
	0% {
		transform:translate3d(190px,62px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,62px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-23 {
	animation-name:ani-aniQ5popup-an-obj-23-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-23-0;
	animation-duration:0.5035s;
	-webkit-animation-duration:0.5035s;
	animation-delay:1.0088s;
	-webkit-animation-delay:1.0088s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-23 {
	transform:translate3d(190px,62px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,62px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-23 {
	transform:translate3d(190px,62px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,62px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-23 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-24 {
	transform:translate3d(190px,84px,0px);
	-webkit-transform:translate3d(190px,84px,0px);
	width:100px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-24-0 {
	0% {
		-webkit-transform:translate3d(190px,84px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,84px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-24-0 {
	0% {
		transform:translate3d(190px,84px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,84px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-24 {
	animation-name:ani-aniQ5popup-an-obj-24-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-24-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.0088s;
	-webkit-animation-delay:2.0088s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-24 {
	transform:translate3d(190px,84px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,84px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-24 {
	transform:translate3d(190px,84px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,84px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-24 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-25 {
	transform:translate3d(190px,102px,0px);
	-webkit-transform:translate3d(190px,102px,0px);
	width:81px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-25-0 {
	0% {
		-webkit-transform:translate3d(190px,102px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,102px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-25-0 {
	0% {
		transform:translate3d(190px,102px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,102px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-25 {
	animation-name:ani-aniQ5popup-an-obj-25-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-25-0;
	animation-duration:0.5035s;
	-webkit-animation-duration:0.5035s;
	animation-delay:2.0088s;
	-webkit-animation-delay:2.0088s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-25 {
	transform:translate3d(190px,102px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,102px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-25 {
	transform:translate3d(190px,102px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,102px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-25 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-26 {
	transform:translate3d(190px,123px,0px);
	-webkit-transform:translate3d(190px,123px,0px);
	width:43px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-26-0 {
	0% {
		-webkit-transform:translate3d(190px,123px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,123px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-26-0 {
	0% {
		transform:translate3d(190px,123px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,123px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-26 {
	animation-name:ani-aniQ5popup-an-obj-26-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-26-0;
	animation-duration:0.2535s;
	-webkit-animation-duration:0.2535s;
	animation-delay:3.0088s;
	-webkit-animation-delay:3.0088s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-26 {
	transform:translate3d(190px,123px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,123px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-26 {
	transform:translate3d(190px,123px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,123px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-26 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-27 {
	transform:translate3d(190px,140px,0px);
	-webkit-transform:translate3d(190px,140px,0px);
	width:17px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-27-0 {
	0% {
		-webkit-transform:translate3d(190px,140px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,140px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-27-0 {
	0% {
		transform:translate3d(190px,140px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,140px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-27 {
	animation-name:ani-aniQ5popup-an-obj-27-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-27-0;
	animation-duration:0.507s;
	-webkit-animation-duration:0.507s;
	animation-delay:3.0088s;
	-webkit-animation-delay:3.0088s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-27 {
	transform:translate3d(190px,140px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,140px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-27 {
	transform:translate3d(190px,140px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,140px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-27 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-28 {
	transform:translate3d(190px,163px,0px);
	-webkit-transform:translate3d(190px,163px,0px);
	width:114px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-28-0 {
	0% {
		-webkit-transform:translate3d(190px,163px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,163px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-28-0 {
	0% {
		transform:translate3d(190px,163px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,163px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-28 {
	animation-name:ani-aniQ5popup-an-obj-28-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-28-0;
	animation-duration:0.2465s;
	-webkit-animation-duration:0.2465s;
	animation-delay:4.0123s;
	-webkit-animation-delay:4.0123s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-28 {
	transform:translate3d(190px,163px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,163px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-28 {
	transform:translate3d(190px,163px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,163px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-28 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-29 {
	transform:translate3d(189px,180px,0px);
	-webkit-transform:translate3d(189px,180px,0px);
	width:49px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-29-0 {
	0% {
		-webkit-transform:translate3d(189px,180px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(189px,180px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-29-0 {
	0% {
		transform:translate3d(189px,180px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(189px,180px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-29 {
	animation-name:ani-aniQ5popup-an-obj-29-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-29-0;
	animation-duration:0.507s;
	-webkit-animation-duration:0.507s;
	animation-delay:4.0123s;
	-webkit-animation-delay:4.0123s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-29 {
	transform:translate3d(189px,180px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(189px,180px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-29 {
	transform:translate3d(189px,180px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(189px,180px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-29 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-30 {
	transform:translate3d(7px,237px,0px);
	-webkit-transform:translate3d(7px,237px,0px);
	width:75px;
	height:22px;
	top:0;
	left:0;
	font-size:14px;
	letter-spacing:1px;
}
#aniQ5popup-an-obj-31 {
	transform:translate3d(136px,237px,0px);
	-webkit-transform:translate3d(136px,237px,0px);
	width:50px;
	height:21px;
	top:0;
	left:0;
	font-size:14px;
}
#aniQ5popup-an-obj-32 {
	transform:translate3d(190px,228px,0px);
	-webkit-transform:translate3d(190px,228px,0px);
	width:82px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-32-0 {
	0% {
		-webkit-transform:translate3d(190px,228px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,228px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-32-0 {
	0% {
		transform:translate3d(190px,228px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,228px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-32 {
	animation-name:ani-aniQ5popup-an-obj-32-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-32-0;
	animation-duration:0.2535s;
	-webkit-animation-duration:0.2535s;
	animation-delay:5.0307s;
	-webkit-animation-delay:5.0307s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-32 {
	transform:translate3d(190px,228px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,228px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-32 {
	transform:translate3d(190px,228px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,228px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-32 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-33 {
	transform:translate3d(190px,244px,0px);
	-webkit-transform:translate3d(190px,244px,0px);
	width:43px;
	height:16px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ5popup-an-obj-33-0 {
	0% {
		-webkit-transform:translate3d(190px,244px,0px) scale3d(0,1,1);
		-webkit-transform-origin:0% 50%;
	}
	100% {
		-webkit-transform:translate3d(190px,244px,0px) scale3d(1,1,1);
		-webkit-transform-origin:0% 50%;
	}
}
@keyframes ani-aniQ5popup-an-obj-33-0 {
	0% {
		transform:translate3d(190px,244px,0px) scale3d(0,1,1);
		transform-origin:0% 50%;
	}
	100% {
		transform:translate3d(190px,244px,0px) scale3d(1,1,1);
		transform-origin:0% 50%;
	}
}
.run.t-0 #aniQ5popup-an-obj-33 {
	animation-name:ani-aniQ5popup-an-obj-33-0;
	-webkit-animation-name:ani-aniQ5popup-an-obj-33-0;
	animation-duration:0.4965s;
	-webkit-animation-duration:0.4965s;
	animation-delay:5.0307s;
	-webkit-animation-delay:5.0307s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ5popup-an-obj-33 {
	transform:translate3d(190px,244px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(190px,244px,0px) scale3d(1,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart.t-0 #aniQ5popup-an-obj-33 {
	transform:translate3d(190px,244px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(190px,244px,0px) scale3d(0,1,1);
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
.restart #aniQ5popup-an-obj-33 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ5popup-an-obj-34 {
	transform:translate3d(390px,196px,0px);
	-webkit-transform:translate3d(390px,196px,0px);
	width:250px;
	height:122px;
	top:0;
	left:0;
	font-size:21px;
	line-height:140%;
	color:rgba(0,155,120,1);
}
#aniQ5popup-an-obj-35 {
	transform:translate3d(14px,316px,0px);
	-webkit-transform:translate3d(14px,316px,0px);
	width:152px;
	height:26px;
	top:0;
	left:0;
	font-size: 8px;
}