﻿#questions_what_makes_aspirin_different .section { margin-bottom: 20px; position: relative; height: 70px; }
#questions_what_makes_aspirin_different .section .ico { position: absolute; }
#questions_what_makes_aspirin_different .section p {
    display: inline-block; 
    width: 750px; 
    font-size: 18px; 
    color: #4D4D4D; 
    padding-left: 20px; 
    line-height: 1.1; 
    padding-top: 13px; 
    opacity: 0; 
    position: relative; 
    left: 85px; 
}

#questions_what_makes_aspirin_different .section p.twoline { padding-top: 7px; }
#questions_what_makes_aspirin_different .section p sup { font-size: 10px; }


#questions_what_makes_aspirin_different .learn-more.btn2 {
    width: 328px; 
    height: 33px; 
    background: url('../../shared_assets/img/btn-learnMore2.png') no-repeat top; 
    position: relative; 
    left: -200px; 
    opacity: 0; 
    border-radius: 0px !important;
}

#questions_what_makes_aspirin_different .learn-more.btn2.shown { opacity: 1; left: 0; }

#questions_what_makes_aspirin_different .learn-more.btn2 span { padding-top: 9px; font-size: 16px; }


/* Animation */

#questions_what_makes_aspirin_different .row.active .section .ico {
    -webkit-animation: showIcons;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -webkit-transform: scale(0); 
    opacity: 0;
}

#questions_what_makes_aspirin_different .row.active .section p {
    -webkit-animation: showText;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both;
}

#questions_what_makes_aspirin_different .row.active .learn-more.active {
    -webkit-animation: showLearnBtn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 4.5s;
}

#questions_what_makes_aspirin_different .row.active .s1 .ico { -webkit-animation-delay: 1s; }
#questions_what_makes_aspirin_different .row.active .s2 .ico { -webkit-animation-delay: 1.25s; }
#questions_what_makes_aspirin_different .row.active .s3 .ico { -webkit-animation-delay: 1.5s; }
#questions_what_makes_aspirin_different .row.active .s4 .ico { -webkit-animation-delay: 1.75s; }
#questions_what_makes_aspirin_different .row.active .s5 .ico { -webkit-animation-delay: 2s; }
                                         
                                         
#questions_what_makes_aspirin_different .row.active .s1 p { -webkit-animation-delay: 3s; }
#questions_what_makes_aspirin_different .row.active .s2 p { -webkit-animation-delay: 3.25s; }
#questions_what_makes_aspirin_different .row.active .s3 p { -webkit-animation-delay: 3.5s; }
#questions_what_makes_aspirin_different .row.active .s4 p { -webkit-animation-delay: 3.75s; }
#questions_what_makes_aspirin_different .row.active .s5 p { -webkit-animation-delay: 4s; }