﻿#questions_risk_factors_for_bleeding .animation-box { margin-top: 20px; margin-left: 40px; }

#questions_risk_factors_for_bleeding .animation-box th, 
#questions_risk_factors_for_bleeding .animation-box td
{ line-height: 1.4em; font-size: 12px; font-weight: normal; text-align: center; vertical-align: top; }

#questions_risk_factors_for_bleeding .animation-box th:first-child,
#questions_risk_factors_for_bleeding .animation-box td:first-child
{ text-align: left; font-size: 14px; text-align: left; }


#questions_risk_factors_for_bleeding .animation-box td:nth-child(2) { width: 220px; }

#questions_risk_factors_for_bleeding .animation-box .padding-top { padding-top: 30px; }

#questions_risk_factors_for_bleeding  .learnMore-box { position: absolute; right: 115px; top: 380px; }
#questions_risk_factors_for_bleeding .learn-more span { font-size: 16px; } 








/* Animations 


#aniQrisk-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQrisk-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQrisk-an-anim>ol>li.run {
	display:block;
}
#aniQrisk-an-anim .aniQrisk-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQrisk-an-anim .aniQrisk-an-stage div {
	position:absolute;
}
.aniQrisk-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQrisk-an-anim .aniQrisk-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQrisk-an-anim .AN-Scene-Description {
	display:none;
}
#aniQrisk-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQrisk-an-anim .aniQrisk-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQrisk-an-anim {
	height:382px;
	width:639px;
	position:relative;
}
#aniQrisk-an-anim {
	background-color:none;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}

#aniQrisk-an-obj-2 {
	transform:translate3d(0px,0px,0px);
	-webkit-transform:translate3d(0px,0px,0px);
	width:639px;
	height:382px;
	top:0;
	left:0;
}
#aniQrisk-an-obj-3 {
	transform:translate3d(391px,36px,0px);
	-webkit-transform:translate3d(391px,36px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
	transform-origin:-797.22% -130.56%;
	-webkit-transform-origin:-797.22% -130.56%;
}
@-webkit-keyframes ani-aniQrisk-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(391px,36px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(391px,36px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-3-0 {
	0% {
		transform:translate3d(391px,36px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(391px,36px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-3 {
	animation-name:ani-aniQrisk-an-obj-3-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-3-0;
	animation-duration:0.249s;
	-webkit-animation-duration:0.249s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-3 {
	transform:translate3d(391px,36px,0px);
	-webkit-transform:translate3d(391px,36px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-3 {
	transform:translate3d(391px,36px,0px);
	-webkit-transform:translate3d(391px,36px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-4 {
	transform:translate3d(387px,40px,0px);
	-webkit-transform:translate3d(387px,40px,0px);
	width:20px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(387px,40px,0px) scale3d(0,1,1);
		-webkit-transform-origin:31% 50%;
	}
	100% {
		-webkit-transform:translate3d(387px,40px,0px) scale3d(1,1,1);
		-webkit-transform-origin:31% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-4-0 {
	0% {
		transform:translate3d(387px,40px,0px) scale3d(0,1,1);
		transform-origin:31% 50%;
	}
	100% {
		transform:translate3d(387px,40px,0px) scale3d(1,1,1);
		transform-origin:31% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-4 {
	animation-name:ani-aniQrisk-an-obj-4-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-4-0;
	animation-duration:0.257s;
	-webkit-animation-duration:0.257s;
	animation-delay:0.249s;
	-webkit-animation-delay:0.249s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-4 {
	transform:translate3d(387px,40px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(387px,40px,0px) scale3d(1,1,1);
	transform-origin:31% 50%;
	-webkit-transform-origin:31% 50%;
}
.restart.t-0 #aniQrisk-an-obj-4 {
	transform:translate3d(387px,40px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(387px,40px,0px) scale3d(0,1,1);
	transform-origin:31% 50%;
	-webkit-transform-origin:31% 50%;
}
.restart #aniQrisk-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-5 {
	transform:translate3d(401px,61px,0px);
	-webkit-transform:translate3d(401px,61px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-5-0 {
	0% {
		-webkit-transform:translate3d(401px,61px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(401px,61px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-5-0 {
	0% {
		transform:translate3d(401px,61px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(401px,61px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-5 {
	animation-name:ani-aniQrisk-an-obj-5-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-5-0;
	animation-duration:0.245s;
	-webkit-animation-duration:0.245s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-5 {
	transform:translate3d(401px,61px,0px);
	-webkit-transform:translate3d(401px,61px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-5 {
	transform:translate3d(401px,61px,0px);
	-webkit-transform:translate3d(401px,61px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-5 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-6 {
	transform:translate3d(393px,64px,0px);
	-webkit-transform:translate3d(393px,64px,0px);
	width:24px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-6-0 {
	0% {
		-webkit-transform:translate3d(393px,64px,0px) scale3d(0,1,1);
	}
	100% {
		-webkit-transform:translate3d(393px,64px,0px) scale3d(1,1,1);
	}
}
@keyframes ani-aniQrisk-an-obj-6-0 {
	0% {
		transform:translate3d(393px,64px,0px) scale3d(0,1,1);
	}
	100% {
		transform:translate3d(393px,64px,0px) scale3d(1,1,1);
	}
}
.run.t-0 #aniQrisk-an-obj-6 {
	animation-name:ani-aniQrisk-an-obj-6-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-6-0;
	animation-duration:0.257s;
	-webkit-animation-duration:0.257s;
	animation-delay:1.245s;
	-webkit-animation-delay:1.245s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-6 {
	transform:translate3d(393px,64px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(393px,64px,0px) scale3d(1,1,1);
}
.restart.t-0 #aniQrisk-an-obj-6 {
	transform:translate3d(393px,64px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(393px,64px,0px) scale3d(0,1,1);
}
.restart #aniQrisk-an-obj-6 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-7 {
	transform:translate3d(405px,79px,0px);
	-webkit-transform:translate3d(405px,79px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-7-0 {
	0% {
		-webkit-transform:translate3d(405px,79px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(405px,79px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-7-0 {
	0% {
		transform:translate3d(405px,79px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(405px,79px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-7 {
	animation-name:ani-aniQrisk-an-obj-7-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-7-0;
	animation-duration:0.253s;
	-webkit-animation-duration:0.253s;
	animation-delay:2s;
	-webkit-animation-delay:2s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-7 {
	transform:translate3d(405px,79px,0px);
	-webkit-transform:translate3d(405px,79px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-7 {
	transform:translate3d(405px,79px,0px);
	-webkit-transform:translate3d(405px,79px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-7 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-8 {
	transform:translate3d(400px,83px,0px);
	-webkit-transform:translate3d(400px,83px,0px);
	width:24px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-8-0 {
	0% {
		-webkit-transform:translate3d(400px,83px,0px) scale3d(0,1,1);
		-webkit-transform-origin:25% 50%;
	}
	100% {
		-webkit-transform:translate3d(400px,83px,0px) scale3d(1,1,1);
		-webkit-transform-origin:25% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-8-0 {
	0% {
		transform:translate3d(400px,83px,0px) scale3d(0,1,1);
		transform-origin:25% 50%;
	}
	100% {
		transform:translate3d(400px,83px,0px) scale3d(1,1,1);
		transform-origin:25% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-8 {
	animation-name:ani-aniQrisk-an-obj-8-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-8-0;
	animation-duration:0.253s;
	-webkit-animation-duration:0.253s;
	animation-delay:2.253s;
	-webkit-animation-delay:2.253s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-8 {
	transform:translate3d(400px,83px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(400px,83px,0px) scale3d(1,1,1);
	transform-origin:25% 50%;
	-webkit-transform-origin:25% 50%;
}
.restart.t-0 #aniQrisk-an-obj-8 {
	transform:translate3d(400px,83px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(400px,83px,0px) scale3d(0,1,1);
	transform-origin:25% 50%;
	-webkit-transform-origin:25% 50%;
}
.restart #aniQrisk-an-obj-8 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-9 {
	transform:translate3d(454px,93px,0px);
	-webkit-transform:translate3d(454px,93px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-9-0 {
	0% {
		-webkit-transform:translate3d(454px,93px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(454px,93px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-9-0 {
	0% {
		transform:translate3d(454px,93px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(454px,93px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-9 {
	animation-name:ani-aniQrisk-an-obj-9-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-9-0;
	animation-duration:0.253s;
	-webkit-animation-duration:0.253s;
	animation-delay:2.996s;
	-webkit-animation-delay:2.996s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-9 {
	transform:translate3d(454px,93px,0px);
	-webkit-transform:translate3d(454px,93px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-9 {
	transform:translate3d(454px,93px,0px);
	-webkit-transform:translate3d(454px,93px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-9 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-10 {
	transform:translate3d(441px,97px,0px);
	-webkit-transform:translate3d(441px,97px,0px);
	width:105px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-10-0 {
	0% {
		-webkit-transform:translate3d(441px,97px,0px) scale3d(0,1,1);
		-webkit-transform-origin:13% 50%;
	}
	100% {
		-webkit-transform:translate3d(441px,97px,0px) scale3d(1,1,1);
		-webkit-transform-origin:13% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-10-0 {
	0% {
		transform:translate3d(441px,97px,0px) scale3d(0,1,1);
		transform-origin:13% 50%;
	}
	100% {
		transform:translate3d(441px,97px,0px) scale3d(1,1,1);
		transform-origin:13% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-10 {
	animation-name:ani-aniQrisk-an-obj-10-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-10-0;
	animation-duration:0.253s;
	-webkit-animation-duration:0.253s;
	animation-delay:3.249s;
	-webkit-animation-delay:3.249s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-10 {
	transform:translate3d(441px,97px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(441px,97px,0px) scale3d(1,1,1);
	transform-origin:13% 50%;
	-webkit-transform-origin:13% 50%;
}
.restart.t-0 #aniQrisk-an-obj-10 {
	transform:translate3d(441px,97px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(441px,97px,0px) scale3d(0,1,1);
	transform-origin:13% 50%;
	-webkit-transform-origin:13% 50%;
}
.restart #aniQrisk-an-obj-10 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-11 {
	transform:translate3d(385px,116px,0px);
	-webkit-transform:translate3d(385px,116px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-11-0 {
	0% {
		-webkit-transform:translate3d(385px,116px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(385px,116px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-11-0 {
	0% {
		transform:translate3d(385px,116px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(385px,116px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-11 {
	animation-name:ani-aniQrisk-an-obj-11-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-11-0;
	animation-duration:0.249s;
	-webkit-animation-duration:0.249s;
	animation-delay:4.004s;
	-webkit-animation-delay:4.004s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-11 {
	transform:translate3d(385px,116px,0px);
	-webkit-transform:translate3d(385px,116px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-11 {
	transform:translate3d(385px,116px,0px);
	-webkit-transform:translate3d(385px,116px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-11 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-12 {
	transform:translate3d(364px,156px,0px);
	-webkit-transform:translate3d(364px,156px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-12-0 {
	0% {
		-webkit-transform:translate3d(364px,156px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(364px,156px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-12-0 {
	0% {
		transform:translate3d(364px,156px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(364px,156px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-12 {
	animation-name:ani-aniQrisk-an-obj-12-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-12-0;
	animation-duration:0.249s;
	-webkit-animation-duration:0.249s;
	animation-delay:4.755s;
	-webkit-animation-delay:4.755s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-12 {
	transform:translate3d(364px,156px,0px);
	-webkit-transform:translate3d(364px,156px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-12 {
	transform:translate3d(364px,156px,0px);
	-webkit-transform:translate3d(364px,156px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-12 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-13 {
	transform:translate3d(349px,160px,0px);
	-webkit-transform:translate3d(349px,160px,0px);
	width:33px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-13-0 {
	0% {
		-webkit-transform:translate3d(349px,160px,0px) scale3d(0,1,1);
		-webkit-transform-origin:63% 50%;
	}
	100% {
		-webkit-transform:translate3d(349px,160px,0px) scale3d(1,1,1);
		-webkit-transform-origin:63% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-13-0 {
	0% {
		transform:translate3d(349px,160px,0px) scale3d(0,1,1);
		transform-origin:63% 50%;
	}
	100% {
		transform:translate3d(349px,160px,0px) scale3d(1,1,1);
		transform-origin:63% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-13 {
	animation-name:ani-aniQrisk-an-obj-13-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-13-0;
	animation-duration:0.249s;
	-webkit-animation-duration:0.249s;
	animation-delay:5.004s;
	-webkit-animation-delay:5.004s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-13 {
	transform:translate3d(349px,160px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(349px,160px,0px) scale3d(1,1,1);
	transform-origin:63% 50%;
	-webkit-transform-origin:63% 50%;
}
.restart.t-0 #aniQrisk-an-obj-13 {
	transform:translate3d(349px,160px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(349px,160px,0px) scale3d(0,1,1);
	transform-origin:63% 50%;
	-webkit-transform-origin:63% 50%;
}
.restart #aniQrisk-an-obj-13 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-14 {
	transform:translate3d(401px,176px,0px);
	-webkit-transform:translate3d(401px,176px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-14-0 {
	0% {
		-webkit-transform:translate3d(401px,176px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(401px,176px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-14-0 {
	0% {
		transform:translate3d(401px,176px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(401px,176px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-14 {
	animation-name:ani-aniQrisk-an-obj-14-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-14-0;
	animation-duration:0.258s;
	-webkit-animation-duration:0.258s;
	animation-delay:5.75s;
	-webkit-animation-delay:5.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-14 {
	transform:translate3d(401px,176px,0px);
	-webkit-transform:translate3d(401px,176px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-14 {
	transform:translate3d(401px,176px,0px);
	-webkit-transform:translate3d(401px,176px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-14 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-15 {
	transform:translate3d(386px,180px,0px);
	-webkit-transform:translate3d(386px,180px,0px);
	width:38px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-15-0 {
	0% {
		-webkit-transform:translate3d(386px,180px,0px) scale3d(0,1,1);
	}
	100% {
		-webkit-transform:translate3d(386px,180px,0px) scale3d(1,1,1);
	}
}
@keyframes ani-aniQrisk-an-obj-15-0 {
	0% {
		transform:translate3d(386px,180px,0px) scale3d(0,1,1);
	}
	100% {
		transform:translate3d(386px,180px,0px) scale3d(1,1,1);
	}
}
.run.t-0 #aniQrisk-an-obj-15 {
	animation-name:ani-aniQrisk-an-obj-15-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-15-0;
	animation-duration:0.249s;
	-webkit-animation-duration:0.249s;
	animation-delay:6.008s;
	-webkit-animation-delay:6.008s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-15 {
	transform:translate3d(386px,180px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(386px,180px,0px) scale3d(1,1,1);
}
.restart.t-0 #aniQrisk-an-obj-15 {
	transform:translate3d(386px,180px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(386px,180px,0px) scale3d(0,1,1);
}
.restart #aniQrisk-an-obj-15 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-16 {
	transform:translate3d(436px,200px,0px);
	-webkit-transform:translate3d(436px,200px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-16-0 {
	0% {
		-webkit-transform:translate3d(436px,200px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(436px,200px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-16-0 {
	0% {
		transform:translate3d(436px,200px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(436px,200px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-16 {
	animation-name:ani-aniQrisk-an-obj-16-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-16-0;
	animation-duration:0.253s;
	-webkit-animation-duration:0.253s;
	animation-delay:6.755s;
	-webkit-animation-delay:6.755s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-16 {
	transform:translate3d(436px,200px,0px);
	-webkit-transform:translate3d(436px,200px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-16 {
	transform:translate3d(436px,200px,0px);
	-webkit-transform:translate3d(436px,200px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-16 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-17 {
	transform:translate3d(425px,204px,0px);
	-webkit-transform:translate3d(425px,204px,0px);
	width:42px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-17-0 {
	0% {
		-webkit-transform:translate3d(425px,204px,0px) scale3d(0,1,1);
		-webkit-transform-origin:30% 50%;
	}
	100% {
		-webkit-transform:translate3d(425px,204px,0px) scale3d(1,1,1);
		-webkit-transform-origin:30% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-17-0 {
	0% {
		transform:translate3d(425px,204px,0px) scale3d(0,1,1);
		transform-origin:30% 50%;
	}
	100% {
		transform:translate3d(425px,204px,0px) scale3d(1,1,1);
		transform-origin:30% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-17 {
	animation-name:ani-aniQrisk-an-obj-17-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-17-0;
	animation-duration:0.245s;
	-webkit-animation-duration:0.245s;
	animation-delay:7.008s;
	-webkit-animation-delay:7.008s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-17 {
	transform:translate3d(425px,204px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(425px,204px,0px) scale3d(1,1,1);
	transform-origin:30% 50%;
	-webkit-transform-origin:30% 50%;
}
.restart.t-0 #aniQrisk-an-obj-17 {
	transform:translate3d(425px,204px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(425px,204px,0px) scale3d(0,1,1);
	transform-origin:30% 50%;
	-webkit-transform-origin:30% 50%;
}
.restart #aniQrisk-an-obj-17 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-18 {
	transform:translate3d(455px,227px,0px);
	-webkit-transform:translate3d(455px,227px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-18-0 {
	0% {
		-webkit-transform:translate3d(455px,227px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(455px,227px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-18-0 {
	0% {
		transform:translate3d(455px,227px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(455px,227px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-18 {
	animation-name:ani-aniQrisk-an-obj-18-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-18-0;
	animation-duration:0.257s;
	-webkit-animation-duration:0.257s;
	animation-delay:7.751s;
	-webkit-animation-delay:7.751s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-18 {
	transform:translate3d(455px,227px,0px);
	-webkit-transform:translate3d(455px,227px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-18 {
	transform:translate3d(455px,227px,0px);
	-webkit-transform:translate3d(455px,227px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-18 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-19 {
	transform:translate3d(440px,231px,0px);
	-webkit-transform:translate3d(440px,231px,0px);
	width:63px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-19-0 {
	0% {
		-webkit-transform:translate3d(440px,231px,0px) scale3d(0,1,1);
		-webkit-transform-origin:30% 50%;
	}
	100% {
		-webkit-transform:translate3d(440px,231px,0px) scale3d(1,1,1);
		-webkit-transform-origin:30% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-19-0 {
	0% {
		transform:translate3d(440px,231px,0px) scale3d(0,1,1);
		transform-origin:30% 50%;
	}
	100% {
		transform:translate3d(440px,231px,0px) scale3d(1,1,1);
		transform-origin:30% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-19 {
	animation-name:ani-aniQrisk-an-obj-19-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-19-0;
	animation-duration:0.237s;
	-webkit-animation-duration:0.237s;
	animation-delay:8.008s;
	-webkit-animation-delay:8.008s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-19 {
	transform:translate3d(440px,231px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(440px,231px,0px) scale3d(1,1,1);
	transform-origin:30% 50%;
	-webkit-transform-origin:30% 50%;
}
.restart.t-0 #aniQrisk-an-obj-19 {
	transform:translate3d(440px,231px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(440px,231px,0px) scale3d(0,1,1);
	transform-origin:30% 50%;
	-webkit-transform-origin:30% 50%;
}
.restart #aniQrisk-an-obj-19 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-20 {
	transform:translate3d(412px,301px,0px);
	-webkit-transform:translate3d(412px,301px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-20-0 {
	0% {
		-webkit-transform:translate3d(412px,301px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(412px,301px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-20-0 {
	0% {
		transform:translate3d(412px,301px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(412px,301px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-20 {
	animation-name:ani-aniQrisk-an-obj-20-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-20-0;
	animation-duration:0.253s;
	-webkit-animation-duration:0.253s;
	animation-delay:8.755s;
	-webkit-animation-delay:8.755s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-20 {
	transform:translate3d(412px,301px,0px);
	-webkit-transform:translate3d(412px,301px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-20 {
	transform:translate3d(412px,301px,0px);
	-webkit-transform:translate3d(412px,301px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-20 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-21 {
	transform:translate3d(393px,305px,0px);
	-webkit-transform:translate3d(393px,305px,0px);
	width:38px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-21-0 {
	0% {
		-webkit-transform:translate3d(393px,305px,0px) scale3d(0,1,1);
		-webkit-transform-origin:67% 50%;
	}
	100% {
		-webkit-transform:translate3d(393px,305px,0px) scale3d(1,1,1);
		-webkit-transform-origin:67% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-21-0 {
	0% {
		transform:translate3d(393px,305px,0px) scale3d(0,1,1);
		transform-origin:67% 50%;
	}
	100% {
		transform:translate3d(393px,305px,0px) scale3d(1,1,1);
		transform-origin:67% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-21 {
	animation-name:ani-aniQrisk-an-obj-21-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-21-0;
	animation-duration:0.237s;
	-webkit-animation-duration:0.237s;
	animation-delay:9.008s;
	-webkit-animation-delay:9.008s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-21 {
	transform:translate3d(393px,305px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(393px,305px,0px) scale3d(1,1,1);
	transform-origin:67% 50%;
	-webkit-transform-origin:67% 50%;
}
.restart.t-0 #aniQrisk-an-obj-21 {
	transform:translate3d(393px,305px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(393px,305px,0px) scale3d(0,1,1);
	transform-origin:67% 50%;
	-webkit-transform-origin:67% 50%;
}
.restart #aniQrisk-an-obj-21 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-22 {
	transform:translate3d(463px,317px,0px);
	-webkit-transform:translate3d(463px,317px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-22-0 {
	0% {
		-webkit-transform:translate3d(463px,317px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(463px,317px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-22-0 {
	0% {
		transform:translate3d(463px,317px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(463px,317px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-22 {
	animation-name:ani-aniQrisk-an-obj-22-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-22-0;
	animation-duration:0.249s;
	-webkit-animation-duration:0.249s;
	animation-delay:9.755s;
	-webkit-animation-delay:9.755s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-22 {
	transform:translate3d(463px,317px,0px);
	-webkit-transform:translate3d(463px,317px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-22 {
	transform:translate3d(463px,317px,0px);
	-webkit-transform:translate3d(463px,317px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-22 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-23 {
	transform:translate3d(444px,320px,0px);
	-webkit-transform:translate3d(444px,320px,0px);
	width:59px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-23-0 {
	0% {
		-webkit-transform:translate3d(444px,320px,0px) scale3d(0,1,1);
		-webkit-transform-origin:38% 50%;
	}
	100% {
		-webkit-transform:translate3d(444px,320px,0px) scale3d(1,1,1);
		-webkit-transform-origin:38% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-23-0 {
	0% {
		transform:translate3d(444px,320px,0px) scale3d(0,1,1);
		transform-origin:38% 50%;
	}
	100% {
		transform:translate3d(444px,320px,0px) scale3d(1,1,1);
		transform-origin:38% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-23 {
	animation-name:ani-aniQrisk-an-obj-23-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-23-0;
	animation-duration:0.245s;
	-webkit-animation-duration:0.245s;
	animation-delay:10.004s;
	-webkit-animation-delay:10.004s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-23 {
	transform:translate3d(444px,320px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(444px,320px,0px) scale3d(1,1,1);
	transform-origin:38% 50%;
	-webkit-transform-origin:38% 50%;
}
.restart.t-0 #aniQrisk-an-obj-23 {
	transform:translate3d(444px,320px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(444px,320px,0px) scale3d(0,1,1);
	transform-origin:38% 50%;
	-webkit-transform-origin:38% 50%;
}
.restart #aniQrisk-an-obj-23 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-24 {
	transform:translate3d(414px,337px,0px);
	-webkit-transform:translate3d(414px,337px,0px);
	width:9px;
	height:9px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-24-0 {
	0% {
		-webkit-transform:translate3d(414px,337px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(414px,337px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQrisk-an-obj-24-0 {
	0% {
		transform:translate3d(414px,337px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(414px,337px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQrisk-an-obj-24 {
	animation-name:ani-aniQrisk-an-obj-24-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-24-0;
	animation-duration:0.249s;
	-webkit-animation-duration:0.249s;
	animation-delay:10.751s;
	-webkit-animation-delay:10.751s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-24 {
	transform:translate3d(414px,337px,0px);
	-webkit-transform:translate3d(414px,337px,0px);
	opacity:1;
}
.restart.t-0 #aniQrisk-an-obj-24 {
	transform:translate3d(414px,337px,0px);
	-webkit-transform:translate3d(414px,337px,0px);
	opacity:0;
}
.restart #aniQrisk-an-obj-24 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQrisk-an-obj-25 {
	transform:translate3d(397px,341px,0px);
	-webkit-transform:translate3d(397px,341px,0px);
	width:38px;
	height:1px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQrisk-an-obj-25-0 {
	0% {
		-webkit-transform:translate3d(397px,341px,0px) scale3d(0,1,1);
		-webkit-transform-origin:61% 50%;
	}
	100% {
		-webkit-transform:translate3d(397px,341px,0px) scale3d(1,1,1);
		-webkit-transform-origin:61% 50%;
	}
}
@keyframes ani-aniQrisk-an-obj-25-0 {
	0% {
		transform:translate3d(397px,341px,0px) scale3d(0,1,1);
		transform-origin:61% 50%;
	}
	100% {
		transform:translate3d(397px,341px,0px) scale3d(1,1,1);
		transform-origin:61% 50%;
	}
}
.run.t-0 #aniQrisk-an-obj-25 {
	animation-name:ani-aniQrisk-an-obj-25-0;
	-webkit-animation-name:ani-aniQrisk-an-obj-25-0;
	animation-duration:0.257s;
	-webkit-animation-duration:0.257s;
	animation-delay:11s;
	-webkit-animation-delay:11s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQrisk-an-obj-25 {
	transform:translate3d(397px,341px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(397px,341px,0px) scale3d(1,1,1);
	transform-origin:61% 50%;
	-webkit-transform-origin:61% 50%;
}
.restart.t-0 #aniQrisk-an-obj-25 {
	transform:translate3d(397px,341px,0px) scale3d(0,1,1);
	-webkit-transform:translate3d(397px,341px,0px) scale3d(0,1,1);
	transform-origin:61% 50%;
	-webkit-transform-origin:61% 50%;
}
.restart #aniQrisk-an-obj-25 {
	animation-name:none !important;
	-webkit-animation-name: none !important;
}

*/