﻿#questions_aspirin_for_noncardiac_surgery ul { margin-top: 20px; }
#questions_aspirin_for_noncardiac_surgery ul li:first-child { float: left; width: 330px; margin: 0px; }
#questions_aspirin_for_noncardiac_surgery ul li:last-child { float: left; width: 500px; margin: 0 0 0 30px; }


#questions_aspirin_for_noncardiac_surgery .comparison { margin-top: 40px; }

#questions_aspirin_for_noncardiac_surgery .box { padding: 10px 0 0 180px; }
#questions_aspirin_for_noncardiac_surgery .box .placebo { position: relative; }

#questions_aspirin_for_noncardiac_surgery .box h4 { font-size: 24px; padding: 7px 0 10px; }
#questions_aspirin_for_noncardiac_surgery .box .aspirin h4 { color: #009B78; padding-left: 7px; }
#questions_aspirin_for_noncardiac_surgery .box .placebo h4 { color: #E7353C; }

#questions_aspirin_for_noncardiac_surgery .box span { display: block; font-size: 16px; }
#questions_aspirin_for_noncardiac_surgery .box .percent { font-size: 26px; width: 90px; height: 44px; background: url('../img/questions_aspirin_for_noncardiac_surgery/pill.png') no-repeat; color: #009B78; }
#questions_aspirin_for_noncardiac_surgery .box .percent span { font-size: 26px; padding-left: 16px; padding-top: 20px; }

#questions_aspirin_for_noncardiac_surgery .box .aspirin .percent { }
#questions_aspirin_for_noncardiac_surgery .box .aspirin .percent span { padding-left: 13px; }

#questions_aspirin_for_noncardiac_surgery .box span.p-eq { position: absolute; top: 15px; right: -125px; font-size: 24px; }
#questions_aspirin_for_noncardiac_surgery .box span.show { opacity: 1; }
#questions_aspirin_for_noncardiac_surgery .box .versus { display: block; font-size: 24px; padding-top: 14px; margin: 0 35px; }





/* Animation 

#questions_aspirin_for_noncardiac_surgery .aspirin .percent span {
    -webkit-animation-name: textFlash;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

*/