﻿#questions_strategies_to_reduce_bleeding .animation-box { margin-top: 30px; }

#questions_strategies_to_reduce_bleeding .option { width: 403px; }
#questions_strategies_to_reduce_bleeding .option.fr { margin-right: 50px; }


#questions_strategies_to_reduce_bleeding .option .answer-box {
    overflow: hidden;
    width: 405px;
    max-height: 0;  
    margin: 0;
    padding: 0;
    
}


#questions_strategies_to_reduce_bleeding .option .answer-box.active {
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: linear;
    max-height: 300px;
}



/*
#questions_strategies_to_reduce_bleeding .option .answer-box.l.active {
    -webkit-animation: slideDownLeft; 
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}
#questions_strategies_to_reduce_bleeding .option .answer-box.r.active {
    -webkit-animation: slideDownRight; 
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}
*/


#questions_strategies_to_reduce_bleeding .option .answer { width: 200px; }

#questions_strategies_to_reduce_bleeding .option .btn-options { margin-left: 68px; }


#questions_strategies_to_reduce_bleeding .answer { border: 2px solid #fff; box-shadow: 2px 2px 2px #ccc; }
#questions_strategies_to_reduce_bleeding .answer h4 {
    font-family: "HelveticaNeueLight", HelveticaNeue, Arial, Serif; 
    font-size: 14px; 
    font-weight: normal; 
    background: #009B78;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 12px 0px 10px;
    margin: 0;
}

#questions_strategies_to_reduce_bleeding .answer p {
    background: #D1E4DC; 
    color: #009B78;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px 5px;
    margin: 0px;
}

#questions_strategies_to_reduce_bleeding .answer p sup { font-size: 11px; }

#questions_strategies_to_reduce_bleeding .option.fl p { height: 250px; }
#questions_strategies_to_reduce_bleeding .option.fr p { height: 160px; }


@-webkit-keyframes slideDownLeft
{
    from { height: 0px; }
    to { height: 286px; }
}

@-webkit-keyframes slideDownRight
{
    from { height: 0px; }
    to { height: 196px; }
}