﻿#questions_patients_undergoing_revascularization .animation-box { margin-top: 20px; -webkit-transform: translate3d(0px, 100px, 0px); position: relative; }
#questions_patients_undergoing_revascularization .option-box { width: 267px; }


#questions_patients_undergoing_revascularization li span sup { font-size: 11px; }






/* Animation */



/* 1 */

#aniQ6-1-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQ6-1-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQ6-1-an-anim>ol>li.run {
	display:block;
}
#aniQ6-1-an-anim .aniQ6-1-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQ6-1-an-anim .aniQ6-1-an-stage div {
	position:absolute;
}
.aniQ6-1-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQ6-1-an-anim .aniQ6-1-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQ6-1-an-anim .AN-Scene-Description {
	display:none;
}
#aniQ6-1-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQ6-1-an-anim .aniQ6-1-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQ6-1-an-anim {
	height:263px;
	width:260px;
	position:relative;
}
#aniQ6-1-an-anim {
	background-color:none;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#aniQ6-1-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	width:168px;
	height:105px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ6-1-an-obj-1-0 {
	0% {
		-webkit-transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-1-an-obj-1-0 {
	0% {
		transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-1-an-obj-1 {
	animation-name:ani-aniQ6-1-an-obj-1-0;
	-webkit-animation-name:ani-aniQ6-1-an-obj-1-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-1-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-1-an-obj-1 {
	transform:translate3d(41px,-65px,0px);
	-webkit-transform:translate3d(41px,-65px,0px);
	opacity:0;
}
.restart #aniQ6-1-an-obj-1 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-1-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	width:111px;
	height:98px;
	top:0;
	left:0;
	text-align:center;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ6-1-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-1-an-obj-2-0 {
	0% {
		transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-1-an-obj-2 {
	animation-name:ani-aniQ6-1-an-obj-2-0;
	-webkit-animation-name:ani-aniQ6-1-an-obj-2-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-1-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-1-an-obj-2 {
	transform:translate3d(68px,0px,0px);
	-webkit-transform:translate3d(68px,0px,0px);
	opacity:0;
}
.restart #aniQ6-1-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-1-an-obj-3 {
	transform:translate3d(-1px,102px,0px);
	-webkit-transform:translate3d(-1px,102px,0px);
	width:251px;
	height:159px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ6-1-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		-webkit-transform-origin:50% 50%;
	}
	100% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		-webkit-transform-origin:50% 50%;
	}
}
@keyframes ani-aniQ6-1-an-obj-3-0 {
	0% {
		transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		transform-origin:50% 50%;
	}
	100% {
		transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		transform-origin:50% 50%;
	}
}
.run.t-0 #aniQ6-1-an-obj-3 {
	animation-name:ani-aniQ6-1-an-obj-3-0;
	-webkit-animation-name:ani-aniQ6-1-an-obj-3-0;
	animation-duration:0.507s;
	-webkit-animation-duration:0.507s;
	animation-delay:1.7465s;
	-webkit-animation-delay:1.7465s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-1-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
}
.restart.t-0 #aniQ6-1-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
}
.restart #aniQ6-1-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-1-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	width:220px;
	height:182px;
	top:0;
	left:0;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ6-1-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-1-an-obj-4-0 {
	0% {
		transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-1-an-obj-4 {
	animation-name:ani-aniQ6-1-an-obj-4-0;
	-webkit-animation-name:ani-aniQ6-1-an-obj-4-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.75s;
	-webkit-animation-delay:2.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-1-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-1-an-obj-4 {
	transform:translate3d(2px,111px,0px);
	-webkit-transform:translate3d(2px,111px,0px);
	opacity:0;
}
.restart #aniQ6-1-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-1-an-scene-0 .aniQ6-1-an-stage {
	background-color: rgba(255,255,255,0);
}






/* 2 */

#aniQ6-2-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQ6-2-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQ6-2-an-anim>ol>li.run {
	display:block;
}
#aniQ6-2-an-anim .aniQ6-2-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQ6-2-an-anim .aniQ6-2-an-stage div {
	position:absolute;
}
.aniQ6-2-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQ6-2-an-anim .aniQ6-2-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQ6-2-an-anim .AN-Scene-Description {
	display:none;
}
#aniQ6-2-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQ6-2-an-anim .aniQ6-2-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQ6-2-an-anim {
	height:263px;
	width:260px;
	position:relative;
}
#aniQ6-2-an-anim {
	background-color:none;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#aniQ6-2-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	width:168px;
	height:105px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ6-2-an-obj-1-0 {
	0% {
		-webkit-transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-2-an-obj-1-0 {
	0% {
		transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-2-an-obj-1 {
	animation-name:ani-aniQ6-2-an-obj-1-0;
	-webkit-animation-name:ani-aniQ6-2-an-obj-1-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-2-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-2-an-obj-1 {
	transform:translate3d(41px,-65px,0px);
	-webkit-transform:translate3d(41px,-65px,0px);
	opacity:0;
}
.restart #aniQ6-2-an-obj-1 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-2-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	width:111px;
	height:98px;
	top:0;
	left:0;
	text-align:center;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ6-2-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-2-an-obj-2-0 {
	0% {
		transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-2-an-obj-2 {
	animation-name:ani-aniQ6-2-an-obj-2-0;
	-webkit-animation-name:ani-aniQ6-2-an-obj-2-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-2-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-2-an-obj-2 {
	transform:translate3d(68px,0px,0px);
	-webkit-transform:translate3d(68px,0px,0px);
	opacity:0;
}
.restart #aniQ6-2-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-2-an-obj-3 {
	transform:translate3d(-1px,102px,0px);
	-webkit-transform:translate3d(-1px,102px,0px);
	width:251px;
	height:159px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ6-2-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		-webkit-transform-origin:50% 50%;
	}
	100% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		-webkit-transform-origin:50% 50%;
	}
}
@keyframes ani-aniQ6-2-an-obj-3-0 {
	0% {
		transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		transform-origin:50% 50%;
	}
	100% {
		transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		transform-origin:50% 50%;
	}
}
.run.t-0 #aniQ6-2-an-obj-3 {
	animation-name:ani-aniQ6-2-an-obj-3-0;
	-webkit-animation-name:ani-aniQ6-2-an-obj-3-0;
	animation-duration:0.507s;
	-webkit-animation-duration:0.507s;
	animation-delay:1.7465s;
	-webkit-animation-delay:1.7465s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-2-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
}
.restart.t-0 #aniQ6-2-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
}
.restart #aniQ6-2-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-2-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	width:220px;
	height:182px;
	top:0;
	left:0;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ6-2-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-2-an-obj-4-0 {
	0% {
		transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-2-an-obj-4 {
	animation-name:ani-aniQ6-2-an-obj-4-0;
	-webkit-animation-name:ani-aniQ6-2-an-obj-4-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.75s;
	-webkit-animation-delay:2.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-2-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-2-an-obj-4 {
	transform:translate3d(2px,111px,0px);
	-webkit-transform:translate3d(2px,111px,0px);
	opacity:0;
}
.restart #aniQ6-2-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-2-an-scene-0 .aniQ6-2-an-stage {
	background-color: rgba(255,255,255,0);
}





/* 3 */


#aniQ6-3-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#aniQ6-3-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#aniQ6-3-an-anim>ol>li.run {
	display:block;
}
#aniQ6-3-an-anim .aniQ6-3-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#aniQ6-3-an-anim .aniQ6-3-an-stage div {
	position:absolute;
}
.aniQ6-3-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#aniQ6-3-an-anim .aniQ6-3-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#aniQ6-3-an-anim .AN-Scene-Description {
	display:none;
}
#aniQ6-3-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#aniQ6-3-an-anim .aniQ6-3-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#aniQ6-3-an-anim {
	height:263px;
	width:260px;
	position:relative;
}
#aniQ6-3-an-anim {
	background-color:none;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#aniQ6-3-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	width:168px;
	height:105px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ6-3-an-obj-1-0 {
	0% {
		-webkit-transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-3-an-obj-1-0 {
	0% {
		transform:translate3d(41px,-65px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(41px,0px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-3-an-obj-1 {
	animation-name:ani-aniQ6-3-an-obj-1-0;
	-webkit-animation-name:ani-aniQ6-3-an-obj-1-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-3-an-obj-1 {
	transform:translate3d(41px,0px,0px);
	-webkit-transform:translate3d(41px,0px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-3-an-obj-1 {
	transform:translate3d(41px,-65px,0px);
	-webkit-transform:translate3d(41px,-65px,0px);
	opacity:0;
}
.restart #aniQ6-3-an-obj-1 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-3-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	width:111px;
	height:98px;
	top:0;
	left:0;
	text-align:center;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ6-3-an-obj-2-0 {
	0% {
		-webkit-transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-3-an-obj-2-0 {
	0% {
		transform:translate3d(68px,0px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(68px,5px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-3-an-obj-2 {
	animation-name:ani-aniQ6-3-an-obj-2-0;
	-webkit-animation-name:ani-aniQ6-3-an-obj-2-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-3-an-obj-2 {
	transform:translate3d(68px,5px,0px);
	-webkit-transform:translate3d(68px,5px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-3-an-obj-2 {
	transform:translate3d(68px,0px,0px);
	-webkit-transform:translate3d(68px,0px,0px);
	opacity:0;
}
.restart #aniQ6-3-an-obj-2 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-3-an-obj-3 {
	transform:translate3d(-1px,102px,0px);
	-webkit-transform:translate3d(-1px,102px,0px);
	width:251px;
	height:159px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-aniQ6-3-an-obj-3-0 {
	0% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		-webkit-transform-origin:50% 50%;
	}
	100% {
		-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		-webkit-transform-origin:50% 50%;
	}
}
@keyframes ani-aniQ6-3-an-obj-3-0 {
	0% {
		transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
		transform-origin:50% 50%;
	}
	100% {
		transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
		transform-origin:50% 50%;
	}
}
.run.t-0 #aniQ6-3-an-obj-3 {
	animation-name:ani-aniQ6-3-an-obj-3-0;
	-webkit-animation-name:ani-aniQ6-3-an-obj-3-0;
	animation-duration:0.507s;
	-webkit-animation-duration:0.507s;
	animation-delay:1.7465s;
	-webkit-animation-delay:1.7465s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-3-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(1,1,1);
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
}
.restart.t-0 #aniQ6-3-an-obj-3 {
	transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	-webkit-transform:translate3d(-1px,102px,0px) scale3d(0,0,1);
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
}
.restart #aniQ6-3-an-obj-3 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-3-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	width:220px;
	height:182px;
	top:0;
	left:0;
	color:rgba(255,255,255,1);
	font-size:15px;
	line-height:120%;
}
@-webkit-keyframes ani-aniQ6-3-an-obj-4-0 {
	0% {
		-webkit-transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
@keyframes ani-aniQ6-3-an-obj-4-0 {
	0% {
		transform:translate3d(2px,111px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(15px,111px,0px);
		opacity:1;
	}
}
.run.t-0 #aniQ6-3-an-obj-4 {
	animation-name:ani-aniQ6-3-an-obj-4-0;
	-webkit-animation-name:ani-aniQ6-3-an-obj-4-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.75s;
	-webkit-animation-delay:2.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #aniQ6-3-an-obj-4 {
	transform:translate3d(15px,111px,0px);
	-webkit-transform:translate3d(15px,111px,0px);
	opacity:1;
}
.restart.t-0 #aniQ6-3-an-obj-4 {
	transform:translate3d(2px,111px,0px);
	-webkit-transform:translate3d(2px,111px,0px);
	opacity:0;
}
.restart #aniQ6-3-an-obj-4 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#aniQ6-3-an-scene-0 .aniQ6-3-an-stage {
	background-color: rgba(255,255,255,0);
}