﻿#questions_why_is_aspirin_used_acutely3 .animation-box {
    border: 2px solid #009B78;
    border-radius: 10px;
    background: white;
    position: relative;
    padding: 10px;
}

#questions_why_is_aspirin_used_acutely3 .bottom-legend { width: 600px; margin-top: 40px; }
 



/* Animation */

#animQ3-an-anim>ol {
	list-style:none;
	margin:0;
	padding:0;
}
#animQ3-an-anim>ol>li {
	margin:0;
	padding:0;
	display:none;
}
#animQ3-an-anim>ol>li.run {
	display:block;
}
#animQ3-an-anim .animQ3-an-stage {
	overflow:hidden;
	margin:0;
	padding:0;
}
#animQ3-an-anim .animQ3-an-stage div {
	position:absolute;
}
.animQ3-an-stage * {
	margin:0;
	padding:0;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
#animQ3-an-anim .animQ3-an-stage img {
	position:absolute;
	top:0;
	left:0;
}
#animQ3-an-anim .AN-Scene-Description {
	display:none;
}
#animQ3-an-anim iframe {
	border:none;
	height:100%;
	width:100%
}
#animQ3-an-anim .animQ3-an-stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#animQ3-an-anim {
	height:295px;
	width:842px;
	position:relative;
}
#animQ3-an-anim {
	background-color:rgba(255,255,255,1);
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	line-height:1.3;
}
#animQ3-an-obj-1 {
	transform:translate3d(4px,0px,0px);
	-webkit-transform:translate3d(4px,0px,0px);
	width:416px;
	height:36px;
	top:0;
	left:0;
	color:rgba(231,53,60,1);
	font-size:19px;
}
#animQ3-an-obj-2 {
	transform:translate3d(80px,116px,0px);
	-webkit-transform:translate3d(80px,116px,0px);
	width:755px;
	height:161px;
	top:0;
	left:0;
}
#animQ3-an-obj-3 {
	transform:translate3d(-49px,171px,0px) rotateX(0deg) rotateY(0deg) rotateZ(270deg);
	-webkit-transform:translate3d(-49px,171px,0px) rotateX(0deg) rotateY(0deg) rotateZ(270deg);
	width:177px;
	height:53px;
	top:0;
	left:0;
	font-size:19px;
	text-align:center;
}
#animQ3-an-obj-4 {
	transform:translate3d(143px,63px,0px);
	-webkit-transform:translate3d(143px,63px,0px);
	width:139px;
	height:57px;
	top:0;
	left:0;
	text-align:center;
	font-size:17px;
}
#animQ3-an-obj-5 {
	transform:translate3d(184px,125px,0px);
	-webkit-transform:translate3d(184px,125px,0px);
	width:62px;
	height:101px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ3-an-obj-5-0 {
	0% {
		-webkit-transform:translate3d(184px,125px,0px) scale3d(1,0,1);
		-webkit-transform-origin:50% 0%;
		-webkit-animation-timing-function:ease;
	}
	100% {
		-webkit-transform:translate3d(184px,125px,0px) scale3d(1,1,1);
		-webkit-transform-origin:50% 0%;
		-webkit-animation-timing-function:ease-in;
	}
}
@keyframes ani-animQ3-an-obj-5-0 {
	0% {
		transform:translate3d(184px,125px,0px) scale3d(1,0,1);
		transform-origin:50% 0%;
		animation-timing-function:ease;
	}
	100% {
		transform:translate3d(184px,125px,0px) scale3d(1,1,1);
		transform-origin:50% 0%;
		animation-timing-function:ease-in;
	}
}
.run.t-0 #animQ3-an-obj-5 {
	animation-name:ani-animQ3-an-obj-5-0;
	-webkit-animation-name:ani-animQ3-an-obj-5-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-5 {
	transform:translate3d(184px,125px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(184px,125px,0px) scale3d(1,1,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
	animation-timing-function:ease-in;
	-webkit-animation-timing-function:ease-in;
}
.restart.t-0 #animQ3-an-obj-5 {
	transform:translate3d(184px,125px,0px) scale3d(1,0,1);
	-webkit-transform:translate3d(184px,125px,0px) scale3d(1,0,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
	animation-timing-function:ease;
	-webkit-animation-timing-function:ease;
}
.restart #animQ3-an-obj-5 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-6 {
	transform:translate3d(195px,202px,0px);
	-webkit-transform:translate3d(195px,202px,0px);
	width:80px;
	height:45px;
	top:0;
	left:0;
	font-size:18px;
	color:rgba(255,255,255,1);
}
@-webkit-keyframes ani-animQ3-an-obj-6-0 {
	0% {
		-webkit-transform:translate3d(195px,202px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(195px,202px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-6-0 {
	0% {
		transform:translate3d(195px,202px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(195px,202px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-6 {
	animation-name:ani-animQ3-an-obj-6-0;
	-webkit-animation-name:ani-animQ3-an-obj-6-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:1.75s;
	-webkit-animation-delay:1.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-6 {
	transform:translate3d(195px,202px,0px);
	-webkit-transform:translate3d(195px,202px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-6 {
	transform:translate3d(195px,202px,0px);
	-webkit-transform:translate3d(195px,202px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-6 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-7 {
	transform:translate3d(182px,230px,0px);
	-webkit-transform:translate3d(182px,230px,0px);
	width:209px;
	height:39px;
	top:0;
	left:0;
	font-size:13px;
}
@-webkit-keyframes ani-animQ3-an-obj-7-0 {
	0% {
		-webkit-transform:translate3d(182px,230px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(182px,230px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-7-0 {
	0% {
		transform:translate3d(182px,230px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(182px,230px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-7 {
	animation-name:ani-animQ3-an-obj-7-0;
	-webkit-animation-name:ani-animQ3-an-obj-7-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:2.25s;
	-webkit-animation-delay:2.25s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-7 {
	transform:translate3d(182px,230px,0px);
	-webkit-transform:translate3d(182px,230px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-7 {
	transform:translate3d(182px,230px,0px);
	-webkit-transform:translate3d(182px,230px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-7 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-8 {
	transform:translate3d(327px,63px,0px);
	-webkit-transform:translate3d(327px,63px,0px);
	width:128px;
	height:66px;
	top:0;
	left:0;
	text-align:center;
	font-size:17px;
}
#animQ3-an-obj-9 {
	transform:translate3d(361px,125px,0px);
	-webkit-transform:translate3d(361px,125px,0px);
	width:62px;
	height:97px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ3-an-obj-9-0 {
	0% {
		-webkit-transform:translate3d(361px,125px,0px) scale3d(1,0,1);
		-webkit-transform-origin:50% 0%;
	}
	100% {
		-webkit-transform:translate3d(361px,125px,0px) scale3d(1,1,1);
		-webkit-transform-origin:50% 0%;
	}
}
@keyframes ani-animQ3-an-obj-9-0 {
	0% {
		transform:translate3d(361px,125px,0px) scale3d(1,0,1);
		transform-origin:50% 0%;
	}
	100% {
		transform:translate3d(361px,125px,0px) scale3d(1,1,1);
		transform-origin:50% 0%;
	}
}
.run.t-0 #animQ3-an-obj-9 {
	animation-name:ani-animQ3-an-obj-9-0;
	-webkit-animation-name:ani-animQ3-an-obj-9-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:3.0056s;
	-webkit-animation-delay:3.0056s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-9 {
	transform:translate3d(361px,125px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(361px,125px,0px) scale3d(1,1,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}
.restart.t-0 #animQ3-an-obj-9 {
	transform:translate3d(361px,125px,0px) scale3d(1,0,1);
	-webkit-transform:translate3d(361px,125px,0px) scale3d(1,0,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}
.restart #animQ3-an-obj-9 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-10 {
	transform:translate3d(373px,197px,0px);
	-webkit-transform:translate3d(373px,197px,0px);
	width:120px;
	height:20px;
	top:0;
	left:0;
	color:rgba(255,255,255,1);
	font-size:18px;
}
@-webkit-keyframes ani-animQ3-an-obj-10-0 {
	0% {
		-webkit-transform:translate3d(373px,197px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(373px,197px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-10-0 {
	0% {
		transform:translate3d(373px,197px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(373px,197px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-10 {
	animation-name:ani-animQ3-an-obj-10-0;
	-webkit-animation-name:ani-animQ3-an-obj-10-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:3.7556s;
	-webkit-animation-delay:3.7556s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-10 {
	transform:translate3d(373px,197px,0px);
	-webkit-transform:translate3d(373px,197px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-10 {
	transform:translate3d(373px,197px,0px);
	-webkit-transform:translate3d(373px,197px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-10 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-11 {
	transform:translate3d(360px,229px,0px);
	-webkit-transform:translate3d(360px,229px,0px);
	width:157px;
	height:36px;
	top:0;
	left:0;
	font-size:13px;
}
@-webkit-keyframes ani-animQ3-an-obj-11-0 {
	0% {
		-webkit-transform:translate3d(360px,229px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(360px,229px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-11-0 {
	0% {
		transform:translate3d(360px,229px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(360px,229px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-11 {
	animation-name:ani-animQ3-an-obj-11-0;
	-webkit-animation-name:ani-animQ3-an-obj-11-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:4.2556s;
	-webkit-animation-delay:4.2556s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-11 {
	transform:translate3d(360px,229px,0px);
	-webkit-transform:translate3d(360px,229px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-11 {
	transform:translate3d(360px,229px,0px);
	-webkit-transform:translate3d(360px,229px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-11 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-12 {
	transform:translate3d(523px,85px,0px);
	-webkit-transform:translate3d(523px,85px,0px);
	width:129px;
	height:43px;
	top:0;
	left:0;
	font-size:17px;
}
#animQ3-an-obj-13 {
	transform:translate3d(540px,125px,0px);
	-webkit-transform:translate3d(540px,125px,0px);
	width:62px;
	height:139px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ3-an-obj-13-0 {
	0% {
		-webkit-transform:translate3d(540px,125px,0px) scale3d(1,0,1);
		-webkit-transform-origin:50% 0%;
	}
	100% {
		-webkit-transform:translate3d(540px,125px,0px) scale3d(1,1,1);
		-webkit-transform-origin:50% 0%;
	}
}
@keyframes ani-animQ3-an-obj-13-0 {
	0% {
		transform:translate3d(540px,125px,0px) scale3d(1,0,1);
		transform-origin:50% 0%;
	}
	100% {
		transform:translate3d(540px,125px,0px) scale3d(1,1,1);
		transform-origin:50% 0%;
	}
}
.run.t-0 #animQ3-an-obj-13 {
	animation-name:ani-animQ3-an-obj-13-0;
	-webkit-animation-name:ani-animQ3-an-obj-13-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:5.0056s;
	-webkit-animation-delay:5.0056s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-13 {
	transform:translate3d(540px,125px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(540px,125px,0px) scale3d(1,1,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}
.restart.t-0 #animQ3-an-obj-13 {
	transform:translate3d(540px,125px,0px) scale3d(1,0,1);
	-webkit-transform:translate3d(540px,125px,0px) scale3d(1,0,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}
.restart #animQ3-an-obj-13 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-14 {
	transform:translate3d(550px,240px,0px);
	-webkit-transform:translate3d(550px,240px,0px);
	width:61px;
	height:42px;
	top:0;
	left:0;
	color:rgba(255,255,255,1);
	font-size:18px;
}
@-webkit-keyframes ani-animQ3-an-obj-14-0 {
	0% {
		-webkit-transform:translate3d(550px,240px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(550px,240px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-14-0 {
	0% {
		transform:translate3d(550px,240px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(550px,240px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-14 {
	animation-name:ani-animQ3-an-obj-14-0;
	-webkit-animation-name:ani-animQ3-an-obj-14-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:5.7556s;
	-webkit-animation-delay:5.7556s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-14 {
	transform:translate3d(550px,240px,0px);
	-webkit-transform:translate3d(550px,240px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-14 {
	transform:translate3d(550px,240px,0px);
	-webkit-transform:translate3d(550px,240px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-14 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-15 {
	transform:translate3d(540px,272px,0px);
	-webkit-transform:translate3d(540px,272px,0px);
	width:120px;
	height:20px;
	top:0;
	left:0;
	font-size:13px;
}
@-webkit-keyframes ani-animQ3-an-obj-15-0 {
	0% {
		-webkit-transform:translate3d(540px,272px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(540px,272px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-15-0 {
	0% {
		transform:translate3d(540px,272px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(540px,272px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-15 {
	animation-name:ani-animQ3-an-obj-15-0;
	-webkit-animation-name:ani-animQ3-an-obj-15-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:6.2556s;
	-webkit-animation-delay:6.2556s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-15 {
	transform:translate3d(540px,272px,0px);
	-webkit-transform:translate3d(540px,272px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-15 {
	transform:translate3d(540px,272px,0px);
	-webkit-transform:translate3d(540px,272px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-15 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-16 {
	transform:translate3d(691px,85px,0px);
	-webkit-transform:translate3d(691px,85px,0px);
	width:142px;
	height:33px;
	top:0;
	left:0;
	font-size:17px;
}
#animQ3-an-obj-17 {
	transform:translate3d(716px,125px,0px);
	-webkit-transform:translate3d(716px,125px,0px);
	width:62px;
	height:64px;
	top:0;
	left:0;
}
@-webkit-keyframes ani-animQ3-an-obj-17-0 {
	0% {
		-webkit-transform:translate3d(716px,125px,0px) scale3d(1,0,1);
		-webkit-transform-origin:50% 0%;
	}
	100% {
		-webkit-transform:translate3d(716px,125px,0px) scale3d(1,1,1);
		-webkit-transform-origin:50% 0%;
	}
}
@keyframes ani-animQ3-an-obj-17-0 {
	0% {
		transform:translate3d(716px,125px,0px) scale3d(1,0,1);
		transform-origin:50% 0%;
	}
	100% {
		transform:translate3d(716px,125px,0px) scale3d(1,1,1);
		transform-origin:50% 0%;
	}
}
.run.t-0 #animQ3-an-obj-17 {
	animation-name:ani-animQ3-an-obj-17-0;
	-webkit-animation-name:ani-animQ3-an-obj-17-0;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:7s;
	-webkit-animation-delay:7s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-17 {
	transform:translate3d(716px,125px,0px) scale3d(1,1,1);
	-webkit-transform:translate3d(716px,125px,0px) scale3d(1,1,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}
.restart.t-0 #animQ3-an-obj-17 {
	transform:translate3d(716px,125px,0px) scale3d(1,0,1);
	-webkit-transform:translate3d(716px,125px,0px) scale3d(1,0,1);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}
.restart #animQ3-an-obj-17 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-18 {
	transform:translate3d(726px,164px,0px);
	-webkit-transform:translate3d(726px,164px,0px);
	width:54px;
	height:23px;
	top:0;
	left:0;
	color:rgba(255,255,255,1);
	font-size:18px;
}
@-webkit-keyframes ani-animQ3-an-obj-18-0 {
	0% {
		-webkit-transform:translate3d(726px,164px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(726px,164px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-18-0 {
	0% {
		transform:translate3d(726px,164px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(726px,164px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-18 {
	animation-name:ani-animQ3-an-obj-18-0;
	-webkit-animation-name:ani-animQ3-an-obj-18-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:7.75s;
	-webkit-animation-delay:7.75s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-18 {
	transform:translate3d(726px,164px,0px);
	-webkit-transform:translate3d(726px,164px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-18 {
	transform:translate3d(726px,164px,0px);
	-webkit-transform:translate3d(726px,164px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-18 {
	animation-name:none !important;
	-webkit-animation-name:none !important;
}
#animQ3-an-obj-19 {
	transform:translate3d(722px,199px,0px);
	-webkit-transform:translate3d(722px,199px,0px);
	width:120px;
	height:20px;
	top:0;
	left:0;
	font-size:13px;
}
@-webkit-keyframes ani-animQ3-an-obj-19-0 {
	0% {
		-webkit-transform:translate3d(722px,199px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate3d(722px,199px,0px);
		opacity:1;
	}
}
@keyframes ani-animQ3-an-obj-19-0 {
	0% {
		transform:translate3d(722px,199px,0px);
		opacity:0;
	}
	100% {
		transform:translate3d(722px,199px,0px);
		opacity:1;
	}
}
.run.t-0 #animQ3-an-obj-19 {
	animation-name:ani-animQ3-an-obj-19-0;
	-webkit-animation-name:ani-animQ3-an-obj-19-0;
	animation-duration:0.25s;
	-webkit-animation-duration:0.25s;
	animation-delay:8.25s;
	-webkit-animation-delay:8.25s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
.t-0 #animQ3-an-obj-19 {
	transform:translate3d(722px,199px,0px);
	-webkit-transform:translate3d(722px,199px,0px);
	opacity:1;
}
.restart.t-0 #animQ3-an-obj-19 {
	transform:translate3d(722px,199px,0px);
	-webkit-transform:translate3d(722px,199px,0px);
	opacity:0;
}
.restart #animQ3-an-obj-19 {
	animation-name:none !important;
	-webkit-animation-name: none !important;
}