﻿.refs{width:1024px; height:768px; background:url('shared_assets/img/bg.png') no-repeat top left #fff; display:block;}

.refs h1{margin:20px 0 0 50px;}

.refs #closePopup{top:20px;}

.refs .tabs-wrap{width:980px; margin:-10px auto 0 auto; padding:30px;}
.refs .tabs-wrap .tab {
    border-radius: 8px 8px 0 0;
    display:inline-block;
    padding:14px 10px 8px;
    font-size:20px;
    line-height:25px;
    color:#fff;
    box-shadow:3px 0 2px #666;		
    margin:0 10px 0 0;
}

.refs .tabs-wrap .tab.primary-bg.active, .refs .tabs-wrap .tab.secondary-bg.active{background: #E8343B;}

.refs .tabs-wrap .tab.primary-bg{
    background:#009B78;
}

.refs .tabs-wrap .tab.secondary-bg{
    background:#009B78;
}

.refs .tabs-wrap .panel {
    background:#D9F0EB;
    border-radius:0 8px 8px 8px;
    box-shadow:3px 3px 4px #666;	
    color:#000;
    padding:10px;
    font-size:18px;
}

.refs .tabs-wrap ul { position: absolute; width: 900px; }
.refs .tabs-wrap li{background:none; font-size:14px;}

.refs .primary-panel{height:470px;}
.refs .secondary-panel{height:470px;}
