﻿#splash { background: transparent url('../../content/img/splash/splash.jpg') no-repeat 0 0; }

#splash h1 {line-height:56px; font-family:HelveticaNeueRoman;}
#splash h1 sup {font-size:16px; position:relative; top: -27px; left: -1px; }
#splash h1 span{ font-size: 50px;}
#splash h1.primary { font-size: 38px; position:absolute; top:110px; left: 210px;}
#splash h1.title-1 { font-size: 36px; position: absolute; top: 170px; right: 166px; }
#splash h1.title-2 { font-size: 36px; position: absolute; top: 215px; right: 223px; }
#splash h1.title-3 { font-size: 36px; position: absolute; top: 260px; right: 54px; }

